html {
  height: 100%;
  min-height: auto;
}
body {
  height: auto;
  min-height: 100%;
}
.error-403{
    background-image: url(/img/login-bg.jpg);
    padding: 0;
    margin: 0; 
       
}
.central-container{
    width: 400px;
    margin: 40px auto;
}
.error-403 h1{
    color: var(--main-color);
    text-align: center;
    font-size: 40px;
    display: block;
    padding: 0;
    margin: 0 0 10px 0;
}
.error-403 .annotation{
    color: #4A4A4A;
    text-align: center;
    display: block;
    font-size: 18px;
    margin-top: 0;
}
.error-403 form{
    background: #fff;
    padding: 30px;
}
.error-403 form .title{
    color: var(--main-color);
    font-size: 24px;
    line-height: 28px;    
}
.error-403 form .title span{
    display: block;
    color: var(--gray);
    font-size: 18px;
    line-height: 30px;
    padding-top: 5px;
}