.annotation{
    font-size: 24px;
    line-height: 1.5;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    display:block;
}
h2 + .annotation{
    margin-top: -40px;
}
.hero .application-form{
    margin-top: 60px;
}