.annotation{
    font-size: 24px;
    line-height: 1.5;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    display:block;
}
h2 + .annotation{
    margin-top: -40px;
}
.hero .application-form{
    margin-top: 60px;
}
footer{
    background: var(--main-color);    
    padding: 60px 0;
    color: var(--white)    ;
}
footer .inner{
    width: 960px;    
}
footer .logo img{
    display: block;
    margin: 0 auto;    
}
footer .menu{
    margin: 60px auto 80px auto;    
    align-items: stretch;
}
footer .menu li{
    font-size: 14px;
    display: block;
    text-transform: uppercase;
}
footer .menu li + li{
    margin-top: 10px;
}
footer .menu li.title{
    font-size: 18px;
    font-family: var(--secondary-font);
    font-weight: bold;
    margin-bottom: 20px;
}
footer .menu li a{
    border-bottom: 1px solid transparent;
}
footer .menu li a:hover{
    border-color: var(--white);
}
footer .menu li .small{
    text-transform: none;
    font-size: 12px;
}

footer .bottom .payment-info {
    width: 600px;
}

footer .bottom .payment-info .title {
    font-size: 18px;
    font-weight: bold;
}

footer .bottom .payment-info .flex {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    align-items: baseline;
}

footer .bottom .payment-info .flex div {
}

footer .copyright {
    opacity: 0.5;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}

footer .social {
    height: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    width: 140px;
    margin: 10px auto;
}

footer .social li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    font-size: 20px;
    color: var(--white);
}
footer .social li + li{
    margin: 0;
}

.tour-form {
    margin-top: 0px;
    background: #000;
}

.tour-form .text {
    flex: 0 1 calc( 34% - 10px );
    color: var(--white);
    margin: 30px 0;
    position: relative;
}

.tour-form .text b {
    display: block;
    font-size: 28px;
    margin-bottom: 10px;
}

.tour-form form {
    margin: 0 40px;
}

.tour-form form .row {
    flex: 0 1 calc( 16% - 10px );
}
/* application form */
.application-form {
    overflow: hidden;
}


.middle-form-container form .upload-container .row:first-of-type{
    height: 40px;    
}
.middle-form-container form .upload-container .row:last-of-type,
.middle-form-container .upload-container .row,#background-shadow-inner form .upload-container .row,#background-shadow-inner form .upload-container .row {
    height: 10px;
    line-height: 20px;
}

.middle-form-container .upload-container .row + .row {
    margin-top: 5px;
}
#background-shadow-inner form .upload-container .row + .row{
    height: 20px;
    min-height: 20px;
    margin: 0;
}
/* paginator */
.paginator {
    margin: 0;
    height: 50px;
    line-height: 48px;
    overflow: visible;
    display: flex;
}

.paginator .inner {
    display: flex;
    height: 50px;
    width: auto;
}

.paginator span, .paginator a {
    color: #000;
    position: relative;
    padding: 0 20px;
    height: 50px;
    display: block;
    background: var(--gray-light-bg);
    border: none;
    line-height: 50px;
    margin: 0 2px;
}

.paginator span:hover, .paginator a:hover {
    border: none;
    background: var(--main-color-light);
}

.paginator .active {
    color: #fff;
    z-index: 10;
    background-color: var(--main-color);
}

.paginator .page-left,.paginator .page-right {
    font-size: 28px;
    padding: 0;
    width: 50px;
    text-align: center;
}

.paginator .page-left svg, .paginator .page-right svg {
    width: 13px;
    transform: translateY(-4px);
}
/* calculator-form */
.application-lead,
.calculator-form {
    margin-top: -140px;
    width: 1240px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    padding: 30px;
    border: 1px solid #838383;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    font-size: 20px;
}

.calculator-form .title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.calculator-form .flex {
    margin: 30px 0;
}

.calculator-form form .item {
    background: var(--gray-light-bg);
    border-radius: 3px;
    width: 320px;
    display: flex;
    height: 40px;
    align-items: center;
    padding: 20px;
    justify-content: inherit;
}

.calculator-form form .item .checkbox {
    width: 30px;
    height: 30px;
}

.calculator-form form .item .checkbox.on:before {
    font-size: 60px;
    transform: translate(-11px, -22px);
}

.calculator-form form .item .text {
    font-size: 16px;
    margin: 0 20px;
}

.calculator-form form .item .text b {
    display: block;
    font-size: 18px;
}

.calculator-form form .item .icon {
    display: block;
    width: 46px;
    height: 44px;
    padding: 0;
}

.calculator-form form .item .anvil {
    background: url('/img/anvil-icon.svg') no-repeat center;
}

.calculator-form form .item .delivery {
    background: url('/img/delivery-icon.svg') no-repeat center;
}

.calculator-form form .item .safety {
    background: url('/img/safety-icon.svg') no-repeat center;
}

.calculator-form form .plus {
    width: 24px;
    height: 24px;
    position: relative;
}

.calculator-form form .plus:after,
.calculator-form form .plus:before {
    content: "";
    width: 100%;
    height: 4px;
    background: var(--main-color);
    position: absolute;
    top: 50%;
    margin-top: -2px;
    display: block;
}

.calculator-form form .plus:after {
    transform: rotate(90deg);
    position: absolute;
}

.calculator-form .button {
    width: 400px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.application-lead{
    font-size: 20px;
}
.application-lead b {
    display: block;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.application-lead .button {
    float: right;
}



/* contacts */
.contacts .address {
    font-size: 36px;
    line-height: 54px;
    margin: -30px 0 60px 0;
    text-align: center;
    display: block;
}

.contacts ul {
    margin-bottom: 60px;
}

.contacts ul li {
    font-size: 24px;
}

.contacts ul li b {
    display: block;
    font-size: 18px;
    margin: 20px 0 10px 0;
}
.contacts ul li b i{
    font-weight: normal;
    font-size: 80%;
}
.contacts ul li a {
    font-size: 18px;
    color: var(--main-color);
}

.contacts .map {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    position: relative;
    background: var(--gray);
}

.contacts .map .image {
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    width: 260px;
}

.contacts .map span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    color: var(--white);
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}  