@charset "UTF-8";

* {
    -webkit-overflow-scrolling: touch;
}
/* common correction elements */
html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
    font-size: 12px
}
body,
html {
    height: 100%;
}
body {
    font: normal 16px var(--main-font);
    line-height: 1.4;
    color: var(--text);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;     
} 
body.menu-top-is-open{
    overflow: hidden;
}  
@media (max-width: 767px) {
    html.modal-active {
        margin-right: 0;
    }
} 
.modal-active {
    overflow: hidden;
}
body.modal-active {
    margin-right: 0!important;
}
.wrapper{
    min-width: 100%;
    min-height: 100%;
    padding-top: 70px;
}
/* typography */
a,
.internal-link,
.external-link {
    color: var(--main-color);  
    cursor: pointer;
}
a,
.pseudo-link{
    color:var(--main-color);
    border-bottom: 1px solid;
    text-decoration: none;
    cursor: pointer;
} 
.pseudo-link{
     border-bottom: 1px dashed var(--main-color);
}
a:hover,
.internal-link:hover,
.external-link:hover
.pseudo-link:hover{
    color: var(--secondary-color);
    
}
a:hover,
.pseudo-link:hover,
.internal-link:hover,
.external-link:hover {
  color: var(--secondary-color);
  text-decoration: none;
  
}
a:hover,
.pseudo-link:hover{
    border-bottom: 1px solid transparent;
}
a.inactive {
    pointer-events: none;
}
sup {
}
sub {
    font-size: 60%;
}


h1 {
    font-size: 54px;
    font-weight: 500;
    margin: 0px 0 40px 0;
    display: block;
    line-height: 62px;
    color: var(--brown);
    text-align: center;
    text-transform: uppercase;
}

.h2,h2 {
    margin: 0 0 40px 0;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
    color: var(--brown);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
}
h2:before{
    content: "";
    display: inline-block;
    width: 27px;
    height: 24px;
    mask: url(/img/h2-icon.svg);
    -webkit-mask: url(/img/h2-icon.svg);
    background-color: var(--main-color);
    margin-right: 10px;
    -webkit-mask-size: 27px auto;   
}
.h2.invert,h2.invert{
    color: var(--white);
}
h2.invert:before{
    background-color: var(--white);
}
h3 {
    font-size: 24px;
    color: var(--text);
    font-weight: 500;
    padding: 0;
    margin: 10px 0 20px 0;
}

.h4,
h4 {
    font-size: 24px;
    line-height: 34px;
    position: relative;
    padding-bottom: 10px;      
    margin-bottom: 20px;
    color: var(--text);
}
.h4:before,
h4:before{
    content:"";
    display: block;
    height: 5px;
    width: 250px;
    position:absolute;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out; 
}
.h4:hover:before{
    background-color: #00ACBC;
}
p {
  padding-bottom: .5em;
}
sup {
    font-size: 70%;
    line-height: 100%;
    vertical-align: top;
}
section{
    margin: 80px 0;
    position: relative;
}
section.bg-cover{
    margin: 0;
    padding: 80px 0;
}
/* фиксированный размер блока */
.bbox{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;    
    -ms-box-sizing:border-box;    
    -o-box-sizing:border-box;   
}
/* убирает эффект float дочерних блоков у главного блока */
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
    clear:both;
} 
.flex,
.flex-top{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-top{
    -webkit-box-align: end;;
    -webkit-align-items: end;;
    -ms-flex-align: end;;
    align-items: end;;
}
.flex-justify{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    space-around, stretch */ -webkit-align-content: flex-end;
    align-content: flex-end;    
}
/* текст в строчку с обрезом */
.text-overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    height: auto;
    max-height: 30px;
    max-width: 600px;
    width: auto;
    white-space: nowrap;
    display: block;
    
}
/* задний фон вписывается в размер блока, не оставляя белых полей */
.bg-cover,
.bg-cover-top{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;  
    z-index: 1;  
}
.bg-cover-top{
    background-position: 50% 5%
}

/* скругление блока 3px */

.hdr,
.before-abs:before{
    content:"";
    display: block;
    z-index: 10;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 3px;
}
.hdr{
    cursor: pointer;
}
.transition{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.transition-off{
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}
.transition-text{
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.shadow-hover{
    position: relative;
}
.shadow,
.shadow-hover:hover{
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.1);
    -ms-box-shadow: 0 2px 10px rgba(0,0,0,.1);
    -o-box-shadow: 0 2px 10px rgba(0,0,0,.1);
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
.shadow-hover:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
}
.shadow-hover:hover:before{
    opacity: 1;
}
.br3{
    border-radius: 3px;
}
.inner{
    width: 1180px;
    margin: 0 auto;
}
.inner.narrow{
    max-width: 940px;
}
@media (max-width: 1237px) {
    .inner{
        width: calc( 100% - 40px );
    }
}
.white{
    color: var(--white);
}
/* filter */
.mobile-version{
    display: none;
}   
.breadcrumbs {
    color: var(--gray);
    font-size: 12px;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 30px);
    text-align: center;
    max-width: 100%;
    align-items: center;
    height: 24px;
    overflow: hidden;
    z-index: 10;
}

.breadcrumbs.clearfix.text-overflow {
}

.breadcrumbs .rightarrow {
    font-size: 10px;
    padding: 0 2px;
}

.breadcrumbs span[itemscope] {
    font-size: 12px;
    line-height: 24px;
    background: var(--gray-light-bg);
    padding: 0 15px;
    display: inline-block;
    height: 24px;
    margin-right: -4px;
    position: relative;
}

.breadcrumbs span[itemscope]:before,.breadcrumbs span[itemscope]:after {
    content: "";
    display: block;
    position: absolute;
    left: -13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 22px 22px;
    border-color: transparent transparent transparent #fff;
    top: -8px;
    z-index: 1;
}

.breadcrumbs span[itemscope]:after {
    left: auto;
    right: -3px;
    border-color: transparent transparent transparent var(--gray-light-bg);
    z-index: 2;
}

.breadcrumbs span[itemscope]:last-of-type:after,
.breadcrumbs span[itemscope]:first-of-type:before {
    display: none;
}

.breadcrumbs span[itemscope] a {
    color: var(--main-color);
    border-bottom: none;
    text-decoration: underline;
    line-height: 15px;
    position: relative;
    z-index: 10;
}

.breadcrumbs span[itemscope] a:hover {
    text-decoration: none;
}

.breadcrumbs span[itemscope]:last-of-type a {
    color: var(--gray);
    text-decoration: none;
    pointer-events: none;
}

.breadcrumbs a:hover {
    border: none;
}

.breadcrumbs.dark span[itemscope]{
    background: none;     
}

.breadcrumbs.dark span[itemscope]:before{
    display: none;
}
.breadcrumbs.dark span[itemscope]:after{
    border: none;
    background: none;
    content: ">";
    position: absolute;
    transform: translate(-6px, 7px) scale(0.6,1);
    font-size: 26px;
}
.icon{
    position: relative;
    padding-left: 40px;
}
.icon:before{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform:translateY(-50%);
    background-position: left;                                
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 30px;
    height: 100%;
}
.navigation{
    margin: 30px auto;
    text-align: center;
}
.navigation a,
.navigation span{
    cursor: pointer;
    color: var(--main-color);
    border-bottom: 1px dashed var(--main-color);
    transition: var(--link-transition);
    margin: 0 10px;
}
.navigation.links a{
    border-bottom-style: solid;
    font-size: 18px;
}
.navigation a:hover,
.navigation span:hover{
    border-bottom-color: transparent;
    
}
.navigation a.active,
.navigation span.active{
    
}
h1 + .navigation{
    margin-top: -20px;
}
.dark-bg:before{
    content:"";
    position: absolute;
    z-index: 0;
    background: rgba(0,0,0,.4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
}
.mobile{
    display: none;
}
.with-dot{
    
}
.with-dot:after{
    content: "•";
    position: relative;
    margin: 0 10px;
    display: inline-block;    
}
.error{
    color: var(--error);
}
.success{
    color: var(--success);
}


.sticky-actions {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 100;
    transition: .3s opacity ease-in-out;
    opacity: 1;
}
.sticky-actions.hidden{
    opacity: 0;
}
.sticky-actions li {
    text-align: right;
    margin: 1px 0;
    color: var(--white);
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    min-width: 40px;
    font-size: 14px;
    transition: .3s all;
    position: absolute;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.195968);
    background: url(/img/kaska-icon.svg) no-repeat 10px 50% var(--main-color);
    border-radius: 3px 0 0 3px;
    padding: 0 10px 0 40px;
    white-space: nowrap;
}
.sticky-actions li.main{
    background-color: var(--secondary-color);
} 

.sticky-actions li.raschet {
    background-image: url('/img/calculator-icon.svg');
    right: -125px;
}

.sticky-actions li.price {
    background-image: url('/img/price-icon.svg');
    right: -126px;
}

.sticky-actions li.call {
    background-image: url('/img/call-icon.svg');
    right: -124px;
}

.sticky-actions li.ask-question {
    background-image: url('/img/question-icon.svg');
    right: -111px;
}

.sticky-actions li.excursion {
    background-image: url('/img/kaska-icon.svg');
    right: -184px;
}

.sticky-actions li.application {
    background-image: url('/img/mail-icon.svg');
    right: -124px;
}

.sticky-actions li:hover {
    right: 0;
    background-color: var(--secondary-color);
}

.sticky-actions li:nth-child(1) {
    top: 0;
}
.sticky-actions li.main:nth-child(1) {
    top: -10px;
}

.sticky-actions li:nth-child(2) {
    top: 41px;
}

.sticky-actions li:nth-child(3) {
    top: 82px;
}

.sticky-actions li:nth-child(4) {
    top: 123px;
}

.sticky-actions li:nth-child(5) {
    top: 164px;
}

.sticky-actions li:nth-child(6) {
    top: 205px;
}
.grecaptcha-badge{
    display:none!important;
}
/* hero-title */
.breadcrumbs + .hero-title{
    margin-top: -24px;
}
@media (max-width: 1024px){
    .breadcrumbs + .hero-title{
        margin-top: -24px;
    }
}
@media (max-width: 767px){
    .breadcrumbs + .hero-title{
        margin-top: -24px;
    }
}
@media (max-width: 576px){
    .breadcrumbs + .hero-title{
        margin-top: 0;
    }
}
.hero-title:before{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.6);
    z-index: 1;
}
.hero-title h1{
    margin: 80px 0;
    color: var(--white);    
    z-index: 10;
    position: relative;
}
.to-top-btn {
    position: fixed;
    right: 6px;
    bottom: 6px;
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    color: #ffffff;
    border: none;
    text-align: center;
    line-height: 54px;
    font-size: 20px;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
}
@media(max-width:460px){
    .to-top-btn{
        bottom: 56px;    
    }
}
.to-top-btn.show{
    opacity: 1;
    visibility: visible;
}
.to-top-btn:hover{
   background: rgba(0, 0, 0, 0.35); 
}
.to-top-btn:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.to-left{
    text-align: left!important;
}
.to-center{
    text-align: center!important;
}
.item{
    border-radius: 3px;
}

/* Kmd Free Form */
.kmd-gift-button{
    display: none;
}
.kmd-gift.modal {
    width: 980px;
    padding: 0;
}

.kmd-gift.modal .inner {
    width: 100%;
    display: flex;
}

.kmd-gift.modal .inner .tiser {
    width: calc( 100% - 320px );
    position: relative;
    background-image: url('/img/free-kmd-bg.jpg');
    background-size: cover;
}

.kmd-gift.modal .inner .tiser:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,.68);
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.kmd-gift.modal .inner .tiser .title {
    position: absolute;
    color: var(--white);
    font-size: 30px;
    left: 40px;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.kmd-gift.modal .inner form {
    width: 320px;
    padding: 20px;
    background: var(--main-color);
}

.kmd-gift.modal .inner form .annotation {
    font-size: 16px;
}

.kmd-gift.modal .inner form .terms {
    margin-top: 80px;
}

.kmd-gift.modal .inner form .terms .button {
    padding: 0;
    display: block;
}
.text-color{
    color: var(--text);
}
.no-border{
    border: none;
}

@media(max-width: 1024px) {
    .kmd-gift.modal {
        width: calc( 100% - 40px );
    }
    .kmd-gift.modal .inner .tiser .title {
        left: 20px;
        right: 20px;
        font-size: 26px;
    }
}

@media(max-width: 767px) {
    .kmd-gift.modal .inner {
        display: block;
    }
    .kmd-gift.modal .inner .tiser {
        width: 100%;
        height: 200px;
    }
    .kmd-gift.modal .inner .tiser .title {
        text-align: center;
    }
    .kmd-gift.modal .inner form {
        width: 100%;
    }
    .kmd-gift.modal .inner form .terms {
        margin-top: 40px;
    }
}
