/* common forms */
textarea,
input[type="number"],
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
.radio-group label, 
.checkbox-group label
{
    font-family: var(--secondary-font), Tahoma;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;    
    -ms-box-sizing:border-box;    
    -o-box-sizing:border-box;      
}

textarea,
input[type="number"],
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"]{
    display: block;
    border: 1px solid #e0e0e0;
    background: #fff;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    padding: 0 10px;
    outline: none;
    color: #1A1A1A;
    background: #fff;
    width: 100%;
    float: none;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.8);
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    font-weight: 400;
    font-family: var(--secondary-font);
    box-shadow: none;
}
textarea:hover,
input[type="text"]:hover:not(.disabled),
input[type="number"]:hover:not(.disabled),
input[type="email"]:hover:not(.disabled),
input[type="phone"]:hover:not(.disabled),
input[type="password"]:hover:not(.disabled){
    background-color: rgba(255,255,255,1);
}
textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
input[type="password"]:focus,
.list-selector.dropped{
    border-color:#00ACBC;    
}

::-webkit-input-placeholder {color:#c8c8c8; font-size: 16px;font-family: var(--secondary-font);font-weight: 400;}
::-moz-placeholder          {color:#c8c8c8; font-size: 16px;font-family: var(--secondary-font);font-weight: 400;}/* Firefox 19+ */
:-moz-placeholder           {color:#c8c8c8; font-size: 16px;font-family: var(--secondary-font);font-weight: 400;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c8c8c8; font-size: 16px;font-family: var(--secondary-font);font-weight: 400;}
textarea{
    font-family: var(--secondary-font), Tahoma;
    padding: 15px 30px;
    min-height: 80px;
    min-width: 300px;
}
form label.error,
input.error{
    color: #d20000;
}
input[type="text"].error,
input[type="number"].error,
input[type="phone"].error,
input[type="email"].error,
input[type="password"].error{
    border-color: #d20000;
}
form textarea.error{
    border:1px solid #d20000;
    color:#d20000;
}
.list-selector.disabled,
input[disabled="disabled"]{
    opacity: .5;
}
input[disabled="disabled"]:hover{
    border: 1px solid #e6e6e6;
}
input[type="number"].error + span.error,
input[type="text"].error + span.error{
    position: absolute;
    color: #d20000;
    bottom: -15px;
    font-size: 12px;
    left: 0;
}

.button,
button{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: var(--secondary-color);
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    padding: 0 20px;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-align: center;
    font-family: var(--secondary-font);
    border-radius: 4px;
}
.button:hover:not(.disabled),
.button:active:not(.disabled),
.button:focus:not(.disabled),
button:hover:not(.disabled),
button:active:not(.disabled),
button:focus:not(.disabled){
    background: var(--secondary-color-hover);
    color:#fff;    
    
} 
.button.orange,
button.orange{
    text-decoration: none;
    position: relative;
    background-color: var(--orange);     
    border-color: var(--orange-border);
} 
.button.orange:hover:not(.disabled),
.button.orange:active:not(.disabled),
.button.orange:focus:not(.disabled),
button.orange:hover:not(.disabled),
button.orange:active:not(.disabled),
button.orange:focus:not(.disabled){
    background: var(--orange-hover);
}
.button.white,
button.white{
    color: #000;
    background: #FFF;
}
.button.white:hover:not(.disabled),
.button.white:active:not(.disabled),
.button.white:focus:not(.disabled),
button.white:hover:not(.disabled),
button.white:active:not(.disabled),
button.white:focus:not(.disabled){
    background: #e5e5e5;
    color: #000;
}
/* form */
form,
.form{
    position: relative;
    z-index: 10;    
}
.form .row{
    margin: 20px 0;    
    position: relative;
}

.form .row button,
form .row .button{
    
}
.form .row:before{
    content:"";
    display: table;
    clear: both;
}

textarea.red-border,
input.red-border,
.list-selector.red-border{
    border-color: var(--red);    
}
input + .error, 
textarea + .error, 
.list-selector + .error {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 50%;
    right: 20px;
    background: url(/img/baseline-error-24px.png) no-repeat center top;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}
input + .error, .list-selector + .error.active, textarea + .error.active, input + .error.active {
    opacity: 1;
    filter: alpha(opacity=100);
}
form .row{
    width: 100%;
    margin: 30px 0;
    position: relative;
}
form .row:last-of-type{
    margin: 0;
}
form .col{
    width: 32%;
}
form input{
    width: 100%;
}
form textarea{
    min-height: 170px;
    width: 100%;
    min-width: 100px;
    line-height: 16px;
    padding: 15px;
    position: relative;
    z-index: 10;
}

form button,
form .button{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}     


.middle-form-container{
    margin: 80px 0 0 0;
    padding: 80px 0;
    background: var(--secondary-color-light);    
}
.form-bg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url(/img/form-bg.png);
    z-index: 0;
    opacity: .03;
    background-size: 12% auto;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    width: 200%;
    height: 300%;
    z-index: 0;
}
.middle-form-container form .row:last-of-type,
.middle-form-container .row{
    margin: 10px 0;
}
.middle-form-container .button,
.middle-form-container button{
     width: 250px;
     margin: 0 auto;
}
.middle-form-container .application-form .success .title{
    margin-top: 0;
}
.middle-form-container .application-form .success i:before{
    margin: 10px auto -80px -20px;
}
#background-shadow-inner h1{
    margin: 0 0 40px 0;
    font-size: 36px;    
}
{
    margin: 15px 0;    
}
#background-shadow-inner form .row.file-upload{
    height: auto;
}
#background-shadow-inner .col.upload-container{
    min-height: 60px;
}
#background-shadow-inner form .row.file-upload:first-of-type{
    height: 40px;
    margin: 0 0 10px 0;
}
#background-shadow-inner .col {
    width: 100%;
    margin-bottom: 15px;
    display: block;
}

.file-upload input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-upload label {
}

.file-upload label span {
    padding: 10px;
}

.file-upload label * {
    pointer-events: none;
}

.file-upload span {
    font-size: 14px;
    font-weight: normal;
    color: white;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    /* margin: 10px 0 0 0; */
}

.file-upload label,.file-upload label:hover {
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.file-upload label.white {
    font-weight: normal;
    color: #000;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding: 0 10px;
    width: 190px;
    background: #fff;
    border: none;
    cursor: pointer;
    z-index: 1000;
    text-align: left;
    margin: 0;
    position: relative;
    display: block;
    border-bottom: 1px solid #e0e0e0;
}

.file-upload label.white:hover {
    border: none;
}

.file-upload label.white:before {
    position: relative;
    margin: 10px 10px 0 5px;
}

.file-upload label strong {
    font-weight: 400;
}

.file-upload .text-overflow {
    display: inline-block;
    vertical-align: top;
    color: var(--gray);
    line-height: 26px;
    padding: 0;
    max-width: 350px;
    max-height: 20px;
}

.file-upload .close {
    cursor: pointer;
    color: var(--red);
    display: none;
    position: relative;
    margin-top: 6px;
}

.file-upload .close:before {
    font-size: 16px;
    margin: 0;
    line-height: 12px;
}

form .row.active.file-upload .close {
    display: inline-block;
}

form .row.active.file-upload label {
    display: none;
}

.middle-form-container form .upload-container .row:first-of-type{
    height: 40px;    
}
.middle-form-container form .upload-container .row:last-of-type,
.middle-form-container .upload-container .row,#background-shadow-inner form .upload-container .row,#background-shadow-inner form .upload-container .row {
    height: 10px;
    line-height: 20px;
}

.middle-form-container .upload-container .row + .row {
    margin-top: 5px;
}
#background-shadow-inner form .upload-container .row + .row{
    height: 20px;
    min-height: 20px;
    margin: 0;
}
.application-form{
    overflow: hidden;
}
.list-selector .select:hover{
    color:#000;
}
/* list-selector */
.list-selector:not(.disabled){
    display: block;
    padding: 0;
    height: 50px;
    vertical-align: middle;
    position: relative;
    min-width: 40px;
    border: none;
    background: #e6e6e6;
    min-width: 50px;
}   
.list-selector.disabled{
    background: #e6e6e6;
}
.list-selector a.pick{
    border: 0 none;
    text-decoration: none;
    display: block;
    line-height: 34px;
    height: 34px;
    margin: 0;
    padding: 7px 60px 7px 30px;
    font-size: 18px;
    color: #000;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-selector .pick::-webkit-input-placeholder{
    color: var(--black);
    font-size: 18px;
}
.list-selector .select{
    display: inline-block;
    width: 12px;
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
    border: 0 none;
    position: absolute;
    top: 50%;
    right: 10px;
    height: 8px;
    margin-top: -3px;
    color: #000;
    line-height: 8px;
}
.list-selector .select:before{
    content: "arrow_drop_down";
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
    width: 12px;
    margin: 0;
    text-align: center;
    padding: 0;
    text-indent: -7px;
    font-size: 27px;
    line-height: 8px;
    height: 8px;  
}
.list-selector.dropped .select:before{
    transform: rotate(180deg)
    
}
.list-selector .list-data{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    background: #fff;
    z-index: 100;
    margin-top: 2px;
    top: 100%;
    left: 0;
    position: absolute;
    border: none;
    padding: 0;
    font-size: 14px;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2);
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    overflow: hidden;
    text-align: left;
    max-height: 270px;
    overflow-y: auto;
}
.list-selector .list-data.dropped-top{
    top: auto;
    bottom: 31px;
    margin: 0px 0 0 0;
    height: 200px;    
}
.list-selector.dropped .list-data{
    opacity: 1;
    visibility: visible;
    z-index: 10000;
}
.list-selector.select-status.dropped .list-data {
    min-width: 130%;
}   
.list-selector .list-data li{
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: block;
    margin: 0;
    white-space: nowrap;
    height: 34px;
    line-height: 34px;
}
.list-selector .list-data li.selected,
.list-selector .list-data li:hover{
    color: var(--secondary-color);
    background: #fafafa;
}
.list-selector .list-data li.hidden{
    display: none;
}
.list-selector .list-data li.disabled {
    color: #999;
}

.list-selector .list-data li.disabled:hover {
    background: none;
    color: #999;
    cursor: default;
}
.list-selector.pink:not(.disabled){
    background: var(--secondary-color);    
}
.list-selector.pink .select,
.list-selector.pink .pick{
    color: #fff;
}
.list-selector.pink:hover .select,
.list-selector.pink:hover .pick{
    color: #000000;    
}
.list-selector.pink:not(.disabled):hover{
    background: #ffffff;    
}
#background-shadow form .title{
    margin: 10px 0;
    text-align: left;
    font-size: 20px;    
}
form .flex input{
    margin: 0 10px;
    display: block;
}
form .flex input:first-of-type{
    margin-left: 0;
}
form .flex input:last-of-type{
    margin-right: 0;
}
