.content-list .list {
    flex-wrap: wrap;
    align-items: stretch;
    margin: 60px auto;
    justify-content: flex-start;
}

.content-list .item {
    flex: 0 1 calc( 33.3333333333% - 20px );
    position: relative;
    margin-bottom: 50px;
    transition: --link-transition;
    margin: 40px 10px;
}

.content-list .item .img {
    display: block;
    width: 100%;
    border: 1px solid var(--gray-light);
}

.content-list .item .img:before {
    content: "";
    display: block;
    padding-top: 70%;
}

.content-list .item .title {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4;
    border: none;
    display: block;
    padding: 20px 0 40px 0;
}

.content-list.similar .item .title {
    padding: 20px 0;
}

.content-list .item:hover .category, .content-list .item:hover .bottom, .content-list .item:hover .title {
    color: var(--secondary-color);
}

.content-list .item .category {
    color: var(--gray);
    position: relative;
    z-index: 100;
}

.content-list .item .bottom {
    font-size: 16px;
    color: var(--gray);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.content-item h1 {
    text-align: center;
    line-height: 1.4;
    margin-bottom: 30px;
}

.content-item .info {
    margin: 30px 0;
    text-align: center;
    color: var(--gray);
    font-size: calc(14px + 4 * ((100vw - 768px) / 1132));
}

.content-item .info a {
    color: var(--gray);
}

.content-item .main-photo {
    max-width: 100%;
    display: block;
    margin: 30px auto;
}

.content-item article {
    align-items: baseline;
}

.content-item .left-part {
    width: calc( 100% - 80px );
}

.content-item .right-part {
    width: 40px;
    text-align: center;
}

.content p,.content div,.content ul,.content ol,.content table {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 18px;
    line-height: 30px;
}

.content ol {
    counter-reset: section;
    list-style-type: none;
}

.content h2,.content h3,.content h4 {
    font-size: 22px;
    line-height: 30px;
    padding: 0;
    margin: 50px 0 15px 0;
    text-align: left;
    text-transform: none;
}

.content h2:before, .content h3:before, .content h4:before {
    display: none;
}

.content h2 {
    font-size: 28px;
}

.content ol li, .content ul li {
    padding-left: 30px;
    margin: 15px 0;
    position: relative;
}

.content ol li::before,.content ul li:before {
    content: "";
    background-color: var(--main-color);
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 6px;
    transform: translate(-15px, 11px);
    position: absolute;
}

.content ol li::before {
    counter-increment: section;
    content: counters(section,".") ". ";
    background: none;
    color: var(--main-color);
    transform: translate(0);
    margin-right: 15px;
    left: 0;
}

.content blockquote {
    padding: 30px;
    font-style: italic;
    background: var(--gray-light-bg);
    display: block;
    margin: 0 0 30px 0;
    border-left: 5px solid var(--main-color);
    line-height: 1.4;
}

.content .similar-links {
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 3px;
}

.content .similar-links a {
    color: var(--white);
}

.content .similar-links .title {
    font-size: 150%;
}

.content img {
    max-width: 100%;
    display: block;
}

#social-buttons-content .ya-share2__list {
    display: block;
    width: 40px;
    margin: 0 auto;
    padding: 1px 0;
}

#social-buttons-content .ya-share2__list li {
    display: block;
    margin: 20px auto;
    width: 40px;
}

#social-buttons-content .ya-share2__list li a {
    border: none;
}

#social-buttons-content .ya-share2__list li a .ya-share2__badge {
    border-radius: 0;
    border: none;
}

#social-buttons-content .ya-share2__list li a .ya-share2__badge .ya-share2__icon {
    width: 40px;
    height: 40px;
    background-size: 40px;
}

@media (max-width: 1280px) {
    .content-list .item {
        flex:0 1 calc(33.3333333333% - 10px);
        margin: 5px 5px 40px 5px;
        /* margin: 5px; */
    }

    .content-list .item .bottom {
        font-size: 14px
    }

    .content-item h1 {
        font-size: 40px;
        line-height: 1.4;
        margin-bottom: 30px
    }

    .content-item .info {
        margin: 20px 0
    }

    .content-item .main-photo {
        margin: 20px auto
    }

    .content p,.content div,.content ul,.content ol,.content table {
        font-size: 18px;
        line-height: 28px
    }
}

@media (max-width: 1024px) {
    .content-list .item {
        flex:0 1 calc(50% - 10px)
    }

    .content-list .item .title {
        padding: 15px 0 30px 0;
        font-size: 20px
    }

    .content-list.similar .item .title {
        padding: 15px 0
    }

    .content-list .item .bottom {
        font-size: 12px
    }

    .content-item h1 {
        font-size: 36px
    }

    .content h2,.content h3,.content h4 {
        margin: 40px 0 20px 0
    }

    .content-item .info {
        margin: 15px 0
    }

    .content-item .main-photo {
        margin: 15px -20px 15px -20px;
        max-width: calc( 100% + 40px )
    }

    .content p,.content div,.content ul,.content ol,.content table {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 20px 0
    }

    .content blockquote {
        padding: 20px 20px 1px 20px;
        margin: 0 0 20px 0
    }

    .content-item #social-buttons-content .ya-share2__list li {
        margin: 10px auto
    }
}

@media (max-width: 767px) {
    .content-list .item .title {
        padding:10px 0 25px 0;
        font-size: 18px
    }

    .content-list.similar .item .title {
        padding: 10px 0
    }

    .content-item h1 {
        margin-bottom: 20px
    }

    .content h2,.content h3,.content h4 {
        font-size: 19px
    }

    .content h2 {
        font-size: 22px;
    }

    .content-item .left-part {
        width: 100%
    }

    .content-item .info {
        margin: 10px 0
    }

    .content-item .main-photo {
        margin: 10px -10px 20px -10px
    }

    .content-item article {
        display: block
    }

    .content-item #social-buttons-content .ya-share2__list {
        width: 240px;
        display: flex
    }

    .content-item #social-buttons-content .ya-share2__list li {
        width: 100%
    }

    .content ol li, .content ul li {
        padding-left: 20px;
        margin: 10px 0;
    }
}

@media (max-width: 536px) {
    .content p,.content div,.content ul,.content ol,.content table {
        font-size: 14px;
        line-height: 22px;
        margin: 0 0 15px 0;
    }

    .content blockquote {
        padding: 15px 15px 1px 15px;
        margin: 0 0 15px 0;
    }

    .content-list .list {
        display: block;
        margin: 40px auto;
    }

    .content-item h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .content-item .info {
    }

    .content-item .main-photo {
        margin: 10px auto;
    }

    .content-item article {
    }

    .content-item .right-part {
        width: 100%;
        margin-top: 40px;
    }

    .content ol li, .content ul li {
        padding-left: 10px;
        margin: 5px 0;
    }
}

/* price page */
table.price {
    border-spacing: 10px;
    width: 100%;
}

table.price thead {
    background: var(--main-color);
    color: var(--white);
}

table.price thead td {
}

table.price tr {
    border-bottom: 1px solid var(--gray-light);
}

table.price tbody tr:nth-child(even) {
    background-color: var(--gray-light-bg);
}

table.price td {
    padding: 10px;
    width: 60%;
}

table.price td + td {
    width: 40%;
}

.content table + table, .content table + p {
    margin-top: 40px;
}

,