/* common forms */
textarea,
input[type="number"],
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"]
{
    font-family: var(--font), Tahoma;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;    
    -ms-box-sizing:border-box;    
    -o-box-sizing:border-box;      
}

textarea,
input[type="number"],
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"]{
    display: block;
    background: #fff;
    font-size: 16px;
    line-height: 60px;
    height: 60px;
    border: none;
    padding: 0 20px;
    outline: none;
    color: #1A1A1A;
    background: #fff;
    width: 100%;
    float: none;
    border-radius: 4px;
    background-color: var(--white);
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    font-weight: 400;
    font-family: var(--font);
    box-shadow: none;
}
@media (hover:hover){
    textarea:hover,
    input[type="text"]:hover:not(.disabled),
    input[type="number"]:hover:not(.disabled),
    input[type="email"]:hover:not(.disabled),
    input[type="phone"]:hover:not(.disabled),
    input[type="password"]:hover:not(.disabled){
        background-color: rgba(255,255,255,1);
    }
}
textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
input[type="password"]:focus,
.list-selector.dropped{
    border-color:#00ACBC;    
}

::-webkit-input-placeholder {color:var(--gray); font-size: 16px;font-family: var(--font);font-weight: 400;}
::-moz-placeholder          {color:var(--gray); font-size: 16px;font-family: var(--font);font-weight: 400;}/* Firefox 19+ */
:-moz-placeholder           {color:var(--gray); font-size: 16px;font-family: var(--font);font-weight: 400;}/* Firefox 18- */
:-ms-input-placeholder      {color:var(--gray); font-size: 16px;font-family: var(--font);font-weight: 400;}
textarea{
    font-family: var(--font), Tahoma;
    padding: 15px 30px;
    min-height: 80px;
    min-width: 300px;
}

.checkbox:before, 
.radio:before, .list-selector .select:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    float: left;
    
}
.checkbox {
    padding: 0;
    margin: 0;
    line-height: 19px;
    white-space: nowrap;
    display: inline-block;
    height: 24px;
    cursor: pointer;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    background: #fff;
}

.checkbox input[type="checkbox"] {
    margin: 0 5px 0 -3px;
    vertical-align: middle;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    display: none;
}

.checkbox:before {
    font-size: 20px;
}

@media (hover:hover){
    .checkbox:hover {
        color: var(--secondary-color);
    }
}

.checkbox.on:before {
    color: var(--secondary-color);
    content: "done";
}

.checkbox.disabled {
    cursor: default;
    color: #9B9B9B;
}
input[type=radio] {
    display: none;
}

label.radio {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    height: 19px;
    line-height: 21px;
    margin: 0 10px 10px 0;
}

@media (hover:hover){
    label.radio:hover {
        color: var(--main-color);
    }
}

label.radio:before {
    content: "radio_button_unchecked";
    width: 19px;
    height: 19px;
    position: absolute;
    display: block;
    left: 0;
    top: -1px;
    font-size: 22px;
    color: #9B9B9B;
    margin-right: 5px;
}

@media (hover:hover){
    label.radio:hover:before {
        color: var(--main-color);
    }
}

input[type=radio]:checked + label,input[type=radio]:checked + label:before {
    color: var(--main-color);
}

label.radio.on:before {
    content: "radio_button_checked";
    color: var(--main-color);
}
form label.error,
input.error{
    color: var(--error);
}
input[type="text"].error,
input[type="number"].error,
input[type="phone"].error,
input[type="email"].error,
input[type="password"].error{
    border-color: var(--error);
    background: #FFE1E7;
}
form textarea.error{
    border:1px solid var(--error);
    color:var(--error);
    background: #FFE1E7;
}
.list-selector.disabled,
input[disabled="disabled"]{
    opacity: .5;
}
@media (hover:hover){
    input[disabled="disabled"]:hover{
        border: 1px solid #e6e6e6;
    }
}
.button,
button{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-transform: uppercase;
    border-radius: 4px;
    background: var(--secondary-color);
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    padding: 0 16px;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-align: center;
    font-family: var(--secondary-font);
    border-radius: 4px;
}
@media (hover:hover){
    .button:hover:not(.disabled),
    .button:active:not(.disabled),
    .button:focus:not(.disabled),
    button:hover:not(.disabled),
    button:active:not(.disabled),
    button:focus:not(.disabled){
        background: var(--secondary-color-hover);
        color:#fff;    
        
    } 
} 
.button.white,
button.white{
    color: #000;
    background: #FFF;
}
@media (hover:hover){
    .button.white:hover:not(.disabled),
    .button.white:active:not(.disabled),
    .button.white:focus:not(.disabled),
    button.white:hover:not(.disabled),
    button.white:active:not(.disabled),
    button.white:focus:not(.disabled){
        background: #e5e5e5;
        color: #000;
    }
}
.button.main-color,
button.main-color{
    color: var(--white);
    background: var(--main-color);
    border: none;
}
@media (hover:hover){
    .button.main-color:hover:not(.disabled),
    .button.main-color:active:not(.disabled),
    .button.main-color:focus:not(.disabled),
    button.main-color:hover:not(.disabled),
    button.main-color:active:not(.disabled),
    button.main-color:focus:not(.disabled){
        background: var(--main-color-hover);
        border: none;
    }
}
.button.big,
button.big{
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 120px;
    padding-right: 120px;
    display: inline-block;
    width: auto;
}
/* form */
form,
.form{
    position: relative;
    z-index: 10;    
}
.form .row{
    margin: 20px 0;    
    position: relative;
}

.form .row button,
form .row .button{
    
}
.form .row:before{
    content:"";
    display: table;
    clear: both;
}
form .flex{
    margin: 0 -10px;
}
form .flex .row,
form .flex .row:last-of-type{
    margin: 0 10px;
}
form .row i[data-icon],
.form .row i[data-icon]{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--gray);    
}
input + .error, 
textarea + .error, 
.list-selector + .error {
    position: absolute;
    filter: alpha(opacity=0);
    top: 50%;
    right: 20px;
    background: url(/img/baseline-error-24px.png) no-repeat center top;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}
input + .error, .list-selector + .error.active, textarea + .error.active, input + .error.active {
    opacity: 1;
    filter: alpha(opacity=100);
}
textarea.success,
input.success,
.list-selector.success{
    border-color:var(--green)!important;
}
form .notifications.success,
.form .notifications.success{
    color: var(--green);
}
form .row{
    width: 100%;
    margin: 30px 0;
    position: relative;
}
form .col{
    width: 32%;
}
form input{
    width: 100%;
}
form textarea{
    min-height: 180px;
    width: 100%;
    min-width: 100px;
    line-height: 16px;
    padding: 20px 30px;
    position: relative;
    z-index: 10;
}

form button,
form .button{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}     

form .terms {
    text-align: center;
    margin-bottom: 0;
}

form .terms .button {
}

form .terms .text {
    display: block;
    color: var(--gray);
    font-size: 14px;
    margin-bottom: 10px;
}

.form-bg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url(/img/form-bg.png);
    z-index: 0;
    opacity: .03;
    background-size: 12% auto;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    width: 200%;
    height: 300%;
    z-index: 0;
}      
#background-shadow-inner h1{
    margin: 0 0 40px 0;
    font-size: 36px;    
}
{
    margin: 15px 0;    
}
#background-shadow-inner form .row.file-upload{
    height: auto;
}
#background-shadow-inner .col.upload-container{
    min-height: 60px;
}
#background-shadow-inner form .row.file-upload:first-of-type{
    height: 40px;
    margin: 0 0 10px 0;
}
#background-shadow-inner .col {
    width: 100%;
    margin-bottom: 15px;
    display: block;
}

/* file upload */
.upload-container {
    background: var(--white);
    border-radius: 3px;
    padding: 20px;
    width: auto;
}

.upload-container textarea {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
}
.file-upload {
    max-height: 40px;
    position: relative;
}
.file-upload + .file-upload{
    margin-top: 20px;
}
.file-upload input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-upload label span {
    padding: 10px;
}

.file-upload label * {
    pointer-events: none;
}
.file-upload span {
    font-size: 14px;
    font-weight: normal;
    color: white;
    display: inline-block;
    cursor: pointer;
    padding: 0;
}
.file-upload span:before{
    font-size: 20px;
    transform: translateY(1px);
    display: none;    
}
.file-upload.active span:before{
    display: block;
}
.file-upload label,
.file-upload label:hover {
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.file-upload label.attach-file {
    font-weight: normal;
    color: #000;
    height: 40px;
    line-height: 43px;
    cursor: pointer;
    padding: 0 10px;
    width: 200px;
    background: #ECECEC;
    border: none;
    cursor: pointer;
    z-index: 1000;
    text-align: left;
    margin: 0;
    position: relative;
    display: block;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    border-radius: 3px;
}

.file-upload label.attach-file:hover {
    border: none;
}

.file-upload label.attach-file:before {
    position: relative;
    margin: 10px 10px 0 5px;
}

.file-upload label strong {
    font-weight: 400;
}

.file-upload .text-overflow {
    display: inline-block;
    vertical-align: top;
    color: var(--gray);
    line-height: 22px;
    padding: 0;
    max-width: 350px;
    max-height: 20px;
}

.file-upload .close {
    cursor: pointer;
    color: var(--red);
    display: none;
    position: relative;
    margin-top: 6px;
}

.file-upload .close:before {
    font-size: 16px;
    margin: 0 0 0 20px;
    line-height: 35px;
}

.file-upload.active .close {
    display: inline-block;
}

.file-upload.active label {
    display: none;
}



.list-selector .select:hover{
    color:#000;
}
/* list-selector */
.list-selector:not(.disabled){
    display: block;
    padding: 0;
    height: 50px;
    vertical-align: middle;
    position: relative;
    min-width: 40px;
    border: none;
    background: #e6e6e6;
    min-width: 50px;
}   
.list-selector.disabled{
    background: #e6e6e6;
}
.list-selector a.pick{
    border: 0 none;
    text-decoration: none;
    display: block;
    line-height: 34px;
    height: 34px;
    margin: 0;
    padding: 7px 60px 7px 30px;
    font-size: 18px;
    color: #000;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-selector .pick::-webkit-input-placeholder{
    color: var(--black);
    font-size: 18px;
}
.list-selector .select{
    display: inline-block;
    width: 12px;
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
    border: 0 none;
    position: absolute;
    top: 50%;
    right: 10px;
    height: 8px;
    margin-top: -3px;
    color: #000;
    line-height: 8px;
}
.list-selector .select:before{
    content: "arrow_drop_down";
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
    width: 12px;
    margin: 0;
    text-align: center;
    padding: 0;
    text-indent: -7px;
    font-size: 27px;
    line-height: 8px;
    height: 8px;  
}
.list-selector.dropped .select:before{
    transform: rotate(180deg)
    
}
.list-selector .list-data{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    background: #fff;
    z-index: 100;
    margin-top: 2px;
    top: 100%;
    left: 0;
    position: absolute;
    border: none;
    padding: 0;
    font-size: 14px;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2);
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    overflow: hidden;
    text-align: left;
    max-height: 270px;
    overflow-y: auto;
}
.list-selector .list-data.dropped-top{
    top: auto;
    bottom: 31px;
    margin: 0px 0 0 0;
    height: 200px;    
}
.list-selector.dropped .list-data{
    opacity: 1;
    visibility: visible;
    z-index: 10000;
}
.list-selector.select-status.dropped .list-data {
    min-width: 130%;
}   
.list-selector .list-data li{
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: block;
    margin: 0;
    white-space: nowrap;
    height: 34px;
    line-height: 34px;
}
.list-selector .list-data li.selected,
.list-selector .list-data li:hover{
    color: var(--secondary-color);
    background: #fafafa;
}
.list-selector .list-data li.hidden{
    display: none;
}
.list-selector .list-data li.disabled {
    color: #999;
}

.list-selector .list-data li.disabled:hover {
    background: none;
    color: #999;
    cursor: default;
}

#background-shadow form .title{
    margin: 10px 0;
    text-align: left;
    font-size: 20px;    
}
form .flex input{
    margin: 0 10px;
    display: block;
}
form .flex input:first-of-type{
    margin-left: 0;
}
form .flex input:last-of-type{
    margin-right: 0;
}
@media (max-width: 1024px) {
    form .row {
    }

    textarea, input[type="number"], input[type="text"], input[type="email"], input[type="phone"], input[type="password"] {
        line-height: 50px;
        height: 50px;
        padding: 0 15px;
    }

    .button, button {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }

    .button.big, button.big {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 768px) {
    form .row {
        margin: 15px 0;
    }
    form .flex .row:last-of-type,
    form .row + .row{
        margin-top: 15px;
    }

    textarea, input[type="number"], input[type="text"], input[type="email"], input[type="phone"], input[type="password"] {
        line-height: 40px;
        height: 40px;
        padding: 0 10px; 
        font-size: 14px;   
    }
    form textarea{
        padding: 10px; 
        font-size: 14px;    
    }
    ::-webkit-input-placeholder {font-size: 14px;}
    ::-moz-placeholder          {font-size: 14px;}/* Firefox 19+ */
    :-moz-placeholder           {font-size: 14px;}/* Firefox 18- */
    :-ms-input-placeholder      {font-size: 14px;}

    .button, button {
        height: 40px;
        line-height: 40px;
        font-size: 15px;
    }
    .button.big, button.big {
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        padding-left: 60px;
        padding-right: 60px;
    }
    form .terms .text{
        font-size: 12px;
        line-height: 1.4;
    }
}

@media (max-width: 576px) {
    form .row {
        margin: 10px 0;
    }
    form .flex .row:last-of-type,
    form .row + .row{
        margin-top: 10px;
    }
    .button.big, button.big {
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
    }
    form .terms .text{
        font-size: 11px;
        line-height: 1.4;
    }

}

.form-success-container {
    padding: 80px 0;
}

.form-success-container i {
    display: block;
    color: var(--white);
    width: 100%;
    margin: 20px auto;
}
.form-success-container i:before{
    font-size: 64px;
    margin: 20px auto;
    display: block;
    width: 100%;
    text-align: center;
    height: 64px;
}
.form-success-container .title {
    display: block;
    width: 220px;
    margin: 40px auto;
    color: var(--white);
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
}

.form-success-container .text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 40px auto!important;
    text-align: center;
    width: 270px;
    color: var(--white);
}
a.closebutton.button{
    display: none;
    margin: 0 auto;
    display: block;
    width: 260px;
    padding-left: 40px;
    padding-right: 40px;
}
.modal a.closebutton.button{
    display: block;
}
.invert-form .form-success-container i{
    color: var(--main-color);
}
.invert-form .form-success-container .title,
.invert-form .form-success-container .text{
    color: var(--text);
}
/* form big */
form.big {
    /* padding: 30px; */
    background: #fff;
}

form.big fieldset {
    padding: 0;
}

form.big fieldset .item {
    background: var(--gray-light-bg);
    padding: 30px 20px 0 20px;
}

form.big fieldset .item h2 {
    margin: 0;
    border-bottom: 1px solid var(--gray-light);
    padding-bottom: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--main-color);
}

form.big fieldset .row {
    display: flex;
    padding: 20px 0;
    margin: 0;
}

form.big fieldset .row.disabled {
    display: none;
}

form.big fieldset .row + .row {
    border-top: 1px solid var(--gray-light);
}

form.big fieldset .full-width {
    width: 100%;
}

form.big fieldset .quater-width {
    width: 25%;
    display: inline-block;
}

form.big fieldset .row.inline {
    display: inline-block;
}

form.big fieldset .row.inline + .row.inline,form.big fieldset .row.inline + .row.inline + .row.inline + .row.inline {
    margin-left: 3%;
}

form.big fieldset .row.inline + .row.inline + .row.inline {
    margin-left: 0;
}

form.big fieldset .row label {
    font-size: 20px;
    flex: 0 1 40%;
    margin-right: 20px;
}

form.big fieldset .row span {
}

form.big fieldset .row input:not([type="file"]) {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: normal;
}

form.big fieldset .row input[type="submit"],
form.big fieldset .row button {
    margin-top: 60px;
}

form.big fieldset .tinyMCE {
    min-height: 200px;
}

form.big fieldset .tinyMCE.extended {
    min-height: 600px;
}

form.big fieldset .row input::-webkit-input-placeholder {
    color: var(--gray);
    font-size: 18px;
}

form.big fieldset .row.hr-row {
    width: 100%;
    height: 1px;
    background: #E8E8E8;
    border: none;
    padding: 0;
    margin: 60px 0;
}

form.big fieldset .row.hr-row .title {
    font-size: 16px;
    display: block;
    color: var(--main-color);
}

form.big fieldset .row.block-title {
    background-color: var(--main-color-light);
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

form.big fieldset .row .tip-text {
    position: absolute;
    top: 0;
    right: -100%;
    left: calc( 100% + 60px );
}

form.big fieldset .row .tip-text .title {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
    line-height: 21px;
}

form.big fieldset .row .tip-text p {
    font-size: 16px;
    color: #4A4A4A;
}

form.big fieldset .row .interval-selector span {
    width: calc( 50% - 15px );
    position: relative;
}

form.big fieldset .row .interval-selector input {
    width: 100%;
}

form.big fieldset .row .interval-selector:before {
    content: "-";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 42px;
    margin-left: -5px;
    line-height: 0px;
}

form.big fieldset .row .add:before {
    content: "+";
    width: 24px;
    height: 24px;
    color: var(--main-color);
    background-color: #fff;
    display: inline-block;
    line-height: 24px;
    margin-right: 10px;
}

form.big fieldset .row .delete {
    color: var(--red);
    cursor: pointer;
    text-align: center;
    border-bottom: 1px dashed var(--red);
    width: 100%;
    display: inline;
    margin: 0 auto;
    line-height: 20px;
}

form.big fieldset .row .delete:before {
    line-height: 28px;
    margin-right: 10px;
}

form.big fieldset .row .delete:hover {
    border-bottom-color: transparent;
}

form.big fieldset .row .dates {
    position: relative;
    color: var(--main-color) ;
}

form.big fieldset .row .dates span:before {
    position: absolute;
    right: 10px;
    top: 16px;
}

form.big fieldset .pending .item {
    margin: 60px 0;
    padding-bottom: 60px;
    border-bottom: 1px solid #E8E8E8;
}

form.big fieldset .pending .item:first-of-type {
    margin-top: 30px;
}

form.big fieldset .row.switcher-container .fieldwrapper,form.big fieldset .row.switcher-container label {
    display: inline-block;
    float: left
}

form.big fieldset .row.switcher-container .fieldwrapper {
    margin-left: 10px;
}

form.big fieldset .row .switcher {
    position: relative;
    width: 38px;
    height: 20px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--red);
    ;border-radius: 13px;
    background: var(--red);
    z-index: 10;
}

form.big fieldset .row .switcher:before {
    content: "";
    width: 16px;
    height: 16px;
    background: #fff;
    margin-left: 20px;
    position: absolute;
    top: 2px;
    transition: all .3s;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    border-radius: 14px;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

form.big fieldset .row .switcher.active {
    border: 2px solid var(--green);
    ;background: var(--green);
    ;}

form.big fieldset .row .switcher.active:before {
    margin-left: 2px;
}

form.big fieldset .row .switcher-label {
    position: relative;
    top: -5px;
    margin-right: 8px;
}

form.big fieldset .row .switcher + .switcher-label {
    margin-left: 5px;
}

form.big fieldset .row label.radio {
    flex: 0 1 auto;
}
form.big fieldset .row.text{
    display: block;
    
}
form.big fieldset .row.text .file-upload{
    margin: 20px 0 10px 0;
    max-height: 60px;
} 
form.big fieldset .row.text .file-upload + .file-upload{
    max-height: 20px;
}
form.big fieldset .row.text .file-upload .close:before {
    font-size: 16px;
    margin: -25px 0 0 20px;
    line-height: 35px;
}
form.big fieldset .row.text .file-upload input{
    z-index: 1001;
    height: 70px;
    width: 260px;
    cursor: pointer;
}
form.big fieldset .row.text .file-upload.active input{
    display: none;
    
}
form.big fieldset .row.text .file-upload label.attach-file{
    height: 60px;
    line-height: 60px;
    background: var(--main-color);
    color: var(--white);
    width: 260px;
}
form.big fieldset .row.text .file-upload label.attach-file:before{
    margin-top: 20px;
}
form.big fieldset .row.terms{
    padding: 0;
    border: 0;
    background: #fff;
    position: relative;
    z-index: 10;
    transform: translateY(1px);    
}
@media( max-width: 1280px ){
    form.big fieldset .item{
        
    }
    form.big fieldset .item h2{
        
    }
    form.big fieldset .row label{
        
    }
    form.big fieldset .row input:not([type="file"]){
        
    }
    form.big fieldset .row.text{
        
    }
}
@media( max-width: 1024px ) {
    form.big fieldset .row {
    }

    form.big fieldset .item {
    }

    form.big fieldset .item h2 {
        padding-bottom: 20px;
    }

    form.big fieldset .row label {
        font-size: 18px;
        flex: 0 1 50%;
        margin-right: 10px;
    }

    form.big fieldset .row input:not([type="file"]) {
        height: 40px;
        line-height: 40px;
    }

    form.big fieldset .row.text {
    }
}

@media( max-width: 767px ) {
    form.big fieldset .row {
        display: block;
        padding: 15px 0;
    }

    form.big fieldset .item {
        padding: 20px 10px 0 10px;
    }

    form.big fieldset .item h2 {
        padding-bottom: 10px;
    }

    form.big fieldset .row label:not(.attach-file) {
        font-size: 16px;
        margin: 0 0 5px 0;
        display: block;
    }

    form.big fieldset .row input:not([type="file"]) {
    }

    form.big fieldset .row.text {
    }
    form.big fieldset .row .button.big{
        display: block;
    }
}