header {
    background: var(--main-color);
    height: 70px;
    align-items: center;
    padding: 0 16px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

header > * {
    z-index: 10;
}

header .logo {
    display: flex;
    border: none;
    align-items: center;
    position: relative;
}

/*
header:before{
    content:"";
    position: absolute;
    left: 0;
    right: 0;

    top: 0;
    bottom: 0;
    background: url(https://i.ytimg.com/vi/wRDaG_dvsGg/maxresdefault.jpg);
    opacity: .2;
    background-size: 200px auto
}
header .logo:before{
    content:"";
    display: block;
    width: 32px;
    height: 20px;
    position: absolute;
    left: -11px;
    top: -8px;
    background: url('/img/santa-hat.svg') no-repeat top left;
    background-size: 32px auto;
}
 */
header .logo img {
    display: block;
    width: 164px;
}

header .logo span {
    color: var(--white);
    font-size: 12px;
    display: block;
    line-height: 1.2;
    margin-left: 10px;
    max-width: 180px;
}

header .actions {
    color: #fff;
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
}

header .actions .send:before {
    background-image: url(/img/send-icon.svg);
    left: 20px;
    background-size: auto 27px;
    width: 40px;
    display: none;
}

header .actions .phone:before {
    background-image: url('/img/phone-icon.svg');
}

header .actions .email:before {
    background-image: url('/img/email-icon.svg');
}

header .actions .email:after,
header .actions .phone:after {
    content: "Звоните бесплатно по России";
    display: block;
    font-size: 9px;
    position: absolute;
    left: 0;
    top: 18px;
    width: 100%;
    text-align: center;
    text-transform: none;
    font-family: var(--main-font);
    font-weight: normal;

}

header .actions .email:after {
    content: "Заказ металлоконструкций от 200 т";
    white-space: nowrap;
}
header .actions a,header .actions span {
    border: none;
    padding-left: 22px;
    position: relative;
    color: var(--white);
}

header .actions .phone {
    margin-left: 30px;
}

header .actions a:before,header .actions span:before {
    background-size: auto 16px;
}

header .actions .email {
    margin-left: 30px;
}

header .actions .send {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

header .search-button {
    cursor: pointer;
    color: var(--white);
    min-height: auto;
    margin: 0;
    transition: var(--transition);
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
}

header .search-button:hover {
    color: var(--secondary-color);
}

nav {
}

nav span,nav a {
    font-family: var(--secondary-font);
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    border: none;
    border: 2px solid rgba(60,136,200,0);
    padding: 8px 20px 8px 20px;
    border-radius: 3px;
    position: relative;
    transition: var(--link-transition);
    display: block;
    cursor: pointer;
}

nav li.active a {
    pointer-events: none;
    border-color: var(--white);
}

@media (hover: hover) {
    nav li:hover a {
        color: var(--white);
    }

    nav li:hover a:not(.inactive) {
        border-color: var(--white);
        border-bottom-width: 2px;
    }
}

header nav .container li {
    position: relative;
    display: inline-block;
}

header nav .container li a {
}

header nav .container li ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    top: 34px;
    transition: var(--transition);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);
    z-index: 10;
    padding-top: 16px;
}

header nav .container li ul:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #ffffff transparent;
}

@media (hover: hover) {
    header nav .container li:hover ul {
        opacity: 1;
        visibility: visible;
    }
}

header nav .container li ul li {
    display: block;
    padding: 5px;
    background: var(--white);
    margin: 0 0 -5px 0;
}

header nav .container li.expanded .submenu-title {
    padding-right: 20px;
}

header nav .container li.expanded:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #ffffff transparent transparent transparent;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

header nav .container li ul li a {
    color: var(--main-color);
    border: none;
    display: block;
    transition: none;
    padding: 5px 10px;
}

header nav .container li ul li a:not(.inactive) {
    pointer-events: all;
}

@media (hover: hover) {
    header nav .container li ul li a:not(.inactive):hover {
        color: var(--white);
        background: var(--secondary-color);
    }
}

/*
header .ny {
    content: "";
    display: block;
    background-image: url(https://s73937.cdn.ngenix.net/public/src/assets/images/new-year/header-desktop.svg);
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
    opacity: .6;
}
header:before {
    content: "";
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(/img/23f.png) no-repeat left center;
    background-size: 30px auto;
    left: 11px;
    top: -16px;
}
*/
@media(max-width: 1600px) {
    header .ny {
        top: 45%;
    }
}

@media(max-width: 1440px) {
    header .ny {
        top: 46%;
    }
}

@media(max-width: 1280px) {
    header .ny {
        top: 55%;
    }
}

@media(max-width: 1024px) {
    header .ny {
        top: 54%;
    }


}

@media(max-width: 767px) {
    header .ny {
        top: 51%;
    }
}

@media(max-width: 480px) {
    header .ny {
        top: 35%;
    }
}

header.header-clear .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header.header-clear .logo span {
    display: block;
    margin-left: 10px;
}

@media (max-width: 700px) {
    header.header-clear .logo {
        left: 10%;
        right: 10%;
        transform: translate(0, -50%);
    }
}

@media (max-width: 420px) {
    header.header-clear .logo {
        left: 2%;
        right: 2%;
        transform: translate(0, -50%);
    }
}