.mainpage header {
    background: var(--main-color);
    height: 80px;
    align-items: center;
    padding: 0 30px;
}

.mainpage header .logo {
    width: 150px;
    display: block;
    border: none;
}

.mainpage header .logo img {
    display: block;
}

.mainpage header .actions {
    font-size: 24px;
    width: calc( 80% );
}

.mainpage header .send.button {
    margin: 0;
    font-size: 24px;
    padding-left: 70px;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.195968);
    border: none;
}
}

.mainpage header .send.button:before {
    background-image: url('/img/send-icon.svg');
    left: 19px;
}

.mainpage header .email {
    margin: 0;
    border: none;
}

.mainpage header .phone {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .mainpage header .actions{
        font-size: 16px; 
        width: calc( 75% );   
    }
    .mainpage header .send.button{
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        padding-left: 50px;
    }
    .mainpage header .send.button:before{
        left: 12px;
        background-size: auto 20px;
    }
}
@media (max-width: 768px) {
    .mainpage header .actions{
        
    }
    .mainpage header .send.button{
        
    }
}
@media (max-width: 576px) {
    .mainpage header .actions{
        
    }
    .mainpage header .send.button{
        
    }
}
