:root {
  --text: #202020;
  --main-color: #3C88C8;
  --main-color-hover: #2f7bba;
  --main-color-light: #bedffb;
  --secondary-color: #E11741;
  --secondary-color-hover: #d1133a;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Roboto Condensed', sans-serif;
  
  --white: #ffffff;
  --red: #CF4455;
  --error: #CF4455;
  --red-hover: #BA3D4C;
  --gray: #9B9B9B;
  --gray-light: #e8e8e8;
  --gray-light-bg: #F5F5F5;
  --success:#93C35E;
  --green:#93C35E;
  --green-hover:#84AF54;
  
  --link-transition: color .2s ease-in-out, border .2s ease-in-out;
  --transition: all .2s ease-in-out;
}