    <section>
        <div class="narrow inner">
            <h1>{if!empty $h1}{$h1}{else}{$item['title']}{/if}</h1></h1>
            <div class="content">
                {$item['content']}   
            </div>
            {include /templates/gallery.html}
        </div>

    </section>

    <section class="hero bg-cover" style="background-image: url('/img/appliction-hero-bg.jpg');">
        <div class="inner">
            <h2 class="invert">Остались вопросы?</h2>
            <span class="annotation white">Свяжитесь с нами - и получите ответы на них!</span>
            {php:$middle = true}
            {php:$application_type = 'assortment_list_bottom_application';}
            {include /templates/includes/form.html}
        </div>
    </section>