
.news-list .list {
    flex-wrap: wrap;
    align-items: stretch;
    margin: 60px auto;
}

.news-list .item {
    flex: 0 1 calc( 33% - 20px );
    position: relative;
    margin-bottom: 50px;
    transition: --link-transition;
}

.news-list .item .img {
    display: block;
    width: 100%;
}

.news-list .item .img:before {
    content: "";
    display: block;
    padding-top: 70%;
}

.news-list .item .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    border: none;
    display: block;
    padding: 30px 30px 60px 30px;
}

.news-list .item:hover .bottom,.news-list .item:hover .title {
    color: var(--secondary-color);
}

.news-list .item .bottom {
    font-size: 16px;
    color: var(--gray);
    position: absolute;
    bottom: 0;
    left: 30px;
    z-index: 10;
}

.news-item h1{
    text-align: center;
    line-height: 1.4;  
}

.news-item .info{
    margin: 60px 0;  
    margin-top: calc(20px + 40 * ((100vw - 768px) / 1132)); /* 1900 -> 768 sizes 60 -> 20 */
    margin-bottom: calc(20px + 40 * ((100vw - 768px) / 1132)); /* 1900 -> 768 sizes 60 -> 20 */
    text-align: center;
    color: var(--gray);
    font-size: calc(16px + 6 * ((100vw - 768px) / 1132)); /* 1900 -> 768 sizes 22 -> 16 */
}
.news-item .main-photo{
    max-width: 100%;
    max-height: 600px;
    display: block;
    margin: 60px auto;
}
.news-item article{
    align-items: baseline;
}
.news-item .left-part{
    width: calc( 100% - 260px );
}
.news-item .right-part{
    width: 240px;
    text-align: center;
}
@media (max-width: 1280px) {

    .news-list .item {
        flex: 0 1 calc( 33% - 10px );
        margin-bottom: 40px;
    }
    .news-list .item .title {
        padding: 20px 20px 40px 20px;
        font-size: 22px;
    }

    .news-list .item .bottom {
        font-size: 14px;
        left: 20px;
    }
}

@media (max-width: 1024px) {
    .news-list .item {
        flex: 0 1 calc( 33% - 5px );
    }

    .news-list .item .title {
        padding: 15px 15px 30px 15px;
        font-size: 20px;
    }

    .news-list .item .bottom {
        font-size: 12px;
        left: 15px;
    }

}

@media (max-width: 768px) {

    .news-list .item {
        flex: 0 1 calc( 50% - 3px );
    }
    .news-list .item .title {
        padding: 10px 0 25px 0;
        font-size: 18px;
    }

    .news-list .item .bottom {
        left: 0;
    }
}

@media (max-width: 536px) {
    .news-list .list {
        display: block;
    }
    
}