<section class="zakupki">
    <div class="inner">
        <h1>{if!empty $h1}{$h1}{else}Закупки{/if}</h1>
        <div class="content">
            <h2>Уважаемые поставщики!</h2>
            <p>ГК «СПМК» приглашает вас к сотрудничеству в части поставок материально-технических ресурсов. </p>
            <p>Мы заинтересованы в закупке товаров следующих номенклатурных групп:  </p>
            <ul>
                <li>Черный металлопрокат;</li>
                <li>Сварочная проволока (1,2мм, омедненная);</li>
                <li>Промышленные газы (Евромикс, Кислород, Пропан, Аргон);</li>
                <li>Метизы;</li>
                <li>Лакокрасочные материалы;</li>
                <li>Расходные материалы для металлообработки и сварочных работ;</li>
                <li>Электро- и ручной инструмент;</li>
                <li>Расходные материалы для погрузо-разгрузочных работ;</li>
                <li>Спецодежда;</li>
                <li>Хозтовары (бытовая химия и т.п.); </li>
                <li>Канцелярские принадлежности.</li>
            </ul>
            <p>
                <a href="/zakupki/tendery/" title="Тендеры">Список тендеров</a>
            </p>
            <p>Требования к коммерческим условиям:</p>
            <ul>
                <li>Отсрочка платежа от 30 до 60 календарных дней;</li>        
                <li>Лимит на отгрузку соразмерный обороту по компании за 1-2 месяца</li>        
            </ul>
            <p>Требования к качеству товара:</p>
            <ul>
                <li>Наличие оригинала Сертификата или паспорта качества на ТМЦ при каждой поставке</li>        
                <li>Выезд специалиста в случае некачественного товара в срок не более 2 к/д со дня официального запроса от покупателя. Оперативная замена товара. </li>        
            </ul>
            <p>Требования к доставке товара:</p>
            <ul>
                <li>Поставщик, располагающий собственным автопарком, сам организует доставку товара.</li>        
                <li>При отсутствии собственного автопарка возможен только самовывоз.</li>        
            </ul>
            <p>Если вы заинтересованы в сотрудничестве и готовы предложить нам вашу продукцию, то вам необходимо заполнить Заявку ниже. </p>
            <h2>Заявка для поставщиков и партнеров</h2>
            
            {php:$application_type = 'postavschikam'}
            {include /templates/includes/form.big.html}
        </div>
    </div>
</section> 