<ul class="{$type}">
    {loop $list,$al,$item}
        <li>
            <span class="date start">Дата размещения: <b>{$item['normal_date_start']}</b></span>
            <span class="date end">Дата окончания: <b>{$item['normal_date_end']}</b></span><br />
            {ifeq $type,'archive'}
                <span class="title">{$item['title']}</span>
            {else}
                <a href="/zakupki/tendery/{$item['chpu_title']}/" class="title">{$item['title']}</a>
            {/if}
        </li>
    {/loop $list}
</ul>