/* search */
/* SEARCH */        
.search-form-container{
    opacity: 0;
    visibility: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1000;
    overflow:auto;
    background-color: rgba(255, 255, 255, 0.9);
}    
.search-form-container{
    
}
.search-form-container.active{
    opacity: 1;
    visibility: visible;
    z-index: 10000;
}
    
.search-form-container .closebutton{
    position: fixed;
    background: var(--text);
    color: #fff;
    font-size: 24px;
    right: 60px;
    top: 60px;
    padding: 0;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    
}
.search-form-container .closebutton:hover{
    background: var(--secondary-color);
    
}
.search-form-container .closebutton:before{
    margin: 0;
    font-size: 45px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    color: var(--white);
}
.search-form-container #ya-site-form0 .ya-site-form__search-input-layout{
    margin: 240px auto 0 auto!important; 
}
.search-form-container #ya-site-form0 .ya-site-form__input{
    width: calc( 100% - 100px );
    margin: auto;
}
.search-form-container #ya-site-form0 .ya-site-form__form .ya-site-form__input-text{
    width: calc( 100% - 20px )!important;
    height: 80px!important;
    background: none!important;
    font-size: 50px!important;
    color: var(--black)!important;
    border: none!important;
    border-radius: 0!important;
    border-bottom: 1px solid var(--gray)!important;
    box-shadow: none!important;
    padding: 0!important;
}
 #ya-site-form0 .ya-site-form__form .ya-site-form__input-text:active{
    border-bottom: 1px solid var(--main-color)!important;
}
 #ya-site-form0 .ya-site-form__form .ya-site-form__input-text::-webkit-input-placeholder {color:var(--gray)!important; font-size: 50px!important;}
 #ya-site-form0 .ya-site-form__form .ya-site-form__input-text::-moz-placeholder          {color:var(--gray)!important; font-size: 50px!important;}
 #ya-site-form0 .ya-site-form__form .ya-site-form__input-text:-moz-placeholder           {color:var(--gray)!important; font-size: 50px!important;}
 #ya-site-form0 .ya-site-form__form .ya-site-form__input-text:-ms-input-placeholder      {color:var(--gray)!important; font-size: 50px!important;}
.search-form-container form{
    display: block;
    height: 80px;
}
.ya-site-form__search-input-layout-r{
    display: none!important;
}