{php:$application = !empty($settings['applications_send']) && $settings['applications_send']==1}
{ifempty $application}
    <h1 class="page-title">Форма заявки на соискание премии города Москвы в области архитектуры и градостроительства</h1>
    <div>{$settings['application_text']}</div>
{else}
    {if!empty $submit}
        <h1 class="page-title">Форма заявки на соискание премии города Москвы в области архитектуры и градостроительства</h1>
        
        <div>Спасибо за вашу заявку!<br/>С вами свяжется менеджер Премии.</div>
    {else}
        <form action="/applications/" method="POST" autocomplete="off" enctype="multipart/form-data" class="bid-form">
            <h1 class="page-title">Форма заявки на соискание премии города Москвы в области архитектуры и градостроительства</h1>
            
            <div class="bid-form-step">
                <div class="bid-form-step-title">1. Автор или коллектив авторов материалов архитектурно-градостроительного решения объекта капитального строительства</div>
                <div class="form-block">
                    <label class="input-block">
                        <input type="text" class="input" required="required" name="authors">
                    </label>
                    <div class="form-block-desc">Необходимо представить сведения об авторах (не более трех), указанных в свидетельстве об утверждении архитектурно-градостроительного решения объекта капитального строительства, чей вклад в создание работы был решающим.</div>
                </div>
            </div>

            <div class="bid-form-step">
                <div class="bid-form-step-title">2. Регистрационный номер и дата свидетельства об утверждении архитектурно-градостроительного решения объекта капитального строительства</div>
                    <div class="bid-form-data-row flex-row">
                        <div class="bid-form-data-col flex-row-item">
                            <div class="form-block form-block-inline">
                                <div class="form-block-inline-title">№</div>
                                <label class="input-block">
                                    <input type="text" class="input bid-form-data-number" name="registration_number" required="required">
                                </label>
                            </div>
                        </div>
                        <div class="bid-form-data-col flex-row-item">
                        <div class="form-block form-block-inline">
                            <div class="form-block-inline-title">от</div>
                            <div class="date-input">
                                <label class="input-block">
                                    <input type="text" class="input date-input-day" placeholder="01" required="required" name="registration_day">
                                </label> 
                                <label class="input-block">
                                    <input type="text" class="input date-input-month" placeholder="августа" required="required" name="registration_month">
                                </label> 
                                <label class="input-block">
                                    <input type="text" class="input date-input-year" placeholder="1993" required="required" name="registration_year">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="bid-form-step">
                <div class="bid-form-step-title">3. Наименование объекта капитального строительства</div>
                <div class="form-block">
                    <label class="input-block">
                        <input type="text" class="input" required="required" name="object_title">
                    </label>
                    <div class="form-block-desc">В соответствии со свидетельством об утверждении архитектурно-градостроительного решения объекта капитального строительства.</div>
                </div>
            </div>
            
            <div class="bid-form-step">
                <div class="bid-form-step-title">4. Примечание</div>
                <div class="form-block">
                    <label class="input-block">
                        <textarea class="input textarea" name="notes"></textarea>
                    </label>
                    <div class="form-block-desc">Информация об организации, общественном объединении, творческом союзе, представляющей/ представляющем материалы архитектурно-градостроительного решения объекта капитального строительства на соискание премии.</div>
                </div>
            </div>
            
            <div class="bid-form-step">
                <div class="bid-form-step-title">5. Контактные данные</div>
                <div class="form-block">
                    <div class="contact-input">
                        <label class="input-block">
                            <input type="text" name="name" class="input date-input-name" placeholder="ФИО" required="required">
                        </label> 
                        <label class="input-block">
                            <input type="tel" name="phone" class="input date-input-tel" placeholder="Телефон" required="required">
                        </label> 
                        <label class="input-block">
                            <input type="email" name="email" class="input date-input-email" placeholder="Email" required="required">
                        </label>
                    </div>
                </div>
            </div>
            <div class="submit-wrapp">
                <button type="submit" class="btn submit">ОТПРАВИТЬ ЗАЯВКУ</button>
            </div>
            <input type="hidden" name="submit" value="1" />
        </form>
    {/if}
{/if}
 