{include /modules/mailers/templates/simple.header.html}
<tr> <!-- content - title -->
    <td valign="top" style="border-collapse:collapse; padding:0 0 20px 0; font-size:30px; line-height: 36px;" align="left"> 
    Добрый день!    
    </td>
</tr>
<tr> <!-- content - text -->
    <td valign="top" style="border-collapse:collapse; padding: 0; font-size:18px; line-height: 26px;" align="left"> 
        На портале {$env['host']} новая заявка.<br /><br />
        <b>Автор/коллектив авторов</b><br/>
            {$data['authors']}<br/><br/>
        <b>Регистрационный номер и дата свидетельства</b><br/>
            № {$data['registration_number']} от {$data['registration_day']} {$data['registration_month']} {$data['registration_year']}<br/><br/>
        <b>Наименование объекта</b><br/>
            {$data['object_title']}<br/><br/>
        <b>Примечание</b><br/>
            {$data['notes']}<br/><br/>
        <b>Контактные данные</b><br/>
             Имя: {$data['name']}<br/>
             Телефон: {$data['phone']}<br/>
             Email: {$data['email']}<br/>
    </td>
</tr>
{include /modules/mailers/templates/simple.footer.html}

