{include /modules/mailers/templates/simple.header.html}
<tr> <!-- content - title -->
    <td valign="top" style="border-collapse:collapse; padding:0 0 20px 0; font-size:30px; line-height: 36px;" align="left"> 
    Здравствуйте!<br />
    Заявка #{$id}.   
    </td>
</tr>
<tr> <!-- content - text -->
    <td valign="top" style="border-collapse:collapse; padding: 0; font-size:18px; line-height: 26px; margin-top: 50px" align="left"> 
        
        <span style="font-size: 24px; line-height: 50px; display: block; ">Данные:</span>

        {ifeq $application_type, 'zakupki'}
                {$data['user_comment']}
        {else}
            {if!empty $data['company']}
            <span style="display: block; text-align: left; margin-top: 20px;">
                Компания: <strong>{$data['company']}</strong>
            </span>
            {/if}
            {if!empty $data['name']}
            <span style="display: block; text-align: left; margin-top: 20px;">
                Имя: <strong>{$data['name']}</strong>
            </span>
            {/if}
            
            {if!empty $data['phone']}
            <span style="display: block; text-align: left; margin-top: 20px;">
                Телефон: <strong>{$data['phone']}</strong>
            </span>
            {/if}
            
            {if!empty $data['email']}
            <span style="display: block; text-align: left; margin-top: 20px;">
                Email: <strong>{$data['email']}</strong>
            </span>
            {/if}
            {if!empty $data['service']}
                <span style="display: block; text-align: left; margin-top: 20px;">
                    Услуги: <strong>{$data['service']}</strong>
                </span>
                {if!empty $data['region']}
                    <span style="display: block; text-align: left; margin-top: 20px;">
                        Регион: <strong>{$data['region']}</strong>
                    </span>
                {/if}
            {/if}
            {if!empty $data['date']}
            <span style="display: block; text-align: left; margin-top: 20px;">
                Дата посещения: <strong>{$data['date']}</strong>
            </span>
            {/if}
            {if!empty $data['production']}
            <span style="display: block; text-align: left; margin-top: 20px;">
                Продукция: <strong>{$data['production']}</strong>
            </span>
            {/if}
                                       
            {if!empty $data['user_comment']}
            <span style="display: block; text-align: left; margin-top: 20px;">
                Комментарий: <strong>{$data['user_comment']}</strong>
            </span>
            {/if}
        {/if}
        {if!empty $data['files']}
            <span style="display: block; text-align: left; margin-top: 20px;">
                Прикрепленные файлы: 
                {php:$files = $data['files']}
                {loop $files,$f,$filename}<strong style="padding: 0 10px 0 0;"><a href="{$filename}">файл</a></strong>{/loop $files}
            </span>
        {/if}
        
    </td>
</tr>
{include /modules/mailers/templates/simple.footer.html}
                            