<div class="breadcrumbs-container">
    <a href="/projects/seo/" data-icon="arrow_back">К списку сео страниц</a>
</div>
{ifempty $data_mapping['id']['value']}
    <h1>Добавление записи</h1>
{else}
    <h1>Редактирование записи #{$data_mapping['id']['value']} &quot;{$data_mapping['lastname']['value']} {$data_mapping['name']['value']}&quot;</h1>
{/if}
{if!empty $form_submit}
    {if!empty $errors}
        <div class="notification msgerror">
            Ошибка. Проверьте правильность заполнения формы.
        </div>
    {else}
        {if!empty $saved}
            <div class="notification msgsuccess">
                Данные сохранены.
            </div>
        {else}
            <div class="notification msgalert">
                Ошибка записи в БД.
            </div>
        {/if}
    {/if}
{/if}
<form class="form-default seo-add" method="post" action="/projects/seo/{ifempty $data_mapping['id']['value']}add{else}edit/{$data_mapping['id']['value']}{/if}/">
    {include /projects/templates/form.default.html}
</form>
