html,body{
    background: #fff;
}
/*
section{
    padding: 0;
    margin: 40px 0;
}
.hero-container{
    padding: 40px 0;
}
.hero-container .button{
    margin-bottom: 60px;
}

h4 span{
    font-size: 14px;
    display: block;
}
.coach-description .text p,
.coach-description .text div{
    margin: 20px 0;
    display: block;
    padding: 0;
    max-width: 420px;
    font-size: 14px;
    line-height: 26px;   
}
.coach-description img{
    float: right;
}
.coach-description #map-box{
    width: 100%;
    height: 300px;
}
*/