#background-shadow-bg{
    position: fixed;
    min-width: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 99990;
    width: 100%;
    height: 100%;
    top: 0;
    border: 0 none;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: left;    
}
#background-shadow-inner{
    position: fixed;
    z-index: 99992;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    top: 0;
    background: #fff;
    padding: 20px;
    min-width: 260px;
    margin-top: 40px;
    -webkit-transition: opacity .3s, margin-top .3s, visibility .3s;
    -moz-transition: opacity .3s, margin-top .3s, visibility .3s;
    -ms-transition: opacity .3s, margin-top .3s, visibility .3s;
    -o-transition: opacity .3s, margin-top .3s, visibility .3s;
    transition: opacity .3s, margin-top .3s, visibility .3s;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
}
body.modal-active {
    overflow: hidden;
    margin-right:0!important;
}
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99992;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-tap-highlight-color: transparent;
}
.modal-container-opened {
    overflow: hidden;
}
.modal-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition-duration: inherit;
    -o-transition-duration: inherit;
    transition-duration: inherit;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: cubic-bezier(.47,0,.74,.71);
    -o-transition-timing-function: cubic-bezier(.47,0,.74,.71);
    transition-timing-function: cubic-bezier(.47,0,.74,.71);
    -webkit-transition-timing-function: cubic-bezier(.22,.61,.36,1);
    -o-transition-timing-function: cubic-bezier(.22,.61,.36,1);
    transition-timing-function: cubic-bezier(.22,.61,.36,1);
    opacity: .8;
    background: #000;           
}
.modal-stage,
.modal-inner{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.modal-stage {
    overflow: hidden;
    direction: ltr;
    z-index: 99994;
    -webkit-transform: translateZ(0);
}
.modal-slide>* {
    display: inline-block;
    position: relative;
    padding: 24px;
    margin: 44px 0;
    border-width: 0;
    vertical-align: middle;
    text-align: left;
    background-color: #fff;
    overflow: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.modal-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    outline: 0;
    white-space: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    z-index: 99994;
    -webkit-overflow-scrolling: touch;
    display: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: opacity,-webkit-transform;
    -o-transition-property: opacity,-o-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform,-o-transform;
    transition-property: transform,opacity,-webkit-transform;
}
.modal-slide.active{
    display: block;
}
.modal-slide:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0
}
.modal{
    display: inline-block;
}
@media (max-width: 767px) {
    .modal-slide.active{
        margin: 0!important;
        top: 15px;
        left: 15px;
        right: 15px;
    }
}

.modal {
    position: relative;
    width: 460px;
    max-width: 90%;
    max-width: -webkit-calc(100%);
    max-width: calc(100%);
    font-family: opensans,sans-serif;
    color: #000;
    padding: 20px;
    overflow: visible;
}

@media (max-width: 767px) {
    .modal {
        padding:40px 15px
    }
}

.modal .closebutton {
    position: absolute;
    color: #fff;
    width: 26px;
    height: 26px;
    top: -13px;
    right: -13px;
    background-color: #00B0F0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    z-index: 6
}

.modal-slide .closebutton:hover {
    background-color: #57d2ff
}

.modal-slide .closebutton:after,.modal .closebutton:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 10px;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -5px;
    background-color: currentColor
}

.modal-slide .closebutton:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.modal-slide .closebutton:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.modal-slide .form .title,
.modal-slide form .title{
    font-size: 22px;
    display: block;
    margin: -20px -20px 0 -20px;
    padding: 20px;
    font-weight: bold;
    font-family:  var(--main-font);
    text-transform: uppercase;
    color: #000;  
}

.modal-slide .form .row button, 
.modal-slide form .row .button {
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    font-family: var(--main-font);
    padding: 0;
    text-align: center;
}
.modal-slide .form .row .col-2{
    text-align: center;
}
.modal-slide .row{
    display: flex;
    align-items: center;
}
.modal-close{
    background: none;
}