.uslugi-container{
}
.uslugi-container .list{
    
}
.uslugi-container .item .text {
    width: calc( 100% - 340px );
}

.uslugi-container .item .img {
    display: block;
    position: relative;
    width: 600px;
    height: 340px;
    float: left;
    margin: 0 50px 0 0;
}

.uslugi-container .item {
    margin: 40px 0;
    padding: 0;
    background: #fff;
}

.uslugi-container .item a {
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.uslugi-container .item:hover a {
    color: var(--blue);
}

.uslugi-container .item p {
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    font-weight: normal;
    padding-top: 30px;
}

.uslugi-container .item p + p {
    padding-top: 10px;
}

.uslugi-container .item p b,.uslugi-container .item p strong {
    font-weight: normal;
}

.uslugi-container .item ul {
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0 0 20px;
}

.uslugi-container .item ul li {
}
