<div class="list-container media">
    <div class="caption-container">
        <a href="/manage/assortment/types/add/" class="button orange">Добавить запись</a>
    </div>
    <div class="filter">
        <a href="/manage/assortment/">Ассортимент</a>
        <span class="active">Типы объектов</span>
    </div>

    <div class="filters-container clearfix flex" data-url="/manage/assortment/types/">
        
        <div class="info">
        </div>
        <div class="title" data-icon="search">
            <input type="text" id="title"  name="title" value="{$get_array['title']}" placeholder="Заголовок записи">
        </div>
        
    </div>
    <div class="list">
        {if!empty $list}
            {loop $list,$k,$item}
                <div class="item-block clearfix flex">
                    <div class="photo">
                        {if!empty $item['photo']}<img loading="lazy" src="/img/uploads/sm/{$item['subfolder']}/{$item['photo']}" />{/if}
                    </div>
                    <div class="title"><a href="/manage/assortment/types/edit/{$item['id']}/">{$item['title']}</a></div>
                    <span data-icon="delete" class="delete red" data-url="/manage/assortment/types/delete/{$item['id']}/"></span>
                </div>
            {/loop $list}
            {include /assortment/templates/paginator.html} 
        {else}
            <p style="padding:30px; text-align: center; color: var(--gray);">Запрошенные данные не найдены</p>
        {/if}
    </div>
</div>