
.object-item.assortment .properties{
    font-size: 20px;
    display: flex;
    align-items: center;
    min-height: 230px;
    flex-wrap: wrap;
}
.objects-list.assortment .properties{
    height: calc( 100% - 40px );
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.assortment .properties p,
.assortment .properties div{
    padding: 0;
    margin: 0;
}
.assortment .properties p + p,
.assortment .properties div + div{
    margin-top: 20px;
}
