<section class="object-item">
    <div class="inner" >
        <article itemscope itemtype="http://schema.org/NewsArticle" class="col-3">
                <h1 itemprop="headline">{if!empty $h1}{$h1}{else}{$item['title']}{/if}</h1></h1>
                {if!empty $item['photo']}
                    <div class="info">
                        <div class="main-photo bg-cover" style="background-image: url(/img/uploads/big/{$item['subfolder']}/{$item['photo']});"></div>
                        <div class="object-info">
                            <div class="item">
                                <span class="title">Адрес:</span>
                                <span class="place icon" data-icon="placeholder">{$item['place']}</span>
                            </div>
                            <div class="item">
                                <span class="title">Вес МК:</span>
                                <span class="weight icon">{$item['object_weight']} т</span>
                            </div>
                            <div class="item">
                                <span class="title">Выполненные работы:</span>
                                <ul class="services">
                                    <li class="project{ifeq $item['proektirovanie'],2} inactive{/if}">Разработка КМД</li>
                                    <li class="production{ifeq $item['izgotovlenie'],2} inactive{/if}">Изготовление</li>
                                    <li class="delivery{ifeq $item['dostavka'],2} inactive{/if}">Доставка</li>
                                    <li class="crane{ifeq $item['montazh'],2} inactive{/if}">Монтаж</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {/if}
                <div class="content">
                    <div class="text" itemprop="articleBody">
                        <h2>Описание проекта</h2>
                        {$item['content']}
                    </div>
                </div>
                <span class="send popup button main-color " data-url="/applications/popup/?application_type=ask_question_objekty&source=Объекты&title={$item['title']}" data-goal="ask_question_objekty">Задать вопрос</span>
                <span class="send popup button main-color" data-url="/applications/popup/?application_type=inner_raschet_objekty&source=Объекты&title={$item['title']}" data-goal="inner_raschet_objekty">Получить расчет</span>
                {include /templates/gallery.html}
                
                {include /templates/includes/schema.html}
        </article>
    </div>
</section> 
<section class="content-list similar">
    <div class="inner">
        <h2>Другие объекты</h2>
        {block objekty/block/similar/{$item['id']}}
    </div>
</section>

{php:$application_type = 'objects_item_bottom_application';}
{include /templates/includes/block.form.html}

{include /templates/includes/contacts.html}

