<section class="object-item">
    <div class="inner" >
        <article itemscope itemtype="http://schema.org/NewsArticle" class="col-3">
                <h1>{$item['title']}</h1>
                {if!empty $item['photo']}
                    <div class="info">
                        <div class="main-photo bg-cover" style="background-image: url(/img/uploads/big/{$item['subfolder']}/{$item['photo']});"></div>
                        <div class="object-info">
                            <div class="item">
                                <span class="title">Адрес:</span>
                                <span class="place icon" data-icon="placeholder">{$item['place']}</span>
                            </div>
                            <div class="item">
                                <span class="title">Вес МК:</span>
                                <span class="weight icon">{$item['object_weight']} т</span>
                            </div>
                            <div class="item">
                                <span class="title">Выполненные работы:</span>
                                <ul class="services">
                                    <li class="project">Проектирование</li>
                                    <li class="production">Изготовление</li>
                                    <li class="delivery">Доставка</li>
                                    <li class="crane">Монтаж</li>
                                    <li class="key">Проект «под ключ»</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {/if}
                <div class="content">
                    <div class="text">
                        <h2>Описание проекта</h2>
                        {$item['content']}
                    </div>
                    <!--div class="company">
                        <h2>Заказчик</h2>
                        <img src="/img/object-company.png" alt="" />
                        <span>Агропромышленный холдинг «Мираторг»</span>
                    </div-->
                </div>
                {include /templates/gallery.html}
                  
        </article>
    </div>
</section> 
<section class="content-list similar">
    <div class="inner">
        <h2>Похожие объекты</h2>
        {block objekty/block/similar/{$item['id']}}
    </div>
</section>

{php:$application_type = 'objects_item_bottom_application';}
{include /templates/includes/block.form.html}

{include /templates/includes/contacts.html}

