.list-container .info{
    width: 10%;
    margin: -15px 20px -15px 0;
}
.list-container .title{
    width: 75%;
}
.list-container .date{
    width: 15%;
}
.list-container .visibility{
    width: 5%;
}
