<ul class="flex">
    <li>
        Отдел продаж
        <a data-goal="send_email" href="mailto:market@spmk.group">market@spmk.group<i class="copy-to-buffer"
                                                                                      data-content="market@spmk.group"
                                                                                      data-goal="send_copy_email"
                                                                                      data-icon="content_copy"
                                                                                      title="Скопировать email"></i></a>


    </li>
    <li>
        Отдел снабжения
        <a data-goal="send_email" href="mailto:snab@spmk.group">snab@spmk.group<i class="copy-to-buffer"
                                                                                  data-content="snab@spmk.group"
                                                                                  data-goal="send_copy_email"
                                                                                  data-icon="content_copy"
                                                                                  title="Скопировать email"></i></a>


    </li>
    <li>
        Отдел кадров
        <a data-goal="send_email" href="mailto:hr@spmk.group">hr@spmk.group<i class="copy-to-buffer"
                                                                              data-content="hr@spmk.group"
                                                                              data-goal="send_copy_email"
                                                                              data-icon="content_copy"
                                                                              title="Скопировать email"></i></a>


    </li>
    <li>
        Отдел логистики
        <span class="phone"><i>для взаимодействия с ТК</i></span>
        <a data-goal="send_email" href="mailto:logist@spmk.group">logist@spmk.group<i class="copy-to-buffer"
                                                                                      data-content="logist@spmk.group"
                                                                                      data-goal="send_copy_email"
                                                                                      data-icon="content_copy"
                                                                                      title="Скопировать email"></i></a>


    </li>
    <li>
        Приемная
        <a data-goal="send_email" href="mailto:info@spmk.group">info@spmk.group<i class="copy-to-buffer"
                                                                                  data-content="info@spmk.group"
                                                                                  data-goal="send_copy_email"
                                                                                  data-icon="content_copy"
                                                                                  title="Скопировать email"></i></a>


    </li>
</ul>