{if!empty $breadcrumbs}
    {do:$bcsize=sizeof($breadcrumbs)} 
    {ifgt $bcsize,0}
        <div class="breadcrumbs clearfix text-overflow" itemprop="breadcrumb">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" title="Главная" itemprop="url" class="mainpage"><span itemprop="title">Главная</span></a>
                
            </span>
                {do:$path=array()}

                {loop $breadcrumbs,$bck,$crumb}
                    {do:array_push($path,$crumb['url'])}
                    {do:$url=implode('/',$path)}
                    {if!empty $bcsize}
                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="/{$url}/" title="{$crumb['title']}" itemprop="url"><span itemprop="title">{$crumb['title']}</span></a>
                        </span>
                    {/if}
                {/loop $breadcrumbs}
        </div>
    {/if}
{/if}