{if!empty $breadcrumbs}
    {do:$bcsize=sizeof($breadcrumbs)} 
    {ifgt $bcsize,1}
        <div class="breadcrumbs clearfix text-overflow" itemprop="breadcrumb">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" title="Главная" itemprop="url" class="mainpage"><span itemprop="title">Главная</span></a>
                
            </span>
                {do:$path=array()}

                {loop $breadcrumbs,$bck,$crumb}
                    {if!eq $crumb['url'],'-' }
                        {do:array_push($path,$crumb['url'])}
                        {do:$url=implode('/',$path)}
                    {else}
                        {do:$url=''}
                    {/if}
                    {if!empty $bcsize}
                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="{if!empty $url}/{$url}/{/if}" title="{$crumb['title']}" itemprop="url" {ifeq $crumb['url'],'-'}class="inactive"{/if}><span itemprop="title">{$crumb['title']}</span></a>
                        </span>
                    {/if}
                {/loop $breadcrumbs}
        </div>
    {/if}
{/if}