<section class="contacts">
    <div class="inner">
        <h2>Контакты</h2>
        <span class="address">
            ГК «Союз Производителей Металлоконструкций» <br />
            390042, г. Рязань, ул. Станкозаводская, д.7
        </span>
        <ul class="flex">
            <li>
                Отдел продаж
                <b class="phone">8 (800) 250-76-97 <i>(доб.1)</i></b>
                <a href="mailto:market@spmk.group">market@spmk.group</a>
            </li>
            <li>
                Отдел снабжения
                <b class="phone">8 (800) 250-76-97 <i>(доб.2)</i></b>
                <a href="mailto:snab@spmk.group">snab@spmk.group</a>
            </li>
            <li>
                Отдел кадров
                <b class="phone">8 (800) 250-76-97 <i>(доб.3)</i></b>
                <a href="mailto:hr@spmk.group">hr@spmk.group</a>
            </li>
            <li>
                Отдел маркетинга
                <b class="phone">8 (800) 250-76-97 <i>(доб.4)</i></b>
                <a href="mailto:marketing@spmk.group">marketing@spmk.group</a>
            </li>
        </ul>
        
        <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
        <div class="map" id="map-office" data-lat="54.668207" data-lng="39.635799">
            <div class="image bg-cover" style="background-image: url('/img/map-office.png');">
                <span class="title">Офис продаж. Производство в г.Рязани</span>
            </div>
        </div>    
        <div class="map" id="map-production" data-lat="55.829067" data-lng="37.410556">
            <div class="image bg-cover" style="background-image: url('/img/map-production.jpg');">
                <span class="title">Представительство в г.Москве</span>
            </div>
        </div>    
    </div>
</section>