<div class="flags-container">
    <span class="flags-value"><img loading="lazy" class="flags-icon" src="/img/flag-russia.svg"></span>
    <ul class="flags-list">
        <li class="flags-item" data-mask="+7 (999) 999-99-99">
            <img loading="lazy" class="flags-icon" src="/img/flag-russia.svg">
        </li>
        <li class="flags-item" data-mask="+375 (99) 999-99-99">
            <img loading="lazy" class="flags-icon" src="/img/flag-belarus.svg">
        </li>
    </ul>
</div>
<input autocomplete="{$random}" name="phone" placeholder="Ваш телефон *" required="required" type="phone">
