        
<div class="application-form{ifempty $middle} modal{/if}">      
    <form class="send-message ajaxed" action="/applications/add/" method="POST" autocomplete="off" enctype="multipart/form-data">
        {ifempty $middle}
            
            <h2 class="invert">{if!empty $form_title}{$form_title}{else}Оставить заявку{/if}</h2>
        {/if}
        {if!empty $application_type}<input type="hidden" name="application_type" value="{$application_type}">{/if}
        {php:$random=randomstring(10)}
        {if!empty $middle}<div class="flex">{/if}
            <div class="row">
                <input type="text" name="name" placeholder="Ваше имя *" required="required" autocomplete="{$random}">
            </div>
            <div class="row">
                <input type="phone" name="phone" placeholder="Ваш телефон *" required="required" maxlength="17" autocomplete="{$random}">
            </div>
            {ifempty $call_form}
                <div class="row">
                    <input type="text" name="region" placeholder="Ваш регион*" required="required" autocomplete="{$random}">
                </div>
                <div class="row">
                    <input type="email" name="email" placeholder="Ваш email{if!empty $email_required}*{/if}"{if!empty $email_required} required="required"{/if} autocomplete="{$random}">
                </div>
            {/if}
        {if!empty $middle}</div>{/if}
        {ifempty $call_form}
            {ifempty $reference}
                <div class="upload-container row br3">
                    <textarea name="comment" placeholder="Описание запроса, дополнительные данные"></textarea>
                    <div class="file-upload">      
                        <input type="file" name="file_upload[]" id="file_upload-{$random}" class="inputfile-{$random}" data-multiple-caption="files selected" multiple="">
                        <label for="file_upload-{$random}" class="br4 attach-file " data-icon="attach_file">
                            <strong class="br3 transition">Добавить файл</strong>
                        </label>      
                        <span class="text-overflow" data-icon="attach_file"></span> 
                        <i class="close" data-icon="close"></i>
                    </div>
                </div>     
            {else}
                <div class="row">
                    <textarea name="comment" placeholder="Описание запроса, дополнительные данные"></textarea>
                </div>

            {/if}
        {/if} 
        <div class="row terms">                        
            <span class="button big">{ifempty $button_title}Отправить{else}{$button_title}{/if}</span>
            <span class="text">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c <a href="#modal-terms" class="modal-open-btn">политикой конфиденциальности</a></span>
        </div> 
        
        <input type="hidden" name="recaptcha_response" data-public="{php:echo Config::Get('recaptcha/public')}">
        <input type="hidden" name="goal" value="{if!empty $goal}{$goal}{else}Zapros{/if}">
        {if!empty $reference}<input type="hidden" name="reference" value="1">{/if}
    </form>
    
</div> 