<header class="flex">
    <a href="/" title="СПМК" class="logo">
        <img src="/img/logo.svg" alt="" />
    </a>
    <nav>
        <ul class="container">
            {loop $mainmenu,$k,$menu}
                
                <li class="{if!empty $menu['active']}active{/if}{if!empty $mainmenu_second[$menu['url']]} expanded{/if}">
                    
                    {if!empty $mainmenu_second[$menu['url']]}
                        <span>{$menu['title']}</span>
                        {php:$submenu=$mainmenu_second[$menu['url']]}
                        <ul>
                            {loop $submenu,$sk,$smenu}
                            <li class="br3 {if!empty $smenu['active']}active{/if}">
                                <a href="/{if!empty $smenu['url']}{$smenu['url']}/{/if}">{$smenu['title']}</a>
                            </li>        
                            {/loop $submenu}
                        </ul>
                    {else}
                        <a href="/{if!empty $menu['url']}{$menu['url']}/{/if}">{$menu['title']}</a>
                    {/if}
                </li>
            {/loop $mainmenu}
        </li>
    </nav>
    
    <div class="actions flex">
        <span class="send button popup icon" data-url="/applications/popup/">
            Получить расчет
        </span>
        <a href="mailto:info@spmk.group" class="email icon" title="">info@spmk.group</a>
        <span class="phone icon" onclick="try{ document.location.href='tel:+78002507697'; return true; }catch(err){ }">8 (800) 250-76-97</span>
    </div>
    
    <span class="burger mobile">
        <span></span>
        <span></span>
        <span></span>
    </span>
    
</header> 