<header $header_clear}class="flex" class="header-clear" data-aos="fade-down" { {else}{ifempty/if}>
    {php:$url = Session::getString('main_url');}
    <a href="/lndng/" title="СПМК" class="logo">
        <img alt="" src="/img/logo-clean.svg"/>
        <span>Производство и монтаж<br>зданий из металлоконструкций</span>
    </a>
{ifempty $header_clear}
    <nav>
        <ul class="container">
            {loop $mainmenu,$k,$menu}
                
                {if!empty $menu['title']}
                <li class="{if!empty $menu['active']}active{/if}{if!empty $mainmenu_second[$menu['url']]} expanded{/if}">
                    
                    {if!empty $mainmenu_second[$menu['url']]}
                        {ifempty $menu['active']}
                            <a href="/{$menu['url']}/" class="submenu-title" title="{$menu['title']}">{$menu['title']}</a>
                        {elseifeq $menu['active'],'inactive'}
                            <span class="submenu-title">{$menu['title']}</span>
                        {/if}
                        
                        {php:$submenu=$mainmenu_second[$menu['url']]}
                        <ul>
                            {loop $submenu,$sk,$smenu}
                            <li class="br3 {if!empty $smenu['active']}active{/if}">
                                <a href="/{if!empty $smenu['url']}{$smenu['url']}/{/if}" {ifempty $smenu['url']}class="inactive"{/if}>{$smenu['title']}</a>
                            </li>        
                            {/loop $submenu}
                        </ul>
                    {else}
                        <a href="/{if!empty $menu['url']}{$menu['url']}/{/if}" {ifempty $menu['url']}class="inactive"{/if}>{$menu['title']}</a>
                    {/if}
                </li>
                {/if}
            {/loop $mainmenu}
        </li>
    </nav>
    
    <div class="actions flex">
        <span class="send button popup icon" data-goal="click_header_raschet" data-url="/applications/popup/?application_type=header_raschet">
            Получить расчет
        </span>
        <a class="email icon" data-goal="send_email" href="mailto:market@spmk.group" title="">market@spmk.group</a>
        <span class="phone icon callibri_phone" data-goal="call" onclick="try{ document.location.href='tel:+78002507697'; return true; }catch(err){ }">8 (800) 250-76-97</span>
    </div>
<!--span class="search-button" data-icon="search"></span-->
    
    <span class="burger mobile">
        <span></span>
        <span></span>
        <span></span>
    </span>
{/if}
</header> 