
<footer>
    <div class="inner">
        <a href="/" class="logo">
            <img src="/img/logo-big.svg" alt="" />
        </a>
        
        <div class="menu flex">
            <ul>
                <li class="title">О компании</li>
                <li><a href="//">О заводе</a></li>
                <li><a href="//">Объекты</a></li>
                <li><a href="//">Закупка</a></li>
                <li><a href="//">Прайс</a></li>
                <li><a href="//">Структура ГК</a></li>
                <li><a href="//">Новости</a></li>
                <li><a href="//">Вакансии</a></li>
            </ul>
            
            <ul>
                <li class="title">Услуги</li>
                <li><a href="//">Проектирование</a></li>
                <li><a href="//">Изготовление</a></li>
                <li><a href="//">Монтаж</a></li>
                <li><a href="//">Снабжение</a></li>
                <li><a href="//">«Под ключ»</a></li>
            </ul>
            <ul>
                <li class="title">Обратная связь</li>
                <li><a href="//">Получить расчет</a></li>
                <li><a href="//">Задать вопрос</a></li>
                <li><a href="//">Записаться на экскурсию</a></li>
                <li><a href="//">Заказать звонок</a></li>
            </ul>
            
            <ul>
                <li class="title">Контакты</li>
                <li><a href="mailto:info@spmk.group">info@spmk.group</a></li>
                <li><a href="//">8 800 250-76-97</a></li>
                <li>
                    <ul class="social" itemscope="" itemtype="http://schema.org/Organization">
                        <li class="socicon-facebook"> <a href="" target="_blank" title="SPMK.group Facebook"></a></li>
                        <li class="socicon-vkontakte"><a href="" target="_blank" title="SPMK.group VK"></a></li>
                        <li class="socicon-twitter"><a href="" target="_blank" title="SPMK.group Twitter"></a></li>
                        <li class="socicon-youtube"><a href="" target="_blank" title="SPMK.group Youtube"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        
        <div class="bottom flex">
            <div class="payment-info">
                <div class="title">ООО «Союз производителей металлоконструкций»</div>
                <div class="flex">
                    <div>
                    ИНН 7703463781<br/>КПП 770301001
                    </div>
                    <div>
                    125371, <b>Москва</b>,<br />Волоколамское шоссе, д. 89,<br /> +7(499)703-48-57
                    </div>
                    <div>
                    <b>Рязань</b><br/>Станкозаводская, 7 стр.3
                    </div>
                </div>
            </div>
            <p class="copyright">
                {php:echo date('Y')} год. Все права защищены<br/>
                <a href="/terms/">Лицензионное соглашение</a>
            </p>
    </div>
</footer>

{if!empty $debug}
    
{else}
    <script>{$js_content}</script>
{/if}
