.maincolor{
    color: var(--main-color);
    white-space: nowrap;
}
.page-info {
}
.page-info .flex{
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 60px 0;    
}
.page-info .annotation{
    width: 60%;
    text-align: left;
    font-size: 24px;
    margin: 0;    
}
.page-info .annotation .title{

}
.page-info .annotation p{
    padding-left: 30px;
    position: relative;   
}        
.page-info .annotation p + p{
    margin-top: 20px;
}
.page-info .annotation p:before{
    color: var(--secondary-color);
    -webkit-transform: translate(-36px, 6px);
        -ms-transform: translate(-36px, 6px);
            transform: translate(-36px, 6px);
    font-size: 31px;
    position: absolute;
}

@media(max-width: 1024px) {
    .page-info .flex {
        margin: 40px 0;
    }

    .page-info .annotation {
        width: 50%;
        font-size: 20px;
    }

    .page-info .annotation p + p {
        margin-top: 15px;
    }
}

@media(max-width: 767px) {
    .page-info .flex {
        margin: 30px 0;
        display: block;
    }

    .page-info .annotation {
        width: 100%;
        font-size: 18px;
        line-height: 1.4;
    }

    .page-info .annotation p + p {
        margin-top: 10px;
    }

    .page-info .annotation p:before {
        -webkit-transform: translate(-30px, 2px);
            -ms-transform: translate(-30px, 2px);
                transform: translate(-30px, 2px);
    }

    
}
.we-build .content{
    overflow: hidden;
    max-height: 290px;
    position: relative;
    white-space: nowrap;
    margin: 0 -10px;      
}
.we-build .content.carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    height: 100%;
    max-height: auto;
    overflow: visible;
}

.we-build .item {
    color: var(--white);
    border: 2px solid rgba(255,255,255,.4);
    padding: 20px 30px;
    margin: 0 10px;
    background: rgba(0,0,0,.2);
    width: calc( 33% - 10px );
    white-space: normal;
    min-height: 100%;
    display: inline-block;
    
        
}
.we-build .carousel .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
}

.we-build .carousel .item:before,.we-build .carousel .item:after {
    display: none;
}
.we-build .item .title {
    font-size: 26px;
    display: block;
    margin-bottom: 20px;
}

.we-build .item ul {
    margin: 0;
}

.we-build .item ul li {
    font-size: 18px;
    border-left: 2px solid var(--secondary-color);
    color: var(--white);
    padding-left: 15px;
    line-height: 1.2;
}

.we-build .item ul li:before {
    display: none;
}
@media (max-width: 1024px) {
  .we-build .item {
        padding: 15px 20px;
        margin: 0 5px;
        width: calc( 33% - 5px );
  }
  .we-build .item .title {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 15px;
  }
  .we-build .item ul li{
    font-size: 16px;    
  }
}
@media (max-width: 767px) {
    .we-build .item {
        padding: 10px 15px;
        margin: 0 5px;
        width: 260px;
    }
    .we-build .item .title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .we-build .item ul li{
        font-size: 14px;    
    }

}

.regions .flex{
    overflow: hidden;
}
.regions .bg {
    top: 0px;
    opacity: .5;    
}
@media(max-width:767px){
    .regions .bg {
        top: 0px;
        opacity: .5;
        height: 400px;
        background-size: cover;
    }
}

.diploms .list .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc( 16.6666666666% - 30px );
            flex: 0 1 calc( 16.6666666666% - 30px );    
}
@media (max-width: 767px){
    .diploms .list .item {
        min-width: 100px!important;
        -webkit-box-flex: 0!important;
            -ms-flex: 0 1 calc( 16.6666666666% - 30px )!important;
                flex: 0 1 calc( 16.6666666666% - 30px )!important;
        margin: 0 5px;
    }
}
.diploms .list .item a,
.diploms .list .item .title {
    display: none;
}

.guarantee .item {
    position: relative;
}

@media(hover:hover){
    .guarantee .item:hover .img {
        background-color: var(--main-color);
        transform: scale(1.1);
    }
}

.guarantee .item .img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 20px auto;
    background-color: var(--secondary-color);
    -webkit-mask-size: cover;
}
.guarantee .list{
    align-items: baseline;
    align-content: baseline;
    flex-wrap: wrap;
    margin-top: 40px;
}
    
.guarantee .item{
    
    flex: 0 1 calc( 33.3333333333% - 10px );
}
.guarantee .item .title{
    display: block;
    margin: 0 auto;
    font-size: 24px;
    padding-bottom: 10px;   
}
.guarantee .item .text{
    color: #999;
    font-size: 14px;
    text-align: left;
}
@media (max-width: 767px){
    .guarantee .list{
        display: block;
        margin-top: 30px;
    }
    .guarantee .item + .item{
        margin-top: 20px;
    }
    .guarantee .item .img{
        width: 80px;
        height: 80px;    
    }
    .guarantee .item .title{
        font-size: 20px;    
    }
    .guarantee .item .text{
        font-size: 12px;    
    }
}

.benefits .item .title:before {
    top: 20px;
}

.how-we-work ul + .to-center.annotation{
    margin-top: 110px;
    font-size: 26px;
}
@media(max-width: 1024px) {
    .how-we-work ul + .to-center.annotation {
        margin-top: 40px;
        font-size: 22px;
        margin-bottom: 80px;
    }
}

@media(max-width: 767px) {
    .how-we-work ul + .to-center.annotation {
    }
}

.objects .carousel{
    max-height: 303px;
}
.objects.flicky .carousel .item {
    width: calc( 33% - 10px );
    margin: 0 10px;
    position: relative;  
}        
@media(max-width:767px){
    .objects .carousel{
        max-height: 290px;
        overflow: hidden;
    }
}
.objects.flicky .carousel .item a {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    z-index: 10;
    border: none;
    text-align: center;
    color: var(--white);
}

.objects.flicky .carousel .item:hover a {
    color: var(--secondary-color);
}

.objects.flicky .carousel .img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.objects.flicky .carousel .item:before{
    content: "";
    padding-top: 80%;
    display: block;
}
.objects.flicky .carousel .item:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba( 0,0,0,0 )), to(rgba(0,0,0,.4)));
    background: -o-linear-gradient(top, rgba( 0,0,0,0 ), rgba(0,0,0,.4));
    background: linear-gradient(to bottom, rgba( 0,0,0,0 ), rgba(0,0,0,.4));
    z-index: 1;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
@media(max-width:1024px){
    .objects.flicky .carousel .item{
        width: calc( 50% - 10px );
    }
    .objects.flicky .carousel .item a{
        font-size: 18px;
    }
    .objects.flicky .carousel .item:before{
        padding-top: 60%;
    }    
}
@media(max-width:768px){
    .objects.flicky .carousel .item{
        width: 360px;
        margin: 0 5px;
    }
    .objects.flicky .carousel .item a{
        font-size: 16px;
    }
}

.reference {
    background: rgba(60, 136, 200, 0.3);
    margin: 80px 0;
    padding: 80px 0;
}

.reference form {
    text-align: center;
}

.reference form input {
    display: inline-block;
    width: 200px;
    margin: 0 10px;
}

.reference form .terms {
    text-align: center;
    display: block;
}

.reference form .terms .text,.reference form .terms .text a {
    color: #333;
    text-align: center;
}
.reference .label{
    width: 200px;
    text-align: right;
    display: inline-block;
}
@media(max-width: 767px) {
    .reference{
        margin: 40px 0;
        padding: 40px 0;
        
    }
    .reference form {
        font-size: 14px;
    }
    .reference h2 + .annotation{
        margin: 20px 0;
        font-size: 15px;    
    }
    .reference .label{
        text-align: center;
    }
    .reference .row + .row{
        margin-top: 20px;
    }
}

.about-call {
    background-color: var(--main-color);
    text-align: center;
}

.about-call .application-form {
    border: none;
    margin: 0 auto;
    text-align: center;
    width: 600px;
    padding: 40px 0;
}
.about-call h2{
    font-size: 20px;
}
.about-call h2:before{
    display: none;
}
.about-call .form-success-container i:before{
    color: #fff;
}
@media(max-width: 767px) {
    .about-call {
    }

    .about-call .application-form {
        border: none;
        margin: 0 auto;
        text-align: center;
        max-width: 600px;
        width: auto;
    }

    .about-call .application-form h2 {
        font-size: 20px;
    }
}


@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
