<section class="projects-list objects-list">
     <h1>{if!empty $h1}{$h1}{else}Наши проекты{/if}</h1>
     <div class="annotation inner">
        {if!empty $current_page['page_content']}
            {$current_page['page_content']}
        {/if}
     </div>
     <div class="list inner flex">
        {loop $list,$k,$item}
            <div class="item transition clearfix flex shadow-hover  br4">
                <span class="hdr internal-link" data-link="/proekty/{$item['chpu_title']}/"></span>
                <span class="img bg-cover" style="background-image: url(/img/uploads/big/{$item['subfolder']}/{$item['photo']})"></span>
                <div class="text">
                    <a href="/proekty/{$item['chpu_title']}/" title="{$item['title']}" class="title transition-text">{$item['title']}</a>
                    {$item['content_short']}
                </div>
            </div>  
        {/loop $list} 
        {include /templates/includes/paginator.html}
    </div>  
</section>