{include /templates/includes/main_head_part.html}
</head>
<body>
    
    <header>
        <span class="logo internal-link" data-link="/projects/">cr<wbr>sg</span>
        <div class="central clearfix">
            <div class="user-panel">
                <span class="name text-overflow">{$auth['name']} {$auth['lastname']}</span>
                <!--a href="/projects/profile/" title="Профиль">Профиль</a-->
                <a href="/logout/" title="Выход" onclick="document.through_auth_form.submit();return false;">Выход</a>
            </div>
            
            <div class="menu">       
                {if!empty $mainmenu}
                    {if!empty $project_title}<a class="project-title text-overflow" href="/projects/{$project['id']}/">{$project_title}</a>{/if}
                    {loop $mainmenu,$k,$menu}
                        <a href="/{if!empty $menu['url']}{$menu['url']}/{/if}" class="{if!empty $menu['active']} active{/if}">{$menu['title']}</a>    
                    {/loop $mainmenu}
                {/if}
                
            </div>
       
        
            
        </div>
            
    </header>
    
    <div class="main-container central">
    
        {$content}
    
    </div>
    
    <footer>
    
        <div class="central clearfix">
            <ul class="menu flex clearfix">
                <li class="logo">СПМК</li>
            </ul>
            <p class="copyright">
                {php:echo date('Y')} ©.
            </p>
        </div>
    </footer>
    
     {if $authorized}
        <form class="auth-form-logoff authorized" name="through_auth_form" method="POST" action="/{$current_page['requested_url']}{if!eq $current_page['requested_url'],''}/{/if}">
            <input type="hidden" name="logoff" value="logoff" />
        </form>    
    {/if}  
 {if!empty $debug}
    
{else}
    <script>{$js_content}</script>
{/if}  
</body>
</html>