<h1>Настройки</h1>

{if!empty $form_submit}
    {if!empty $errors}
        <div class="notification msgerror">
            Ошибка. Проверьте правильность заполнения формы.
        </div>
    {else}
        {if!empty $saved}
            <div class="notification msgsuccess">
                Данные сохранены.
            </div>
        {else}
            <div class="notification msgalert">
                Ошибка записи в БД.
            </div>
        {/if}
    {/if}
{/if}
<form class="form-default settings-add" method="post" action="/manage/settings/">
    {include /manage/templates/form.default.html}
</form>
