
<div class="central-container flex-top">
    <article itemscope itemtype="http://schema.org/NewsArticle" class="col-3">
        <div  class="content-container br4">
            <div class="text">{$item['content']}</div>
            {include /templates/gallery.html}
            <div id="social-buttons-content">
                <script src="https://yastatic.net/share2/share.js" async="async"></script>
                <div class="ya-share2" data-size="s" data-services="vkontakte,facebook,twitter,odnoklassniki,gplus" data-counter></div>
            </div>   
        </div>  
    </article>
    <div  class=" col-1 bbox br4 desktop-version" id="sidebar">
        <div class=" fixed-column  right-menu shadow br4">
            <div class="header">Реализованные проекты</div>
            <ul>
                {loop $projects_list,$pl,$pitem}
                    <li>
                        {ifeq $pitem['chpu_title'],$item['chpu_title']}<span data-icon="chevron_left">{$pitem['title']}</span>
                        {else}
                            <a href="/proekty/{$pitem['chpu_title']}/" title="{$pitem['title']}" class="transition" data-icon="chevron_left">{$pitem['title']}</a>
                        {/if}
                    </li>
                {/loop $projects_list}
            </ul>
        </div>
    </div>
</div>
 
<section class="products-slider-container clearfix">
    <h2>Вся продукция завода</h2>
    {block production/block}
</section>


