<section class="projects-list objects-list">
     <h1>{if!empty $h1}{$h1}{else}Наши проекты{/if}</h1>
     <div class="annotation inner">
        {if!empty $current_page['page_content']}
            {$current_page['page_content']}
        {/if}
        <span class="button big popup" data-url="/applications/">Оставить заявку</span>
     </div>
     <div class="list inner">
        {loop $list,$k,$item}
            <div class="item transition ">
                <span class="hdr internal-link" data-link="/proekty/{$item['chpu_title']}/"></span>
                <span class="img bg-cover" style="background-image: url(/img/uploads/big/{$item['subfolder']}/{$item['photo']})"></span>
                <div class="text">
                    <a href="/proekty/{$item['chpu_title']}/" title="{$item['title']}" class="title transition-text">{$item['title']}</a>
                    <span class="place">{$item['place']}</span>
                    <span class="weight"><b>{suffix:$item['object_weight'],'тонн','а','ы',''}</b>металлоконструкций</span>
                </div>
                <span class="details" data-icon="arrow_right_alt">Детали проекта</span>
            </div>  
        {/loop $list} 
        {include /templates/includes/paginator.html}
    </div>  
</section>

<section class="hero bg-cover" style="background-image: url('/img/appliction-hero-bg.jpg');">
    <div class="inner">
        <h2 class="invert">Остались вопросы?</h2>
        <span class="annotation white">Свяжитесь с нами - и получите ответы на них!</span>
        {php:$middle = true}
        {include /templates/includes/form.html}
    </div>
</section>

{include /templates/includes/contacts.html}