<div class="breadcrumbs-container">
    <a href="/manage/uslugi/" data-icon="arrow_back">К списку услуг</a>
</div>
{ifempty $data_mapping['id']['value']}
    <h1>Добавление услуги</h1>
{else}
    <h1>Редактирование услуги #{$data_mapping['id']['value']} &quot;{$data_mapping['title']['value']}&quot;</h1>
{/if}
{if!empty $form_submit}
    {if!empty $errors}
        <div class="notification msgerror">
            Ошибка. Проверьте правильность заполнения формы.
        </div>
    {else}
        {if!empty $saved}
            <div class="notification msgsuccess">
                Данные сохранены.
            </div>
        {else}
            <div class="notification msgalert">
                Ошибка записи в БД.
            </div>
        {/if}
    {/if}
{/if}
<form class="form-default uslugi-add" method="post" action="/manage/uslugi/{ifempty $data_mapping['id']['value']}add{else}edit/{$data_mapping['id']['value']}{/if}/">
    {include /manage/templates/form.default.html}
</form>
