<div itemscope itemtype="http://schema.org/NewsArticle">
    <section class="hero-title bg-cover vacancies">
        <h1 itemprop="headline">{$h1}</h1>
    </section>

    <div  itemprop="articleBody">
        <section >
            <div class="inner narrow">
                <h3>Уважаемые соискатели!</h3>
                <div class="content">
                    <p>Мы приветствуем появление в своих рядах специалистов, чья энергия и профессиональный подход к работе, позволят совместными усилиями обеспечить стабильный и долгосрочный рост компании «СПМК», быть лидером на рынке производства и монтажа металлоконструкций в ЦФО. Мы ценим в своих работниках стремление к достижению результата, готовность работать в команде и брать на себя ответственность.</p>
                    <p><b>Наши вакансии предполагают работу в г. Рязани.</b></p>
                    <p>
                        Консультации по вопросам трудоустройства оказываются в будние дни с 9:00 до 17:00.<br/>
                        По телефону: 8 (800) 250-76-97 (доб.3)<br/>
                        По электронной почте: <a href="mailto:hr@spmk.group">hr@spmk.group</a>
                    </p>
                </div>
            </div>
        </section>        

        {if!empty $list}
            <section class="vacancies">
                <div class="inner narrow">
                    <h3>Мы ищем следующих специалистов:</h3>

                    
                    <div class="list">
                        {loop $list,$k,$item}
                        <div class="item">
                            <span class="title" data-icon="arrow_drop_down"> <b>{$item['title']}</b> {$item['city']}</span>
                            <div class="content">
                            
                                {if!empty $item['content']}
                                    <h2>Описание</h2>
                                    <div>
                                        {$item['content']}
                                    </div>
                                {/if}
                                {if!empty $item['duties']}
                                    <h2>Обязанности</h2>
                                    <div>
                                        {$item['duties']}
                                    </div>
                                {/if}
                                
                                {if!empty $item['requirements']}
                                    <h2>Требования</h2>
                                    <div>
                                        {$item['requirements']}
                                    </div>
                                {/if}
                                
                                {if!empty $item['conditions']}
                                    <h2>Условия</h2>
                                    <div>
                                        {$item['conditions']}
                                    </div>
                                {/if}
                                {if!empty $item['salary']}
                                    <h2>Зарплата</h2>
                                    <span class="salary">
                                        {$item['salary']}
                                    </span>
                                {/if}
                                <span class="toggle">Свернуть</span>
                                <span class="button big popup main-color" data-url="/applications/popup/?application_type=vacancies&application_type_id={$item['id']}">Отправить резюме</span>
                            </div>
                        </div>
                        {/loop $list}
                    </div>
                </div>
            </section>
        {/if}
        <section>
            <div  class="inner narrow">
                {if!empty $list}<h3>Не нашли интересной вакансии?</h3>{/if}
                <div class="content">
                    {if!empty $list}<p>Не отчаивайтесь. Пришлите нам свое резюме. Возможно, мы пока еще не знаем, что ищем именно Вас.</p>{/if}
                    <span class="button big popup main-color" data-url="/applications/popup/?application_type=vacancies">Отправить резюме</span>            
                </div>
            </div>
        </section>
    </div>
    {include /templates/includes/schema.html}  
</div>


