<section class="hero-title bg-cover uslugi" style="background-image: url(/img/uploads/hero/{$item['subfolder']}/{$item['photo']});">
    <h1>{if!empty $h1}{$h1}{else}{$item['title']}{/if}</h1>
</section>
<section class="uslugi content-item">
    <div class="inner narrow" >
        <article itemscope itemtype="http://schema.org/NewsArticle" class=" flex">
            <meta itemprop="headline" content="{if!empty $h1}{$h1}{else}{$item['title']}{/if}">
            <div class="left-part">
                <div class="content"  itemprop="articleBody">
                    {$item['content']}
                    <h2>Всегда на связи</h2>
                    {include templates/includes/contacts.block.html}
                </div>
            </div>
            <div class="right-part">
                <div id="social-buttons-content">
                    <script src="https://yastatic.net/share2/share.js" async="async"></script>
                    <div class="ya-share2" data-counter data-services="vkontakte,facebook,twitter" data-size="s"></div>
                </div>   
            </div>
            {include /templates/includes/schema.html}
        </article>
        {include /templates/gallery.html}

        {include modules/calculator/templates/calculator.block.html}        
    </div>
</section>