<section class="hero-title bg-cover uslugi" style="background-image: url(/img/uploads/hero/{$item['subfolder']}/{$item['photo']});">
    <h1>{if!empty $h1}{$h1}{else}{$item['title']}{/if}</h1>
</section>
<section class="uslugi content-item">
    <div class="inner narrow" >
        <article itemscope itemtype="http://schema.org/uslugiArticle" class=" flex">
            <div class="left-part">
                <div class="content">
                    {$item['content']}
                    <h2>Всегда на связи</h2>
                    <p>Мы открыты к диалогу и готовы обсудить вопросы сотрудничества по 
                        <a title="Проектирование металлоконструкций" href="/uslugi/proektirovanie/">проектированию</a>, 
                        <a title="Изготовление металлоконструкций" href="/uslugi/izgotovlenie/">изготовлению</a>, 
                        <a title="Доставка металлоконструкций" href="/uslugi/dostavka/">доставке</a> и 
                        <a title="Монтаж металлоконструкций" href="/uslugi/montazh/">монтажу</a> 
                        металлоконструкций по:</p>
                        
                        
                        
                    <p>- телефону <span data-goal="call" onclick="try{ document.location.href='tel:+78002507697#1'; return true; }catch(err){ }">8-800-250-76-97 (доб.1);</span></p>
                    <p>- электронной почте <a href="mailto:market@spmk.group">market@spmk.group</a>;</p>
                    <p><span class="send popup" data-url="/applications/popup/?application_type=inner_application">- заявке на консультацию.</span></p>
                    <p>Если у вас уже есть проектная документация АР, КМ, КМД и вас интересует стоимость реализации проекта, пожалуйста, заполните форму <span class="send popup" data-url="/applications/popup/?application_type=inner_raschet">Получить расчет</span> и мы оперативно сформируем предложение, от которого не захочется отказываться.</p>
                </div>
            </div>
            <div class="right-part">
                <div id="social-buttons-content">
                    <script src="https://yastatic.net/share2/share.js" async="async"></script>
                    <div class="ya-share2" data-size="s" data-services="vkontakte,facebook,twitter,odnoklassniki,gplus" data-counter></div>
                </div>   
            </div>
        </article>
        {include /templates/gallery.html}
    </div>
</section>