<section class="hero-title bg-cover uslugi" style="background-image: url(/img/uploads/hero/us/uslugi.jpg);">
    <h1>{if!empty $h1}{$h1}{else}{$item['title']}{/if}</h1>
</section>
<section class="uslugi content-item">
    <div class="inner narrow" >
        <article itemscope itemtype="http://schema.org/uslugiArticle" class=" flex">
            <div class="left-part">
                <div class="content">
                
                    <p>ГК &laquo;СПМК&raquo; -  универсальный Поставщик металлоконструкций в ЦФО. Наша задача предоставить Заказчику полный комплекс услуг - <strong>производств</strong><strong>о</strong><strong> на заказ </strong><strong>стальных </strong><strong>металлических конструкций любых типов, </strong><strong>доставка </strong><strong>и</strong><strong> монтаж</strong> &ndash; высокого качества по оптимальной цене.</p>
                    <p>Изделия высокой степени надежности с использованием технологий, снижающих расход требуемых материалов, что в конечном счете отражается на минимизации расходов заказчика. Ваше строительство с использованием металлических конструкций нашего изготовления будет рентабельным!</p>
                    <p>Выбирайте работу с нашими специалистами &ndash; гарантируются профессионализм, технологичность и качество металлоизделий для строительства.</p>
                    <h2><a href="/uslugi/proektirovanie/" title="Проектирование разделов КМ и КМД">Проектирование разделов КМ и КМД</a></h2>
                    <p>В проектном бюро СПМК специалисты высокого класса готовы выполнить проектные работы любой степени сложности по конструкциям железобетонным, металлическим и конструкциям металлической деталировки.</p>
                    <p>Все стадии работ конструкторского бюро проходят проверку по технической документации контрольными группами. Чертежи разрабатываются с применением современного ПО. Далее производятся процессы пакетирования конструкций (в зависимости от технологического назначения и сложности изготовления) и окончательная карта раскроя, которая оптимизирует использование металлоконструкций.</p>
                    <p>Проектное бюро готово качественно выполнить заказы по проектам зданий любого назначения в короткие сроки: промышленные здания и сооружения,  склады и ангары, производственного назначения и для сельскохозяйственных нужд, торговые центры и др..</p>

                    <h2><a href="/uslugi/izgotovlenie/" title="Изготовление сварных металлоконструкций">Изготовление сварных металлоконструкций</a></h2>
                    <p>Производственная <strong>мощность завода металлоконструкций</strong>: 36 000 тонн/год. Мы производим конструкции для промышленного и гражданского строительства:</p>
                    <ul>
                    <li>производственные цеха заводов и фабрик;</li>
                    <li>здания и сооружения для АПК;</li>
                    <li>коммерческие здания;</li>
                    <li>административные здания;</li>
                    <li>многоуровневые парковочные комплексы;</li>
                    <li>логистические хабы, ангары для крупногабаритного транспорта;</li>
                    <li>спортивные сооружения;</li>
                    <li>школы, детские сады;</li>
                    <li>жилые дома;</li>
                    <li>мачты ЛЭП, вышки сотовой связи рекламные щиты.</li>
                    </ul>

                    <p>Ассортимент завода металлических конструкции преимущественно состоит из сварных металлических изделий:</p>
                    <ul>
                    <li>Колонны;</li>
                    <li><a href="https://spmk.group/assortment/svarnaya_dvutavrovaya_balka/" title="СВАРНАЯ ДВУТАВРОВАЯ БАЛКА">Балки</a>;</li>
                    <li>Фермы;</li>
                    <li>Связи;</li>
                    <li>Прогоны;</li>
                    <li>Ригели;</li>
                    <li>Подкрановые балки;</li>
                    <li>Ростверки</a>.</li>
                    </ul>

                    <p>Завод металлоконструкций ГК &laquo;СПМК&raquo; производит изготовление строительных металлоконструкций, по цене <strong>от 14 000 руб./тонна</strong>.</p>

                    <h2><a href="/uslugi/montazh/" title="Строительство зданий и сооружений">Строительство зданий и сооружений</a></h2>
                    <p>Современные технологии с использованием металлоконструкций позволяют в сжатые сроки получать быстровозводимые здания под различные сферы применения. Преимущества таких технологий по сравнению с традиционными строительными процессами состоят в экологичности, экономии, простоте возведения и удобстве эксплуатации. По быстровозводимой технологии производят следующие здания:</p>
                    <ul>
                    <li>Промышленные;</li>
                    <li>Торговые;</li>
                    <li>Спортивные;</li>
                    <li>Сельскохозяйственные;</li>
                    <li>Малоэтажные жилые;</li>
                    <li>Административного назначения;</li>
                    <li>Любые другие по заказу.</li>
                    </ul>
                    <p>Строительство объектов ведется &laquo;под ключ&raquo;: от стадии проекта до монтажа на месте заказчика.</p>
                    <h2>Снабжение материалами</h2>
                    <p>Поскольку производственные мощности завода металлоконструкций покрывают собственные потребности, есть возможность изготавливать металлические конструкции по заказам на основании чертежей КМ. Проектируются и производятся металлоконструкции строительного назначения: металлические колонны, фермы, балки, прогоны, связи, элементы фахверка.</p>
                    <h2><a href="/uslugi/dostavka/" title="Доставка металлоконструкций">Доставка металлоконструкций</a></h2>
                    <p>Компания имеет собственный автотранспорт, состоящий из грузовых автомобилей-манипуляторов с различной грузоподъемностью, и бортовых длинномеров для перевозки грузов, различных по весу и габаритам. Услуги транспортного отдела ГК &laquo;СПМК&raquo; предоставляются заказчикам на основе взвешенной ценовой политики.</p>
                    <h2>Функции технического заказа</h2>
                    <p>В работу отдела технического заказа принимаются чертежи КМ, КМД, технические задания в бумажном и электронном виде. Составление правильной технической документации несет важную роль в строительстве сооружений. В процессе работ нельзя допускать недочетов, которые могут привести к дефектам конструкций, требующим дополнительных затрат. Доверьте процесс работы по обработке больших массивов технических данных и математических расчетов специалистам, которые профессионально подготовят техническую документацию для согласования в дальнейшем со всеми органами надзора, а также для расчетов стоимости изготовления и последующего монтажа металлических конструкций.</p>
                    <p>Ассортимент металлических строительных конструкций, услуги от конструкторского бюро до окончательного монтажа, работа на высокотехнологичном оснащении, опыт и профессионализм команды &ndash; причины для решения воспользоваться <strong>услугами </strong><strong>Группы компаний &laquo;Союз производителей металлоконструкций&raquo;</strong></p>
                    <h2>Всегда на связи</h2>
                        <p>Мы открыты к диалогу и готовы обсудить вопросы сотрудничества по 
                            <a title="Проектирование металлоконструкций" href="/uslugi/proektirovanie/">проектированию</a>, 
                            <a title="Изготовление металлоконструкций" href="/uslugi/izgotovlenie/">изготовлению</a>, 
                            <a title="Доставка металлоконструкций" href="/uslugi/dostavka/">доставке</a> и 
                            <a title="Монтаж металлоконструкций" href="/uslugi/montazh/">монтажу</a> 
                            металлоконструкций по:</p>
                            
                            
                            
                        <p>- телефону <span data-goal="call" onclick="try{ document.location.href='tel:+78002507697#1'; return true; }catch(err){ }">8-800-250-76-97 (доб.1);</span></p>
                        <p>- электронной почте <a href="mailto:market@spmk.group">market@spmk.group</a>;</p>
                        <p><span class="send popup" data-url="/applications/popup/?application_type=inner_application">- заявке на консультацию.</span></p>
                        <p>Если у вас уже есть проектная документация АР, КМ, КМД и вас интересует стоимость реализации проекта, пожалуйста, заполните форму <span class="send popup" data-url="/applications/popup/?application_type=inner_raschet">Получить расчет</span> и мы оперативно сформируем предложение, от которого не захочется отказываться.</p>
                    </div>
                </div>
                <div class="right-part">
                    <div id="social-buttons-content">
                        <script src="https://yastatic.net/share2/share.js" async="async"></script>
                        <div class="ya-share2" data-size="s" data-services="vkontakte,facebook,twitter,odnoklassniki,gplus" data-counter></div>
                    </div>   
                </div>
        </article>
    </div>
</section>