<section class="hero-title bg-cover uslugi" style="background-image: url(/img/uploads/hero/us/uslugi.jpg);">
    <h1>{if!empty $h1}{$h1}{else}{$item['title']}{/if}</h1>
</section>
<section class="uslugi content-item">
    <div class="inner narrow" >
        <article itemscope itemtype="http://schema.org/uslugiArticle" class=" flex">
            <div class="left-part">
                <div class="content">
                    <p>СПМК (Союз Производителей Металлоконструкций)  - комплексный поставщик металлоконструкций для строительства новых объектов промышленной и коммерческой недвижимости в РФ. Наша задача предоставить Заказчику полный комплекс услуг -  <strong>производство на заказ зданий из металлоконструкций, их монтаж и комплектация</strong> &ndash; высокого качества по оптимальной цене.</p>
                    <h2>Наши услуги</h2>
                    <h2><a href="/uslugi/proektirovanie/" title="Проектирование разделов КМ и КМД">Разработка КМД</a></h2>
                    <p>Эта услуга представляет собой создание рабочей документации на изготовление металлических конструкций. Это самый первый этап работы, из которого становится ясно, какие детали понадобится изготовить для возведения нового здания. Документация может быть разработана нами для МК всех типов соединения (сварного, болтового, смешанного).</p>
                    <p>Все стадии работ выполняются собственным конструкторского бюро и проходят проверку по технической документации контрольными группами. При разработке строительной документации мы используем современное программное обеспечение. Такое, как <a href="https://www.tekla.com/ru/%D0%9F%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%86%D0%B8%D1%8F/tekla-structures">Tekla Structures</a>. </p>
                    <p>Наши инженеры-конструкторы качественно выполняют свою работу по разработке КМД зданий промышленного, коммерческого, инфраструктурного назначения. </p>
                    <h2><a href="/uslugi/izgotovlenie/" title="Изготовление сварных металлоконструкций">Изготовление металлоконструкций</a></h2>
                    <p>Завод металлоконструкций &laquo;СПМК&raquo; изготавливает на собственном производстве следующие
                        виды строительных металлоконструкций:</p>
                    <ul>
                    <li>ростверки;</li>
                    <li>связи;</li>
                    <li>перекрытия;</li>
                    <li>колонны;</li>
                    <li><a href="/assortment/svarnaya_dvutavrovaya_balka/" title="Балки">балки</a>;</li>
                    <li>фермы;</li>
                    <li>подкрановые балки;</li>
                    <li>прогоны и др.</li>
                    </ul>
                    <p><strong>Мы обеспечиваем:</strong></p>
                    <ul>
                    <li>строгое соблюдение технологии производства;</li>
                    <li><a href="/price/" title="Прайс на продукцию">оптимальные расценки</a>;</li>
                    <li>разумные сроки поставок;</li>
                    <li>высокое качество продукции и услуг.</li>
                    </ul>
                    <p><strong>Наши металлоконструкции применяются для возведения таких объектов:</strong></p>
                    <ul>
                    <li>здания и сооружения для АПК;</li>
                    <li>производственные цеха заводов и фабрик;</li>
                    <li>торгово-развлекательные центры;</li>
                    <li>административные здания, офисные центры;</li>
                    <li>многоуровневые парковочные комплексы;</li>
                    <li>логистические комплексы, ангары для крупногабаритного транспорта;</li>
                    <li>спортивные и социальные объекты.</li>
                    </ul>
                    <p>Мощности завода металлоконструкций &laquo;СПМК&raquo; достигают <strong>36 000 т</strong> в год. Стоимость изготовления начинается от 18 000 руб./т. В работу берем объекты с металлоемкостью от 200 т. Заявки на размещение заказов (расчет стоимости) принимаются на электронную почту <a href="https://e.mail.ru/compose/?mailto=mailto%3amarket@spmk.group">market@spmk.group</a></p>
                    <h2><a href="/uslugi/dostavka/" title="Доставка металлоконструкций">Доставка металлоконструкций</a></h2>
                    <p>Доставка готовой продукции на строительный объект возможна всеми видами транспорта. Способ транспортировки зависит от типа и габаритов конструкции. Транспортные услуги предоставляются заказчикам на основе взвешенной ценовой политики.</p>
                    <h2><a href="/uslugi/montazh/" title="Монтаж металлоконструкций">Монтаж металлоконструкций</a></h2>
                    <p>Каркас здания мало изготовить, его необходимо смонтировать. Мы готовы предоставить услуги монтажа несущих стальных каркасов <a href="/objekty/">зданий</a> и сооружений рабочей площадью от 2500 кв. м. Стоимость работ рассчитывается индивидуально по запросу. </p>
                    <h2><a href="/uslugi/komplektaciya//" title="Снабжение стройплощадки">Снабжение стройплощадки</a></h2>
                    <p>&laquo;СПМК&raquo;, помимо поставки металлоконструкций, также комплектует объекты дополнительными
                        строительными материалами и крепежом, а именно: </p>
                    <ul>
                    <li>кровельными и стеновыми сэндвич-панелями;</li>
                    <li>профлистами;</li>
                    <li>метизами, анкерными болтами;</li>
                    <li>металлопрокатом.</li>
                    </ul>
                    <h2>Вы хотите построить объект металлоемкостью от 200 т? Закажите расчет цены и сроков производства и монтажа</h2>
                    <p>Основная специализация предприятия &laquo;Союз Производителей Металлоконструкций&raquo; &mdash; производство и монтаж металлоконструкций для объектов площадью от 8,5 тыс. кв. м. Если ваше будущее помещение попадает под эту категорию и у вас есть в наличии рабочая документация проекта, свяжитесь с нами как можно скорее, и мы рассчитаем для вас стоимость и сроки работы. О том, какие проекты мы уже реализовали, вы можете узнать на странице &laquo;Объекты&raquo;. Также предлагаем вам экскурсию на завод для осмотра нашего производства.</p>                
                    <h2>Всегда на связи</h2>
                    {include templates/includes/contacts.block.html}
                    
                </div>
            </div>
            <div class="right-part">
                <div id="social-buttons-content">
                    <script src="https://yastatic.net/share2/share.js" async="async"></script>
                    <div class="ya-share2" data-counter data-services="vkontakte,facebook,twitter" data-size="s"></div>
                </div>   
            </div>
        </article>
    </div>
</section>

{include modules/calculator/templates/calculator.block.html}