<section class="hero-title bg-cover uslugi" style="background-image: url(/img/uploads/hero/us/uslugi.jpg);">
    <h1>{if!empty $h1}{$h1}{else}{$item['title']}{/if}</h1>
</section>
<section class="uslugi content-item">
    <div class="inner narrow" >
        <article itemscope itemtype="http://schema.org/uslugiArticle" class=" flex">
            <div class="left-part">
                <div class="content">
                    <p>Мы не просто изготавливаем на заказ каркасы зданий из металлоконструкций, а оказываем полный
                        комплекс услуг по их монтажу, поставляем на строительную площадку объекта метизную продукцию,
                        кровельные и стеновые материалы. К строительно-монтажным работам привлекаем проверенных за годы
                        сотрудничества партнеров с обязательным наличием допуска СРО. &nbsp;Делаем все возможное&nbsp; в
                        рамках профессиональных компетенций, следуя принципам добросовестного сотрудничества и
                        установленным общепринятым стандартам, нормам, правилам металлокаркасного строительства.
                        &nbsp;</p>
                    <p><strong>Вы Генподрядчик нового строительства здания из металлоконструкций? Еще не определись с
                        заводом изготовителем или сравниваете предложения? Узнайте стоимость и сроки производства
                        металлоконструкций у нас.</strong></p>
                    <p>Наша специализация &mdash; производство и монтаж металлоконструкций для строительства
                        промышленных и коммерческих зданий площадью от 7&nbsp;500 м2 и металлоемкостью каркаса от 200
                        тонн. Если ваше будущее помещение попадает под эту категорию, чертежи КМ разработаны и прошли
                        экспертизу , <a href="/contacts/" title="Наши контакты">свяжитесь с нами</a>&nbsp;как можно
                        скорее, и мы сформируем вам предложение, которое позволит&nbsp;<strong>уложиться в смету и сдать
                            объект вовремя</strong>. Полный перечень объектов с нашим участием вы сможете запросить в
                        отделе продаж или посмотреть часть работ на станице <a href="/objekty/" title="Наши объекты">&laquo;Объекты&raquo;</a>&nbsp;этого
                        сайта. &nbsp;</p>
                    <h2>Услуги завода производителя металлоконструкций в Рязани</h2>
                    <h2><a href="/uslugi/proektirovanie/">Разработка КМД</a></h2>
                    <p>Рабочий чертеж КМД является основным документом, по которому изготавливают конструкции.&nbsp;Больше
                        90% заказов на разработку рабочей документации марки КМД мы выполняем совместно с последующим
                        изготовлением металлоконструкций. Сама услуга представляет собой создание журнала чертежей, схем
                        и спецификаций для производства, а также монтажа металлокаркаса. Это самый первый этап работы
                        перед производством конструкции, из которого становится ясно, какие детали понадобится
                        изготовить для возведения нового здания, чем его комплектовать и как его монтировать.&nbsp;</p>
                    <p><strong>Рабочий проект КМД мы разрабатываем на основании проекта КМ</strong>, представленного
                        Заказчиком услуги.&nbsp;Наш конструкторский отдел добивается соответствия проекту КМ в нужной
                        детализации, формирует точные расчеты габаритов отдельных элементов и мест соединений одной
                        детали с другой, оформляет единичные чертежи на каждую конструкцию и общий чертеж в
                        3d-плоскости, разрабатывает понятные монтажные схемы и узлы.</p>
                    <p>В создании этого трудоемкого пакета документации мы используем современное программное
                        обеспечение. Такое, как&nbsp;<a
                                href="https://www.tekla.com/ru/%D0%9F%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%86%D0%B8%D1%8F/tekla-structures">Tekla
                            Structures</a>. Наши инженеры-конструкторы качественно выполняют свою работу по разработке
                        КМД стальных зданий промышленного, коммерческого, инфраструктурного назначения.</p>
                    <h2><a href="/uslugi/izgotovlenie/">Изготовление металлоконструкций</a></h2>
                    <p>На собственном производстве в городе Рязани общей площадью почти 30&nbsp;000 м2 мы изготавливаем
                        в зависимости от сложности заказа порядка 4 &ndash; 4,5 тыс. тонн металлоконструкций в месяц. В
                        основном это <a href="/assortment/stroitelnye_metallokonstrukcii/">строительные&nbsp;металлические
                            конструкции</a>:</p>
                    <ul>
                        <li>ростверки;</li>
                        <li>связи;</li>
                        <li>перекрытия;</li>
                        <li>колонны;</li>
                        <li><a href="/assortment/svarnaya_dvutavrovaya_balka/">балки</a>;</li>
                        <li>фермы;</li>
                        <li>подкрановые балки;</li>
                        <li>прогоны и др.</li>
                    </ul>
                    <p><strong>Мы обеспечиваем:</strong></p>
                    <ul>
                        <li>строгое соблюдение технологии производства металлоконструкций;</li>
                        <li>соблюдение план-графиков поставок;</li>
                        <li>высокое качество продукции и услуг.</li>
                    </ul>
                    <p><strong>Наши металлоконструкции применяют для возведения таких объектов, как:</strong></p>
                    <ul>
                        <li>животноводческие комплексы, склады для хранения овощей и фруктов;</li>
                        <li>производственные цеха заводов и фабрик;</li>
                        <li>торгово-развлекательные и деловые центры;</li>
                        <li>логистические хабы и ангары для крупногабаритного транспорта;</li>
                        <li>многоуровневые парковочные комплексы;</li>
                        <li>ледовые дворцы, стадионы.</li>
                    </ul>
                    <p>Предварительная стоимость изготовления приведена <a href="/price/"
                                                                           title="Стоимость металлоконструкций за тонну">тут</a>
                        , она носит справочный характер. Также стоимость и сроки изготовления можно предварительно
                        оценить в <a href="/calculator/"
                                     title="РАСЧЕТ СТОИМОСТИ И СРОКОВ ПОСТАВКИ МЕТАЛЛОКОНСТРУКЦИЙ ОНЛАЙН">онлайн-калькуляторе</a>
                        . Или просто направьте запрос нам на электронную почту&nbsp;<a
                                href="https://e.mail.ru/compose/?mailto=mailto%3amarket@spmk.group">market@spmk.group</a>&nbsp;и
                        получите наиболее точный расчет стоимости поставки. &nbsp;</p>
                    <h2><a href="/uslugi/dostavka/">Доставка металлоконструкций</a></h2>
                    <p>Доставляем отправочные марки готовых элементов с производства на строительный объект всеми видами
                        транспорта. Способ транспортировки зависит от типа и габаритов продукции. По нашему опыту,
                        наиболее экономичный способ бережно и быстро доставить крупногабаритные металлоконструкции по
                        Центральной части России &nbsp;- использовать автомобильный спецтранспорт грузоподьемностью до
                        20 тонн с рабочей платформой длиной 12-17,5 метра, шириной 2,3 метра. Стоимость доставки &laquo;негабарита&raquo;
                        обсуждается после детального рассмотрения проекта КМ на стадии разработки чертежей
                        КМД.&nbsp;</p>
                    <h2><a href="/uslugi/montazh/">Монтаж металлоконструкций</a></h2>
                    <p>Каркас здания мало изготовить, его необходимо смонтировать. Мы готовы предоставить услуги монтажа
                        несущих стальных каркасов&nbsp;<a href="/objekty/">зданий</a>&nbsp;и сооружений рабочей площадью
                        от 2500 кв. м., металлоемкостью от 100 тонн и локацией объекта в Москве и других городах ЦФО.
                        Стоимость работ рассчитывается индивидуально по запросу на электронную почту&nbsp;<a
                                href="https://e.mail.ru/compose/?mailto=mailto%3amarket@spmk.group">market@spmk.group</a>.
                    </p>
                    <h2><a href="/uslugi/komplektaciya/">Снабжение стройплощадки</a></h2>
                    <p>Вкупе с основной поставкой металлоконструкций по желанию заказчиков мы укомплектуем объект
                        дополнительными строительными материалами и крепежом:&nbsp;</p>
                    <ul>
                        <li>кровельные и стеновые сэндвич-панели;</li>
                        <li>профлист;</li>
                        <li>метизы, анкерные болты;</li>
                        <li>металлопрокат.</li>
                    </ul>
                    <p>Услуга оказывается исключительно при заказе нашего изготовления и/или монтажа металлокаркаса, в
                        стоимость поставки добавляется отпускная цена заводов-производителей ранее перечисленных
                        материалов. Фактически закупка равносильна самостоятельному заказу напрямую у производителей, но
                        переговоры по цене и гарантийные обязательства мы берем на себя.</p>
                    <h2>Всегда на связи</h2>
                    {include templates/includes/contacts.block.html}
                    
                </div>
            </div>
            <div class="right-part">
                <div id="social-buttons-content">
                    <script src="https://yastatic.net/share2/share.js" async="async"></script>
                    <div class="ya-share2" data-counter data-services="vkontakte,facebook,twitter" data-size="s"></div>
                </div>   
            </div>
        </article>
    </div>
</section>

{include modules/calculator/templates/calculator.block.html}