<section class="object-item assortment">
    <div class="inner" >
        <article itemscope itemtype="http://schema.org/NewsArticle" class="col-3">
                <h1>{$item['title']}</h1>
                {if!empty $item['content_short']}
                    <div class="annotation">{$item['content_short']}</div>
                {/if}
                {if!empty $item['photo']}
                    <div class="info">
                        <div class="main-photo bg-cover" style="background-image: url(/img/uploads/big/{$item['subfolder']}/{$item['photo']});"></div>
                        <div class="object-info">
                            <div class="item properties">
                                {$item['properties']}
                            </div>
                        </div>
                    </div>
                {/if}
                <div class="content">
                    <div class="text">
                        <h2>Описание объекта</h2>
                        {$item['content']}
                    </div>
                    
                </div>
                {include /templates/gallery.html}
                  
        </article>
    </div>
</section> 
<section class="content-list similar">
    <div class="inner">
        <h2>Еще в ассортименте</h2>
        {block assortment/block/similar/{$item['id']}}
    </div>
</section>
{php:$application_type = 'assortment_item_bottom_application';}
{include /templates/includes/block.form.html}

{include /templates/includes/contacts.html}

