<section>
     <h1>{if!empty $h1}{$h1}{else}Продукция завода металлоконструкций{/if}</h1>
     <div class="annotation inner">
        {if!empty $current_page['page_content']}
            {$current_page['page_content']}
        {/if}
        
        <div class="to-center">
            <span class="button big popup" data-url="/applications/popup/?application_type=call">Заказать звонок</span>
        </div>
     </div>
</section>
<section class="objects-list assortment">
     <div class="list inner">
        {loop $list,$k,$item}
            <div class="item  br3 transition  internal-link" data-link="/assortment/{$item['chpu_title']}/">
                {php:$photos = $item['photos']}
                {php:$photos_count = count($item['photos'])}
                <div class="img">
                    {if!empty $photos}
                    <div class="image-preview-list">
                        {loop $photos,$pk,$pv} 
                        <div class="image-item">
                            <div class="image-wrapper bg-cover transition" style="background-image: url(/img/uploads/big/{$pv['subfolder']}/{$pv['name']})"></div>
                            {ifgt $photos_count,1}<div class="image-button"></div>{/if}
                        </div>
                        {/loop $photos}
                    </div>
                    {/if}
                </div>

                <div class="object-info">
                    <a href="/assortment/{$item['chpu_title']}/" title="{$item['title']}" class="title transition-text">{$item['title']}</a>
                    <div class="properties">{$item['properties']}</div>
                </div>
                <span class="details" data-icon="arrow_right_alt">Подробнее</span>
            </div>  
        {/loop $list} 
        {include /templates/includes/paginator.html}
    </div>  
</section>

<section class="hero bg-cover" style="background-image: url('/img/appliction-hero-bg.jpg');">
    <div class="inner">
        <h2 class="invert">Остались вопросы?</h2>
        <span class="annotation white">Свяжитесь с нами - и получите ответы на них!</span>
        {php:$middle = true}
        {php:$application_type = 'assortment_list_bottom_application';}
        {include /templates/includes/form.html}
    </div>
</section>

{include /templates/includes/contacts.html}