{include /templates/includes/main_head_part.html}
</head>
<body>
    {php:$header_clear = true}
    {include /templates/includes/main_header_part.html}
    <div class="narrow-container">
        <div id="error-404">
            <h1>404</h1>
            <p>Очень жаль, страница не найдена. А может ее никогда и не было.</p>
            <p>Попробуйте начать поиски с <a href="/">главной</a> или полюбуйтесь нашими <a
                    href="/objekty/">объектами</a>.</p>
            
        </div>
    </div>
    {include /templates/includes/main_footer_part.html} 
</body>
</html>




