<main  itemscope itemtype="http://schema.org/NewsArticle">
    <section class="page-info">
        <div class="inner">
            <h1 data-aos="fade" itemprop="headline">Производство и монтаж строительных металлоконструкций</h1>
            <div class="flex">
                <div class="annotation to-left">
                    <p class="title" data-aos="fade" data-aos-delay="0"><b>Что мы сделаем для вас?</b></p>
                    <div class="to-left">
                        <p data-icon="check" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1500">Предоставим подробный расчет стоимости наших услуг по вашему проекту КМ металлоемкостью от 200 т</p>

                        <p data-icon="check" data-aos="fade-up"data-aos-delay="300" data-aos-duration="1500">Снизим цены на 5-7% при комплексной поставке (изготовление + монтаж)</p>

                        <p data-icon="check" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1500">Разработаем чертежи КМД с 3D-визуализацией объекта и понятными монтажными схемами</p>

                        <p data-icon="check" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1500">В срок и по ГОСТам изготовим металлоконструкции на собственном заводе мощностью до 50 000 т/год</p>

                        <p data-icon="check" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1500">Аккуратно погрузим и доставим готовые изделия на стройплощадку</p>

                        <p data-icon="check" data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1500">Возведем стальной каркас для нового здания или проведем его реконструкцию в любое время года</p>

                        <p data-icon="check" data-aos="fade-up" data-aos-delay="1800" data-aos-duration="1500">Укомплектуем строительный объект профнастилом и сэндвич-панелями</p>
                    </div>
                </div>
                <div class="applications-block br3"  data-aos="fade-up">
                    <h2 class="invert">У вас всегда есть возможность!</h2>
                    <div>Получить расчет стоимости поставки металлоконструкций за 2 часа по готовому КМ</div>
                    <span class="button popup" data-url="/applications/popup/?application_type=lndng_raschet" data-goal="lndng_raschet">Получить расчет</span>
                    <div>Получить ответы на все ваши вопросы</div>
                    <span class="button popup" data-url="/applications/popup/?application_type=lndng_ask_question" data-goal="lndng_ask_question">Задать вопрос</span>
                    <span class="blured bg-cover hdr br3"></span>
                </div>
            </div>
        </div>
    </section>
    <article  itemprop="articleBody">
        <section class="we-build bg-cover dark-bg" id="what-we-build" data-aos="fade" data-aos-delay="0">
            <div class="inner">
                <h2 class="invert">Изготавливаем и строим</h2>
                
                <div class="content carousel flicky" data-count-1280="3" data-count-1024="3" data-count-768="2" data-count-480="1">
                
                    <div class="item" data-pos="1">
                        <span class="title">Производственные<br/> и складские помещения</span>
                        <ul>
                            <li>Производственные корпуса заводов, комбинатов и фабрик</li>
                            <li>Склады и логистические центры</li>
                            <li>Ангары для крупногабаритного транспорта</li>
                        </ul>
                    </div>
                    
                    <div class="item active" data-pos="2">
                        <span class="title">Объекты АПК</span>
                        <ul>
                            <li>Животноводческие комплексы и фермы</li>
                            <li>Хранилища для зерна, овощей и фруктов</li>
                            <li>Хозблоки</li>
                        </ul>
                    </div>

                    <div class="item" data-pos="3">
                        <span class="title">Коммерческие объекты</span>
                        <ul>
                            <li>Торгово-развлекательные центры</li>
                            <li>Офисные здания</li>
                            <li>Автосалоны и многоуровневые стоянки</li>
                        </ul>
                    </div>

                    <div class="item" data-pos="4">
                        <span class="title">Спортивные<br/> объекты</span>
                        <ul>
                            <li>Многофункциональные спортивные комплексы</li>
                            <li>Стадионы</li>
                            <li>Дворцы спорта</li>
                        </ul>
                    </div>
                    
                </div>
            
            </div>
                
        </section>

        <section class="guarantee bg">
            <div class="inner">
                <h2 data-aos="fade" data-aos-delay="0">Мы гарантируем</h2>
                <div class="list flex">
                    <div class="item" data-aos="fade-up" data-aos-delay="100">
                        <span class="transition img bg-cover" style="-webkit-mask-image:url(/img/discount-icon.svg);" alt=""></span>
                        <span class="title">Оптимальные цены</span>
                        <span class="text">Наше ценовое предложение на 10-15% привлекательнее цен наших конкурентов по ЦФО. Достигаем мы этого за счет:
                        <ul>
                            <li>- бережливого использования ресурсов;</li>
                            <li>- выгодных закупок ТМЦ;</li>
                            <li>- минимизации участия посредников;</li>
                            <li>- скурпулезного анализа хозяйственного деятельности;</li>
                            <li>- <span class="send popup" data-goal="raschet" data-url="/applications/popup/?application_type=raschet">оперативного расчета стоимости</span>.</li>
                        </ul>  
                        </span>
                    </div>
                    <div class="item" data-aos="fade-up" data-aos-delay="250">
                        <span class="transition img bg-cover" style="-webkit-mask-image:url(/img/like-icon.svg);" alt=""></span>
                        <span class="title">Качество продукции и услуг</span>
                        <span class="text">Для обеспечения высокого уровня качества мы используем: 
                            <ul>
                            <li>- BIM-технологии;</li> 
                            <li>- качественную сталь;</li> 
                            <li>- надежное оборудование;</li> 
                            <li>- квалифицированный персонал.</li> 
                            </ul>
                            Надежность и безопасность будущих объектов металлокаркасного строительства обеспечивают неукоснительное следование требованиям СНиПов и ГОСТов, а также пошаговый контроль всех процессов.
                        </span>
                    </div>
                    <div class="item" data-aos="fade-up" data-aos-delay="400">
                        <span class="transition img bg-cover" style="-webkit-mask-image:url(/img/handshake-icon.svg);" alt=""></span>
                        <span class="title">Уверенность в результате</span>
                        <span class="text">Предварительная оценка ресурсных возможностей позволяет нам грамотно планировать все виды работ, обеспечивает ритмичную загрузку производства без сбоев, поэтому мы выдерживаем сроки исполнения заказов при максимальном качестве и минимальных издержках. Наши заказчики всегда уверены в ожидаемом результате.</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="objects flicky" id="objects">
            <div class="inner" data-aos="fade">
                <h2>Готовые объекты</h2>
                {block objekty/block/?v=2}
            </div>
        </section>

        {include modules/calculator/templates/calculator.block.html}        

        <!--section class="presentation">
            <div class="inner">
                <a href="/img/spmk_presentation.pdf" target="_blank" title="Презентация «СПМК»" data-goal="presentation_lndng"><span class="file-type-ico pdf"></span>Скачать презентацию от компании «СПМК» <b>(69 MB)</b></span></a>
            </div>
        </section-->
        
        <section class="benefits inner">

            <h2 data-aos="fade">Почему выбирают металлоконструкции при строительстве?</h2>

            <div class="item" data-aos="fade-right">
                <div class="title" data-icon="check">Металл на 15% дешевле других материалов</div>
            </div>
            
            <div class="item" data-aos="fade-right">
                <div class="title" data-icon="check">Металлоконструкции позволяют воплощать в жизнь большинство объемно-планировочных решений</div>
            </div>
            
            <div class="item" data-aos="fade-right">
                <div class="title" data-icon="check">При качественном изготовлении и эксплуатации МК могут использоваться неограниченно долго</div>
            </div>
            
            <div class="item" data-aos="fade-right">
                <div class="title" data-icon="check">Строительство может осуществляться круглый год и при любой погоде</div>
            </div>
            
            <div class="item" data-aos="fade-right">
                <div class="title" data-icon="check">Применение МК обеспечивает высокую скорость монтажа</div>
            </div>
            
            <div class="item" data-aos="fade-right">
                <div class="title" data-icon="check">Металлические конструкции могут использоваться в сложных грунтовых условиях, так как не требуют усиленного фундамента</div>
            </div>
            
        </section>

        <section class="regions" id="regions">

            <h2 data-aos="fade-up">Карта объектов</h2>
            <span class="annotation"  data-aos="fade-up">Регионы строительства металлокаркасных объектов с нашим участием:</span>
            
            <div class="flex">
                <ul data-aos="fade-right">
                    <li>1. Москва и Московская область</li>
                    <li>2. Тверская область</li>
                    <li>3. Смоленская область</li>
                    <li>4. Калужская область</li>
                    <li>5. Брянская область</li>
                    <li>6. Владимирская область</li>
                    <li>7. Тульская область</li>
                    <li>8. Орловская область</li>
                </ul>
                <ul data-aos="fade-left">
                    <li>9. Курская область</li>
                    <li>10. Белгородская область</li>
                    <li>11. Липецкая область</li>
                    <li>12. Рязанская область</li>
                    <li>13. Воронежская область</li>
                    <li>14. Тамбовская область</li>
                    <li>15. Санкт-Петербург</li>
                    <li>16. Сочи</li>
                </ul>
            </div>
            <div class="bg"></div>
        </section>
        <section class="about-call">
            <div class="inner">
                {php:$form_title = 'Получите профессиональную консультацию по телефону! <br/>Мы всегда перезваниваем'}
                {php:$application_type = 'mainpage_call'}
                {include /templates/includes/form.call.html}
            </div>
        </section>
        <section class="how-we-work" id="how-we-work">
            <h2 data-aos="fade-up">Как мы работаем?</h2>
            <ul class="flex inner">
                <li data-aos="fade">
                    <img src="/img/digits/1.png" alt="" />
                    <span>Утверждаем проект</span>
                </li>
                <li data-aos="fade" data-aos-delay="200">
                    <img src="/img/digits/2.png" alt="" />
                    <span>Согласовываем стоимость и сроки</span>
                </li>
                <li data-aos="fade" data-aos-delay="400">
                    <img src="/img/digits/3.png" alt="" />
                    <span>Заключаем договор</span>
                </li>
                <li data-aos="fade" >
                    <img src="/img/digits/4.png" alt="" />
                    <span>Зказчик вносит аванс</span>
                </li>
                <li data-aos="fade" data-aos-delay="200">
                    <img src="/img/digits/5.png" alt="" />
                    <span>Производим конструкции</span>
                </li>
                <li data-aos="fade" data-aos-delay="400">
                    <img src="/img/digits/6.png" alt="" />
                    <span>Выполняем взаиморасчеты перед отгрузкой</span>
                </li>
                <li data-aos="fade">
                    <img src="/img/digits/7.png" alt="" />
                    <span>Отправляем продукцию на место строительства</span>
                </li>
                <li data-aos="fade" data-aos-delay="200">
                    <img src="/img/digits/8.png" alt="" />
                    <span>Монтируем и при необходимости снабжаем объект материалами</span>
                </li>
                <li data-aos="fade" data-aos-delay="400">
                    <img src="/img/digits/9.png" alt="" />
                    <span>Гарантируем качество продукции и услуг</span>
                </li>
            </ul>

        </section>

        <section class="clients">
            <div class="inner">
                <h2 data-aos="fade-up">Нам доверяют</h2>
                <span class="annotation" data-aos="fade-up">Проектирование, изготовление и монтаж металлоконструкций такие компании,как</span>
                <div class="list carousel flicky" data-aos="fade" data-aos-delay="400" data-count-1280="6" data-count-1600="6" data-count-1024="3" data-count-768="3" data-count-480="2">
                    <div><img src="/img/clients/logo-miratorg.jpg" alt=""></div>
                    <div><img src="/img/clients/logo-ecovoding.png" alt=""></div>
                    <div><img src="/img/clients/logo-murom.jpg" alt="" class="transition"></div>
                    <div><img src="/img/clients/logo-ryazan.png" alt=""></div>
                    <div><img src="/img/clients/logo-econiva.png" alt=""></div>
                    <div><img src="/img/clients/logo-pso13.png" alt=""></div>
                    <div><img src="/img/clients/logo-sts.png" alt=""></div>
                    <div><img src="/img/clients/logo-zolotoy-vavilon.png" alt=""></div>
                    <div><img src="/img/clients/logo-guardian-glass.png" alt=""></div>
                    <div><img src="/img/clients/logo-fort-group.png" alt=""></div>
                    <div><img src="/img/clients/logo-apkholding.png" alt=""></div>
                    <div><img src="/img/clients/logo-litana.png" alt=""></div>
                    <div><img src="/img/clients/logo-lasar.png" alt=""></div>
                    <div><img src="/img/clients/logo-kerama.png" alt=""></div>
                    <div><img src="/img/clients/logo-alfa.png?v=1" alt=""></div>
                </div>
            </div>
        </section>

        
        <section class="news flicky" id="news">
            <div class="inner" data-aos="fade">
                <h2>Новости</h2>
                {block news/block/?count=4}
            </div>
        </section>

        
        <section class="about-text">
            <div class="inner">
                <h2 data-aos="fade-up">Компания «СПМК»</h2>
                <div class="text">
                <p><b>«СПМК» </b>— это российская компания, которая занята: разработкой чертежей КМД; производством, монтажом зданий и сооружений на основе строительных металлических конструкций; поставками металлопроката, профнастила и сэндвич-панелей. За годы работы наше функционирование было отлажено таким образом, что сегодня нам удается успешно воплощать в жизнь металлокаркасные проекты разной сложности. Наша миссия — максимально соответствовать потребностям клиентов в условиях честного и взаимовыгодного партнерства. Высокий уровень доверия заказчиков к «СПМК» убеждает нас в том, что свой путь мы выбрали правильно.</p>
                
                <p><b>Клиенты «СПМК»</b> — это строительные, промышленные и сельскохозяйственные предприятия и фирмы любых размеров и форм собственности, от небольших компаний до международных промышленных холдингов с российским и иностранным капиталом. Каркасы производственных, складских, торгово-развлекательных зданий, трубопроводы в современном строительстве не обходятся без металлоконструкций, поэтому спрос на наши услуги ежегодно растет.</p>
                
                <p>Комплекс услуг, который мы предлагаем, позволяет инвестировать в строительство выгодно, безопасно, с требуемым уровнем сервиса и качества. На всю поставляемую продукцию распространяются гарантийные обязательства от 12 месяцев и более в зависимости от требований клиента.</p>
                
                <p><b>Хотите выбрать поставщика?</b></p>

                <p>
                    Время начинать работу с тем, кому доверяют!
                    <span class="send popup" data-url="/applications/popup/?application_type=excursion" data-goal="excursion">Оставьте  заявку на экскурсию</span>
                    посетите наш завод металлоконструкций в городе Рязани и лично убедитесь в качестве нашей продукции и профессионализме сотрудников.
                </p>
                <p>Будем рады принять участие в ваших проектах строительства в 2020 году!</p>

                </div>
            </div>
        </section>
        
        <!--section class="diploms">

            <h2>Сертификаты, свидетельства и допуски</h2>
            
            <div class="list flex">

                <div class="item internal-link" data-link="/img/diploms/1.jpg" data-new-tab="true">
                    <img src="/img/diploms/1-sm.jpg" alt="" />
                </div>
                
                <div class="item internal-link" data-link="/img/diploms/2.jpg" data-new-tab="true">
                    <img src="/img/diploms/2-sm.jpg" alt="" />
                </div>

            </div>
            
        <!--/section-->
       
        {php:$application_type = 'mainpage_middle_second_have_questions_new';}
        {include /templates/includes/block.form.html}

        {include /templates/includes/contacts.html}
        {include /templates/includes/schema.html}  
    </article>               
</main>

