<section class="">
    <div class="inner">
        <h1 data-aos="fade">{if!empty $h1}{$h1}{else}О компании «СПМК»{/if}</h1>
        <div class="navigation" data-aos="fade" data-aos-delay="300">
            <a href="#what-we-build">Что мы строим</a>
            <a href="#regions">Где мы строим</a>
            <a href="#how-we-work">Как мы работаем</a>
            <a href="#objects">Здания из наших металлоконструкций</a>
        </div>
        
        <div class="annotation" data-aos="fade" data-aos-delay="600">
            «СПМК» — это комплексный промышленный девелопмент, включающий в себя
            весь цикл работ по проектированию и строительству металлокаркасных объектов.
        </div>
    </div>
</section>
                                 
<section class="we-build bg-cover carousel-vertical dark-bg" id="what-we-build" data-aos="fade-up" data-aos-delay="900">
    <div class="inner">
        <h2 class="invert">Что мы строим</h2>
        
        <ul class="filter flex">
            <li data-pos="1">Производственные<br/>и складские помещения</li>
            <li class="active" data-pos="2">Объекты<br/>АПК</li>
            <li data-pos="3">Коммерческие<br/>объекты</li>
            <li data-pos="4">Спортивные<br/>объекты</li>
        </ul>
        
        <div class="content">
        
            <div class="item" data-pos="1">
                <span class="title">Производственные<br/> и складские помещения</span>
                <ul>
                    <li>Производственные корпуса заводов, комбинатов и фабрик</li>
                    <li>Склады и логистические центры</li>
                    <li>Ангары для крупногабаритного транспорта</li>
                </ul>
                <span class="button-text">Оперативно рассчитаем стоимость при наличии КМ или КМД</span>
                <span class="button big popup" data-url="/applications/popup/?application_type=mainpage_stroim_raschet" data-goal="mainpage_stroim_raschet">Получить расчет</span>
            </div>
            
            <div class="item active" data-pos="2">
                <span class="title">Объекты АПК</span>
                <ul>
                    <li>Животноводческие комплексы и фермы</li>
                    <li>Хранилища для зерна, овощей и фруктов</li>
                    <li>Хозблоки</li>
                </ul>
                <span class="button-text">Оперативно рассчитаем стоимость при наличии КМ или КМД</span>
                <span class="button big popup" data-url="/applications/popup/?application_type=mainpage_stroim_raschet">Получить расчет</span>
            </div>

            <div class="item" data-pos="3">
                <span class="title">Коммерческие объекты</span>
                <ul>
                    <li>Торгово-развлекательные центры</li>
                    <li>Офисные здания</li>
                    <li>Автосалоны и многоуровневые стоянки</li>
                </ul>
                <span class="button-text">Оперативно рассчитаем стоимость при наличии КМ или КМД</span>
                <span class="button big popup" data-url="/applications/popup/?application_type=mainpage_stroim_raschet">Получить расчет</span>
            </div>

            <div class="item" data-pos="4">
                <span class="title">Спортивные<br/> объекты</span>
                <ul>
                    <li>Многофункциональные спортивные комплексы</li>
                    <li>Стадионы</li>
                    <li>Дворцы спорта</li>
                </ul>
                <span class="button-text">Оперативно рассчитаем стоимость при наличии КМ или КМД</span>
                <span class="button big popup" data-url="/applications/popup/?application_type=mainpage_stroim_raschet">Получить расчет</span>
            </div>
        
        </div>
    
    </div>
        
</section>
<section class="regions" id="regions">

    <h2 data-aos="fade-up" >Где мы строим</h2>
    <span class="annotation" data-aos="fade-up" >География нашего участия в проектах:</span>
    
    <div class="flex" >
        <ul data-aos="fade-right" >
            <li>1. Московская область</li>
            <li>2. Тверская область</li>
            <li>3. Смоленская область</li>
            <li>4. Калужская область</li>
            <li>5. Брянская область</li>
            <li>6. Владимирская область</li>
            <li>7. Тульская область</li>
            <li>8. Орловская область</li>
        </ul>
        <ul data-aos="fade-left" >
            <li>9. Курская область</li>
            <li>10. Белгородская область</li>
            <li>11. Липецкая область</li>
            <li>12. Рязанская область</li>
            <li>13. Воронежская область</li>
            <li>14. Тамбовская область</li>
            <li>15. Санкт-Петербург</li>
            <li>16. Сочи</li>
        </ul>
    </div>
    <div class="bg"></div>
</section>

<!--section class="diploms">

    <h2 data-aos="fade-up" >Сертификаты, свидетельства и допуски</h2>
    
    <div class="list flex" data-aos="fade-up">

        <div class="item">
            <img src="/img/diploms/1-sm.jpg" alt="" />
            <span class="title">Аттестация технологии сварки</span>
            <a href="/img/diploms/1.jpg" data-icon="zoom_out_map" target="_blank">Открыть в полном размере</a>
        </div>
        
        <div class="item">
            <img src="/img/diploms/2-sm.jpg" alt="" />
            <span class="title">Допуск вести строительные, проектировочные и изыскательные работы</span>
            <a href="/img/diploms/2.jpg" data-icon="zoom_out_map" target="_blank">Открыть в полном размере</a>
        </div>

    </div>
    
</section-->

<section class="benefits inner">
    <h2 data-aos="fade-up">Ваша выгода при работе с нами</h2>
    <div class="item flex" data-aos="fade-right">
        <div class="title" data-icon="check">Опыт и репутация больше 10 лет</div>
        <div class="text">
            Мы начинали в 2009 году с небольшой компании по оптовой продаже металлопроката. Сегодня мы компания, в состав которой входят: собственный завод по изготовлению металлоконструкции, строительно-монтажное управление, транспортная служба и конструкторское бюро. Нам доверяют крупные коммерческие заказчики и государственные структуры. Мы всегда выполняем взятые на себя обязательства. 
            <b>Вы экономите нервы</b>
        </div>
    </div>
    <div class="item flex" data-aos="fade-right">
        <div class="title" data-icon="check">Собственное производство</div>
        <div class="text">
            Весь остов конструкции на металлокаркасе мы изготавливаем на собственном производстве.  Приехав к Вам на объект, мы возводим здание из уже готовых узлов за короткие сроки. Таким образом, срок работы на объекте сокращается в несколько раз.
            <b>Вы экономите ВРЕМЯ</b>
        </div>
    </div>
    <div class="item flex" data-aos="fade-right">
        <div class="title" data-icon="check">Гибкие цены</div>
        <div class="text">
            Мы предоставляем подробный и понятный расчет стоимости проекта и обсуждаем с Вами все вопросы до полного понимания цены. Формируем персональные предложения при комплексном строительстве. Делаем скидки для постоянных заказчиков.
            <b>Вы экономите деньги</b>
        </div>
    </div>
    <div class="item flex" data-aos="fade-right">
        <div class="title" data-icon="check">Гарантия качества</div>
        <div class="text">
            Мы бесплатно исправим дефекты лакокрасочного покрытия в течение 1 года в случае, если они образовались не по вашей вине. На сами металлоконструкции и услуги монтажа гарантия 6 лет (при соблюдении условий эксплуатации).
            <b>Вы экономите деньги дважды</b>        
        </div>
    </div>
    <div class="item flex" data-aos="fade-right">
        <div class="title" data-icon="check">Конструкторское бюро</div>
        <div class="text">
            Наши квалифицированные инженеры-конструкторы грамотно и в разумные сроки разработают КМД, всегда заметят ошибки предыдущих разработчиков, сформируют предложения по усовершенствованию геометрии конструкций, сформируют список понятной документации.   
            <b>Вы уверены в результате</b>        
        </div>
    </div>
</section>

<section class="how-we-work" id="how-we-work">
    <h2 data-aos="fade-up">Как мы работаем?</h2>
    <ul class="flex inner">
        <li data-aos="fade">
            <img src="/img/digits/1.png" alt="" />
            <span>Утверждаем проект</span>
        </li>
        <li data-aos="fade" data-aos-delay="200">
            <img src="/img/digits/2.png" alt="" />
            <span>Согласовываем стоимость и сроки</span>
        </li>
        <li data-aos="fade" data-aos-delay="400">
            <img src="/img/digits/3.png" alt="" />
            <span>Заключаем договор</span>
        </li>
        <li data-aos="fade" >
            <img src="/img/digits/4.png" alt="" />
            <span>Авансирование работ заказчиком</span>
        </li>
        <li data-aos="fade" data-aos-delay="200">
            <img src="/img/digits/5.png" alt="" />
            <span>Изготовление металло- конструкций</span>
        </li>
        <li data-aos="fade" data-aos-delay="400">
            <img src="/img/digits/6.png" alt="" />
            <span>Взаиморасчеты перед отгрузкой</span>
        </li>
        <li data-aos="fade">
            <img src="/img/digits/7.png" alt="" />
            <span>Доставляем продукцию до места локации объекта</span>
        </li>
        <li data-aos="fade" data-aos-delay="200">
            <img src="/img/digits/8.png" alt="" />
            <span>Монтируем и при необходимости снабжаем объект материалами</span>
        </li>
        <li data-aos="fade" data-aos-delay="400">
            <img src="/img/digits/9.png" alt="" />
            <span>Гарантируем качество продукции и услуг</span>
        </li>
    </ol>

</section>
{php:$application_type = 'mainpage_middle_first_have_questions';}
{include /templates/includes/block.form.html}

<section class="clients">
    <div class="inner">
        <h2 data-aos="fade-up">Нам доверяют</h2>
        <span class="annotation" data-aos="fade-up">Проектирование, изготовление и монтаж металлоконструкций такие компании,как</span>
        <div class="list carousel flicky" data-aos="fade" data-aos-delay="400" data-count-1280="6" data-count-1600="6" data-count-1024="3" data-count-768="3" data-count-480="2">
            <div><img src="/img/clients/logo-miratorg.jpg" alt=""></div>
            <div><img src="/img/clients/logo-ecovoding.png" alt=""></div>
            <div><img src="/img/clients/logo-murom.jpg" alt="" class="transition"></div>
            <div><img src="/img/clients/logo-ryazan.png" alt=""></div>
            <div><img src="/img/clients/logo-econiva.png" alt=""></div>
            <div><img src="/img/clients/logo-pso13.png" alt=""></div>
            <div><img src="/img/clients/logo-sts.png" alt=""></div>
            <div><img src="/img/clients/logo-zolotoy-vavilon.png" alt=""></div>
            <div><img src="/img/clients/logo-guardian-glass.png" alt=""></div>
            <div><img src="/img/clients/logo-fort-group.png" alt=""></div>
            <div><img src="/img/clients/logo-apkholding.png" alt=""></div>
            <div><img src="/img/clients/logo-litana.png" alt=""></div>
            <div><img src="/img/clients/logo-lasar.png" alt=""></div>
            <div><img src="/img/clients/logo-kerama.png" alt=""></div>
            <div><img src="/img/clients/logo-alfa.png?v=1" alt=""></div>
        </div>
    </div>
</section>

<section class="objects flicky" id="objects">
    <div class="inner" data-aos="fade">
        <h2>Готовые объекты</h2>
        {block objekty/block/?v=2}
    </div>
</section>
 <!--section class="presentation">
    <div class="inner">
        <a href="/img/spmk_presentation.pdf" target="_blank" title="Презентация «СПМК»" data-goal="presentation_main"><span class="file-type-ico pdf"></span>Скачать презентацию от компании «СПМК» <b>(69 MB)</b></span></a>
    </div>
</section-->
{include /templates/includes/contacts.html}

{php:$application_type = 'mainpage_middle_second_have_questions';}
{include /templates/includes/block.form.html}
