{if!empty $photos}
<div class="gallery-container">
    <div class="thumbs-list">
        {loop $photos,$p,$photo}
        {ifempty $current_page['is_amp']}
        <a href="/img/uploads/big/{$photo['subfolder']}/{$photo['name']}" title="{$item['title']}" data-icon="search">
            <img loading="lazy" src="/img/uploads/med/{$photo['subfolder']}/{$photo['name']}" alt="{$item['title']}" />
        </a>
        {else}
            <amp-img src="/img/uploads/med/{$photo['subfolder']}/{$photo['name']}"   title="{$item['title']}" layout="responsive" width="300" height="300"> </amp-img>
        {/if}
        {/loop $photos}
    </div>
</div>
{/if}