{include /templates/includes/main_head_part.html}
</head>
<body>
    <main class="mainpage">
        <header class="flex">
            <a href="/" title="СПМК" class="logo">
                <img src="/img/logo.svg" alt="" />
                <span>Стальные металлоконструкции<br/> от проекта до монтажа</span>
            </a>
            
            <div class="actions flex">
                <span class="send button popup icon" data-url="/applications/popup/">
                    Получить расчет
                </span>
                <a href="mailto:info@spmk.group" class="email icon" title="">info@spmk.group</a>
                <span class="phone icon" onclick="try{ document.location.href='tel:+78002507697'; return true; }catch(err){ }">8 (800) 250-76-97</span>
            </div>
            
            <span class="burger mobile">
                <span></span>
                <span></span>
                <span></span>
            </span>
                
        </header> 
        <div class="hero bg-cover" style="background-image:url('/img/hero.png')">
    
            <div class="text">
                <div class="inner">
                    <h1>СТРОИТЕЛЬНЫЕ МЕТАЛЛОКОНСТРУКЦИИ ОТ ПРОЕКТА ДО МОНТАЖА</h1>
                    <div class="lid">Больше 10 лет  в сфере гражданского и промышленного строительства</div>
                    <a href="/about/" class=" transition br3">Подробнее</a>
                </div>
            </div>
            
            <div class="menu br3">
                <nav>
                    <ul class="container">
                        <li><a href="/about/" class="transition br3" title="О компании">О компании</a></li>
                        <li><a href="#" class="transition br3" title="Проектирование">Проектирование</a></li>
                        <li><a href="#" class="transition br3" title="Изготовление">Изготовление</a></li>
                        <li><a href="#" class="transition br3" title="Монтаж">Монтаж</a></li>
                        <li><a href="#" class="transition br3" title="Строительство «под ключ»">«Под ключ»</a></li>
                        <li><a href="/objekty/" class="transition br3" title="Объекты">Объекты</a></li>
                        <li><a href="#" class="transition br3" title="Прайс">Прайс</a></li>
                        <!--li><a href="/zakupki/" class="transition br3" title="Закупки">Закупки</a></li-->
                    </ul>
                    <span class="copyright">
                        2019 SPMK Group.<br/>
                        Все права защищены.    
                    </span>
                </nav>
                
        
        </div>
    </main>
    {if!empty $debug}
    {else}
        <script>{$js_content}</script>
    {/if}
</body>
</html>

    

        
        