<main  itemscope itemtype="http://schema.org/NewsArticle">
   <article itemprop="articleBody">
        <section>
            <div class="inner content">

                <h1 itemprop="headline">Прайс на строительные металлоконструкции</h1>
                <p>Завод металлоконструкций СПМК предлагает прямым корпоративным заказчикам, генеральным и техническим
                    подрядчикам <b>надежное и взаимовыгодное сотрудничество по индивидуальному изготовлению строительных
                        металлоконструкций, монтажу каркасов зданий из металлоконструкций на территории РФ!</b></p>
                <h2>Почему выгодно заказать металлоконструкции у нас?</h2>
                <ul>
                    <li><strong>Выполняем взятые на себя обязательства.</strong>&nbsp;Накопленный опыт позволяет нам
                        исполнять заказы на изготовление и монтаж металлоконструкций разной степени сложности. Мы ценим
                        собственную деловую репутацию и статус надежного поставщика качественных и прочных
                        металлоконструкций.
                    </li>
                    <li><strong>Оптимизируем транспортные расходы.</strong>&nbsp;Производство расположено в ЦФО на
                        территории Индустриального парка &laquo;Станкозаводской&raquo; в г. Рязани. Близость завода
                        металлоконструкций к регионам активного металлокаркасного строительства позволяет нашим
                        Заказчикам переориентировать сэкономленные затраты на логистику на другие статьи строительной
                        сметы.
                    </li>
                    <li><strong>Исключаем накрутки посредников.</strong>&nbsp;Металлоконструкции изготавливаем на
                        собственной производственной базе общей площадью почти 30&nbsp;000 м2. Технического вооружения
                        завода, компетенций рабочего персонала и ИТР достаточно для одновременного изготовления 4-7
                        заказов на поставку металлоконструкций. Принимаем заказы от 200 тонн. &nbsp;
                    </li>
                    <li><strong>Сокращаем сроки строительства.&nbsp;</strong>Мощности завода позволяют изготовить 3,5
                        &ndash; 4 тыс. тонн сварных металлоконструкций в месяц. При таких объемах монтажники на
                        стройплощадке нового здания из металлоконструкций, например, логистического склада,
                        производственного цеха, торгового центра или здания для с/х, предположим площадью 24&nbsp;000
                        м2, уже через 2,5 недели могут приступить к монтажу первой оси стального каркаса, а общий срок
                        поставки займет всего 6 недель и 4 дня.
                    </li>
                    <li><strong>Поощряем своих клиентов.&nbsp;</strong>Мы предлагаем конкурентные цены на рынке
                        стального строительства. &nbsp;Дополнительно даем скидки на объем новым клиентам со статусом
                        Генподрядчика и постоянным Заказчикам за многолетнее сотрудничество. &nbsp;
                    </li>
                    <li><strong>Гарантируем качество.</strong>&nbsp;Продукция изготавливается в соответствии с ГОСТ
                        23118-2012, СП 53-101-98, ГОСТ 9.402-2004 и требованиями технической документации марки КМ,
                        представленной Заказчиками. &nbsp;&nbsp;
                    </li>
                </ul>
                <p>Мы работаем только в тех проектах, по которым гарантированно можем обеспечить качество, надежность и
                    оптимальный экономический эффект для обеих сторон - стороны Заказчика и стороны Производителя.</p>
                <h2>Из чего складывается стоимость металлоконструкций?</h2>
                <p>Ценовая политика Завода металлоконструкций СПМК рассчитана на запросы основных участников
                    строительной отрасли и формируется с учетом множества показателей. В расчете стоимости мы
                    придерживаемся золотой середины, без необоснованного завышения или наоборот демпинга. Такой подход
                    позволяет нам сохранять устойчивые позиции на рынке и, что особенно важно, не подвергать рискам
                    клиентов, партнеров, поставщиков.</p>
                <h2>Какова цена 1 тонны металлоконструкций?</h2>
                <p>Условная стоимость 1 тонны сварных строительных металлоконструкций на начало 2021 года составляет
                    около 105 000 руб. с НДС. В цену включены пять видов затрат, перечислим их ниже.</p>
                <ol>
                    <li><strong>Закупка металлопроката</strong>&nbsp;&mdash; 68% от общей цены. Сегодня правила на рынке
                        диктуют металлургические комбинаты, в основном они отпускают металл заводам-изготовителям по
                        одной и той же цене. Благодаря тому, что мы работаем в отрасли давно и регулярно закупаем
                        крупные партии металлопроката, отпускная цена для нас ниже на 1-5%. Отметим, что такая скидка
                        доступна только таким крупным производствам, как наше.
                    </li>
                    <li><strong><a href="/uslugi/izgotovlenie/" title="Изготовление металлоконструкций">Изготовление
                        металлоконструкций</a></strong>&nbsp;&mdash; 25% от общей цены. В эту цифру входят реальные
                        производственные издержки, стоимость затраченных материалов, оплата труда и поддержание
                        работоспособности оборудования. Предложения ниже 14 тыс. руб. за 1 тонну металлоконструкций
                        влекут за собой, как правило, экономию на качестве, а выше 40 тыс. руб. за тонну &mdash;
                        повышенные расходы Заказчика.
                    </li>
                    <li><strong>Антикоррозийные материалы и обработка</strong>&nbsp;&mdash; 4%. Экономия на этой статье
                        может свести на &laquo;нет&raquo; репутацию поставщика качественных металлоконструкций. Для
                        Заказчика такая экономия может обернуться непредвиденными ремонтами и расходами. На своем
                        производстве мы применяем &nbsp;дробемётную обработку конструкций входного металлопроката и
                        готовой продукции перед окрашиванием. По ЛКП сотрудничаем напрямую с известными
                        заводами-изготовителями, например, <a href="https://abcfarben.ru/catalog/farben" rel="noopener"
                                                              target="_blank">Farben</a>, HEMPEL, Jotun и другими.
                    </li>
                    <li><strong><a href="/uslugi/proektirovanie/">Разработка чертежей КМД</a></strong>&nbsp;&mdash; 1%.
                        Профессиональная разработка рабочей документации напрямую влияет на надежность
                        металлоконструкций, качество и скорость монтажа, а квалификация опытных проектных инженеров
                        требует достойной оплаты. Стоимость разработки документации зависит от сложности проекта и
                        варьируется от 77 коп. до 2,5 руб. за кг. Крупные производители нередко запускают маркетинговые
                        акции, например, предлагают новым заказчикам бесплатно разработать КМД при определенном тоннаже
                        заказа. Такие акции позволяют стимулировать сбыт без ущерба для изготовителя.
                    </li>
                    <li><strong><a href="/uslugi/dostavka/">Доставка</a></strong>&nbsp;&mdash; 2%. Затраты на логистику
                        варьируются по степени удаленности объекта от производственной площадки, вида доставки и
                        габаритов изделий. Отправочные марки конструкций транспортируются предварительно
                        сгруппированными (без перекоса, перетягиваний) при помощи стальной ленты, бруса, картона.
                        Профессиональный подход к транспортировке позволяет сохранять первоначальное качество продукции
                        при разгрузке, транспортировке и монтаже.
                    </li>
                </ol>
            </div>
        </section>

        <section>
            <div class="inner">
                <div class="applications-block br3 full-width">
                    <div class="flex">
                        <div class="block">
                            <div>Оперативный расчет стоимости поставки металлоконструкций под Ваш объект!</div>
                            <span class="button popup" data-url="/applications/popup/?application_type=price_raschet" data-goal="price_raschet">Получить расчет</span>
                        </div>
                        <div class="block">
                            <div>Или просто оставьте заявку на обратный звонок</div>
                            <span class="button popup" data-url="/applications/popup/?application_type=price_call" data-goal="price_call">Оставить заявку</span>
                        </div>
                    </div>
                    <span class="blured bg-cover hdr br3"></span>
                </div>
            </div>
        </section>

        {include /templates/block.price.html}

       {include modules/calculator/templates/calculator.block.html}

        {php:$application_type = 'mainpage_middle_second_have_questions_new';}
        {include /templates/includes/block.form.html}

       {include /templates/includes/schema.html}

   </article>
</main>

