<main  itemscope itemtype="http://schema.org/NewsArticle">
   <article itemprop="articleBody">
        <section>
            <div class="inner content">

                <h1 itemprop="headline">Прайс на строительные металлоконструкции</h1>
                <p>Завод металлоконструкций &laquo;СПМК&raquo; (Союз производителей металлоконструкций) предлагает
                    прямым корпоративным заказчикам, генеральным и техническим подрядчикам <strong>надежное и
                        взаимовыгодное сотрудничество по индивидуальному изготовлению, строительству металлокаркасных
                        объектов на территории РФ</strong>!</p>
                <h2>Почему выгодно заказать металлоконструкции у нас?</h2>
                <ul>
                <li>Наш завод металлоконструкций располагается вблизи регионов, где ведется активное строительство. Это Центральный, Северо-Западный, Южный, Поволжский федеральные округа.</li>
                <li>Мы обладаем собственной производственной базой.</li>
                <li>Мы предлагаем конкурентные цены на рынке стального строительства.</li>
                </ul>
                <h2>Из чего складывается стоимость металлоконструкций?</h2>
                <p>Наша ценовая политика рассчитана на запросы основных участников строительной отрасли и формируется с учетом множества показателей. В расчете стоимости мы придерживаемся золотой середины, не завышая цены и не демпингуя. Это позволяет нам сохранять устойчивые позиции на рынке и, что особенно важно, не подвергать рискам своих заказчиков, партнеров, поставщиков.</p>
                <h2>Какова цена 1 тонны металлоконструкций?</h2>
                <p>Условная стоимость 1 тонны сварных строительных металлоконструкций составляет около 77 000 руб. с НДС. В цену включены пять видов затрат, перечислим их ниже.</p>
                <ol>
                <li><b>Закупка металлопроката</b> — 68% от общей цены. Сегодня правила на рынке диктуют металлургические комбинаты, в основном они отпускают металл заводам-изготовителям по одной и той же цене. Благодаря тому, что мы работаем в отрасли очень давно и регулярно делаем крупные заказы, закупочную стоимость нам снижают на 1-5%. Отметим, что такая скидка доступна только таким крупным производствам, как наше.</li>
                <li><b><a href="/uslugi/izgotovlenie/" target="_blank" class="text-color no-border" title="Изготовление металлоконструкций">Изготовление металлоконструкций</a></b> — 25% от общей цены. В эту цифру входят реальные производственные издержки, стоимость затраченных материалов, оплата труда и поддержание работоспособности оборудования. Предложения ниже 14 тыс. руб. за 1 тонну металлоконструкций влекут за собой, как правило, экономию на качестве, а выше 38 тыс. руб. за тонну — повышенные расходы заказчика.</li>
                <li><b>Антикоррозийные материалы и обработка</b> — 4%. Экономия на этой статье может свести на «нет» репутацию поставщика качественных металлоконструкций. Для заказчика такая экономия может обернуться непредвиденными ремонтами и расходами.</li>
                <li><b><a href="/uslugi/proektirovanie/" target="_blank" class="text-color no-border" title="Проектирование металлоконструкций">Проектирование КМД</a></b> — 1%. Профессиональная разработка рабочей документации напрямую влияет на надежность металлоконструкций, качество и скорость монтажа, а квалификация опытных проектных инженеров требует достойной оплаты. Стоимость разработки документации зависит от сложности проекта и варьируется от 77 коп. до 2,5 руб. за кг. Крупные производители нередко запускают маркетинговые акции, например, предлагают новым заказчикам бесплатно разработать КМД при определенном тоннаже заказа. Такие акции позволяют стимулировать сбыт без ущерба для изготовителя.</li>
                <li><b><a href="/uslugi/dostavka/" target="_blank" class="text-color no-border" title="Доставка металлоконструкций">Доставка</a></b> — 2%. Затраты на логистику варьируются по степени удаленности объекта от производственной площадки, вида доставки и габаритов изделий. Отправочные марки конструкций транспортируются предварительно сгруппированными (без перекоса, перетягиваний) при помощи стальной ленты, бруса, картона. Профессиональный подход к транспортировке позволяет сохранять первоначальное качество продукции при разгрузке, транспортировке и монтаже.</li>
                </ol>
            </div>
        </section>
        
        <section>
            <div class="inner">
                <div class="applications-block br3 full-width">
                    <div class="flex">
                        <div class="block">
                            <div>Оперативный расчет стоимости поставки металлоконструкций под Ваш объект!</div>
                            <span class="button popup" data-url="/applications/popup/?application_type=price_raschet" data-goal="price_raschet">Получить расчет</span>
                        </div>
                        <div class="block">
                            <div>Или просто оставьте заявку на обратный звонок</div>
                            <span class="button popup" data-url="/applications/popup/?application_type=price_call" data-goal="price_call">Оставить заявку</span>
                        </div>
                    </div>
                    <span class="blured bg-cover hdr br3"></span>
                </div>  
            </div>
        </section>
        
        {include /templates/block.price.html}
        
        {include modules/calculator/templates/calculator.block.html}        
    
        {php:$application_type = 'mainpage_middle_second_have_questions_new';}
        {include /templates/includes/block.form.html}

        {include /templates/includes/schema.html}  
        
    </article>               
</main>

