<main  itemscope itemtype="http://schema.org/NewsArticle">
   <article itemprop="articleBody">
        <section>
            <div class="inner content">
                <h1 itemprop="headline">Прайс на строительные металлоконструкции</h1>
                <p>Группа компаний &laquo;СПМК&raquo; (Союз производителей металлоконструкций) предлагает прямым корпоративным заказчикам, генеральным и техническим подрядчикам <strong>надежное и взаимовыгодное сотрудничество по индивидуальному изготовлению, строительству металлокаркасных объектов на территории РФ</strong>!</p>
                <p>Удачное расположение производственной площадки в относительной близости застраиваемых регионов (Центральный, Северо-Западный, Южный, Поволжский), обширная база ресурсных возможностей, грамотное производственное планирование - позволяют нам поддерживать <strong>конкурентные цены на рынке стального строительства</strong>, а нашим заказчикам выгодно оборачивать инвестиции в промышленное и гражданское строительство на металлическом каркасе.</p>
                <h2>Справедливая цена на сварные металлоконструкции в России</h2>
                <p>Наша ценовая политика рассчитана на запросы основных участников строительной отрасли и формируется с учетом множества показателей. В расчете стоимости мы придерживаемся золотой середины - не завышаем цены и не демпингуем. Это позволяет нам сохранять устойчивые позиции на рынке и, что особенно важно, не подвергать рискам своих заказчиков, партнеров, поставщиков.</p>
                <p>Условная стоимость 1 тонны сварных строительных металлоконструкций составляет около 77 000 руб. с НДС. В детальной разбивке она включает 5 блоков основных затрат.</p>
                <h3>Закупка металлопроката - 68%</h3>
                <p>Правила диктуют металлургические комбинаты, отпуская металл заводам изготовителям по фактически единой стоимости. И только многолетние устойчивые связи, а так же крупные заказы (от 1 тыс. тонн) могут снизить закупочную стоимость максимум на 1-5%. Очевидно, что данное предложение доступно для производств с выпуском от 2 тыс. тонн в месяц.</p>
                <h3><a href="/uslugi/izgotovlenie/" title="Изготовление металлоконструкций">Изготовление металлоконструкций</a> &ndash; 25%</h3>
                <p>В эту цифру входят реальные производственные издержки, затраченные материалы, оплата труда и поддержание работоспособности оборудования. Предложения ниже 14тыс. руб. за тонну как правило влекут за собой экономию на качестве, а выше 38 тыс. руб. за тонну необоснованное обогащение продавца.</p>
                <h3>Антикоррозийные материалы и обработка &ndash; 4%.</h3>
                <p>Экономия на этой статье может свести на &laquo;нет&raquo; репутацию поставщика качественных металлоконструкций. Для заказчика такая экономия может обернуться непредвиденными ремонтами и расходами.</p>
                <h3><a href="/uslugi/proektirovanie/" title="Проектирование металлоконструкций">Проектирование КМД</a> &ndash; 1%</h3>
                <p>Профессиональная разработка рабочей документации напрямую влияет на прочность металлоконструкций, качество и скорость монтажа. А квалификация опытных проектных инженеров требует достойной оплаты. Стоимость разработки зависит от сложности проекта и варьируется от 77 коп. до 2,5 руб. за кг. Крупные производители нередко запускают маркетинговые акции, например, предлагают новым заказчикам бесплатно разработать КМД при определённом тоннаже заказа. Такие акции позволяют стимулировать сбыт без ущерба для заказчика.</p>
                <h3><a href="/uslugi/dostavka/" title="Доставка металлоконструкций">Доставка</a> &ndash; 2%.</h3>
                <p>Затраты на логистику варьируются по степени удаленности объекта от производственной площадки, вида доставки и габаритов изделий. Отправочные марки конструкций транспортируются предварительно сгруппированными (без перекоса, перетягиваний) при помощи стальной ленты, бруса, картона. Профессиональный подход к транспортировке позволяет сохранить первоначальное качество продукции за время пути, при разгрузке и монтаже.</p>
            </div>
        </section>
        
        <section>
            <div class="inner">
                <div class="applications-block br3 full-width">
                    <div class="flex">
                        <div class="block">
                            <div>Оперативный расчет стоимости поставки металлоконструкций под Ваш объект!</div>
                            <span class="button popup" data-url="/applications/popup/?application_type=mainpage_raschet">Получить расчет</span>
                        </div>
                        <div class="block">
                            <div>Или просто оставьте заявку на обратный звонок</div>
                            <span class="button popup" data-url="/applications/popup/?application_type=mainpage_call">Оставить заявку</span>
                        </div>
                    </div>
                    <span class="blured bg-cover hdr br3"></span>
                </div>  
            </div>
        </section>
        
        <section>
            <div class="inner content">
                <h2>Прайс на продукцию и услуги на 1 полугодие 2020г.</h2>
                <table class="price">
                    <thead>
                        <tr>
                        <td>Изготовление металлоконструкций (МК) / Наименование</td>
                        <td>Цена, руб./тонну</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Колонны несущие</td>
                            <td>от 17 800</td>
                        </tr>
                        <tr>
                            <td>Колонны пространственные</td>
                            <td>от 19000</td>
                        </tr>
                        <tr>
                            <td>Фермы</td>
                            <td>от 22 000</td>
                        </tr>
                        <tr>
                            <td>Вертикальные и горизонтальные связи</td>
                            <td>от 15 000</td>
                        </tr>
                        <tr>
                            <td>Прогоны</td>
                            <td>от 13 000</td>
                        </tr>
                        <tr>
                            <td>Балки перекрытий</td>
                            <td>от 20 300</td>
                        </tr>
                        <tr>
                            <td>Балки подкрановые</td>
                            <td>от 23 200</td>
                        </tr>
                        <tr>
                            <td>Балки из сварного двутавра</td>
                            <td>от 29 500</td>
                        </tr>
                        <tr>
                            <td>Лестничные марши со ступенями</td>
                            <td>от 34 000</td>
                        </tr>
                        <tr>
                            <td>Ограждения</td>
                            <td>от 38 000</td>
                        </tr>
                        <tr>
                            <td>Площадки обслуживания</td>
                            <td>от 25 000</td>
                        </tr>
                        <tr>
                            <td>Эстакады</td>
                            <td>от 26200</td>
                        </tr>
                        <tr>
                            <td>Норийные вышки</td>
                            <td>от 28 000</td>
                        </tr>
                        <tr>
                            <td>Ригели</td>
                            <td>от 18 000</td>
                        </tr>
                        <tr>
                            <td>Анкерные группы</td>
                            <td>от 31 000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                        <tr>
                            <td>Монтаж металлоконструкций (стоимость работ)</td>
                            <td>Цена, руб./тонну</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Монтаж металлоконструкций одноэтажных зданий/сооружений высотой до 15 м</td>
                            <td>от 13700/20 600/31 000</td>
                        </tr>
                        <tr>
                            <td>Монтаж металлоконструкций одноэтажных зданий/сооружений высотой от 15 до 24 м</td>
                            <td>от 17900/21 500/34 000</td>
                        </tr>
                        <tr>
                            <td>Монтаж металлоконструкций многоэтажных зданий высотой до 18 м</td>
                            <td>от 16000/22 400/36 600</td>
                        </tr>
                        <tr>
                            <td>Монтаж металлоконструкций многоэтажных зданий высотой дот 18 до 24 м</td>
                            <td>от 23000/25 700/39 500</td>
                        </tr>
                        <tr>
                            <td>Монтаж металлоконструкций многоэтажных зданий высотой от 24 до 30 м</td>
                            <td>от 25400/28 300/42 400</td>
                        </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                        <tr>
                            <td>Дополнительные услуги</td>
                            <td>Цена, руб./м2</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Обшивка зданий профлистом</td>
                            <td>от 350</td>
                        </tr>
                        <tr>
                            <td>Обшивка зданий сэндвич-панелями</td>
                            <td>от 400</td>
                        </tr>
                    </tbody>
                </table>
                <p>Важно! Стоимость изготовления металлоконструкций приведена с учетом подготовки поверхности и грунтованием толщиной до 40 мкм. Стоимость монтажа металлоконструкций приведена для трех вариантов соединения - болтовом/смешанном/сварном для на территории ЦФО (кроме г. Москва) без учета стоимости крепежных элементов. Стоимость дополнительных услуг зависит от объема работ, этажности зданий/сооружений.</p>
                <p>Обращаем Ваше внимание, что все размещенные на сайте материалы, включая цены, носят исключительно информационный характер, не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса Российской Федерации. Стоимость продукции может быть изменена в любое время без предварительного предупреждения.</p>
            </div>
        </section>
        
    
        {php:$application_type = 'mainpage_middle_second_have_questions_new';}
        {include /templates/includes/block.form.html}

        {include /templates/includes/contacts.html}
        {include /templates/includes/schema.html}  
    </article>               
</main>

