<section class="structure">
    <div class="inner">
        <h1>{if!empty $h1}{$h1}{else}Направления деятельности ГК «СПМК»{/if}</h1>

        <div class="list">
        
            <div class="item">
                <img src="/img/structure/1.jpg" alt="Конструкторское бюро ГК «СПМК»"/>
                <div class="text">
                    <span class="title">Основные направления деятельности Группы компаний «Союз производителей металлоконструкций»</span>
                    <p>Изготовление и монтаж металлоконструкций, строительство металлокаркасных объектов. А так же производство и продажа винтовых свай, кованных изделий серийного выпуска и по индивидуальным разработкам. На сегодняшний день, ГК «СПМК» – одна из немногих Компаний в России, работающих по полному циклу от проектирования до строительства «под ключ».</p>
                    <a href="/uslugi/" title="Услуги" class="button main-color" target="_blank">Подробнее</a>
                </div>
            </div>
        
            <div class="item">
                <div class="image-preview-list">
                    <div class="image-item">
                        <div class="image-wrapper bg-cover transition" style="background-image: url(/img/structure/p-1.jpg)"></div>
                        <div class="image-button"></div>
                    </div>
                    <div class="image-item">
                        <div class="image-wrapper bg-cover transition" style="background-image: url(/img/structure/p-2.jpg)"></div>
                        <div class="image-button"></div>
                    </div>
                    <div class="image-item">
                        <div class="image-wrapper bg-cover transition" style="background-image: url(/img/structure/p-3.jpg)"></div>
                        <div class="image-button"></div>
                    </div>
                </div>
                <div class="text">
                    <span class="title">Конструкторское бюро</span>
                    <p>
                        Состоит из 10 квалифицированных специалистов с высшим инженерно-техническим образованием и опытом работы в сфере проектирования от 5 до 37 лет.<br/><br/>
                        Специализация на документации разделов:<br/><br/>
                        <b>КМ</b> – конструкции металлические<br/>
                        <b>КМД</b> – конструкции металлические деталировка
                    </p>
                    <a href="/uslugi/proektirovanie/" title="Конструкторское бюро" class="button main-color" target="_blank">Подробнее</a>
                </div>
            </div>
        
            <div class="item">
                <img src="/img/structure/3.jpg" alt="Завод металлоконструкций «Конструктив»" />
                <div class="text">
                    <span class="title">Завод металлоконструкций</span>
                    <p>
                        Основной вид выпускаемой продукции: стальные металлоконструкции от 100 тонн для промышленного и гражданского строительства.<br/><br/>
                        Ежемесячно в производстве от 4 проектов общим весом металлоконструкций до 3000 тонн. Каждая из отправочных марок проходит визуальный и измерительный контроль. 
                    </p>
                    <a href="//constr62.ru" class="button main-color" target="_blank">Подробнее</a>
                </div>
            </div>
        
            <div class="item">
                {if!empty $montazh_photos}
                    <div class="image-preview-list">
                    {loop $montazh_photos,$p,$photo}
                        <div class="image-item">
                            <div class="image-wrapper bg-cover transition" style="background-image: url(/img/uploads/med/{$photo['subfolder']}/{$photo['name']})"></div>
                            <div class="image-button"></div>
                        </div>

                    {/loop $montazh_photos}
                    </div>                    
                {else}
                    <img src="/img/structure/4.jpg" />
                {/if}
                <div class="text">
                    <span class="title">Строительно-монтажное управление</span>
                    <p>
                        Осуществляет профессиональный монтаж металлоконструкций любой сложности с использованием современной строительной техники.<br/><br/>
                        Все виды строительно-монтажных работ подтверждены сертификатами и допусками.
                    </p>
                    <a href="/uslugi/montazh/" title="Строительно-монтажное управление" class="button main-color" target="_blank">Подробнее</a>
                </div>
            </div>
        
            <div class="item">
                <img src="/img/structure/5.jpg" />
                <div class="text">
                    <span class="title">Транспортно-складское управление</span>
                    <p>
                        Основная задача управления для клиентов ГК «СМПК» – обеспечить оптимальный логистический маршрут отгрузки готовой продукции.<br/><br/>
                        А так же обеспечить перемещения большого объема разнообразных грузов  внутри самого предприятия.
                    </p>
                    <a href="/uslugi/dostavka/" title="Доставка металлоконструкций" class="button main-color" target="_blank">Подробнее</a>
                </div>
            </div>
        
            <div class="item">
                <div class="image-preview-list">
                    <div class="image-item">
                        <div class="image-wrapper bg-cover transition" style="background-image: url(/img/structure/svai-1.jpg)"></div>
                        <div class="image-button"></div>
                    </div>
                    <div class="image-item">
                        <div class="image-wrapper bg-cover transition" style="background-image: url(/img/structure/svai-2.jpg)"></div>
                        <div class="image-button"></div>
                    </div>
                    <div class="image-item">
                        <div class="image-wrapper bg-cover transition" style="background-image: url(/img/structure/svai-3.jpg)"></div>
                        <div class="image-button"></div>
                    </div>
                </div>

                <div class="text">
                    <span class="title">Производство винтовых свай</span>
                    <span class="new">Новое направление</span>
                    <p>
                        Производство и продажа различных типоразмеров винтовых свай с конусообразным наконечником со стандартными либо усиленными оголовками.<br/><br/>
                        Налажен выпуск свай диаметром от 53 до 350 мм и длиной от 1 до 7 метров.
                    </p>
                    <a href="https://spmk.group/assortment/vintovye_svai/" class="button main-color" target="_blank">Подробнее</a>
                </div>
            </div>
            
            <div class="item">
                <img src="/img/structure/7.jpg" />
                <div class="text">
                    <span class="title">Кузница художественной ковки</span>
                    <p>
                        Основное направление – воплощение идей заказчиков в изделия. Ассортимент включает разнообразную продукцию  для использования в квартирах и загородных домах, в саду и придомовом участке.  
                    </p>
                    <!--span class="button main-color external-link" data-new-tab="true">Подробнее</span-->
                </div>
            </div>
        
        </div>
    </div>
</section>

<section class="content-list similar">
    <div class="inner">
        <h2>НОВОСТИ ГРУППЫ КОМПАНИЙ</h2>
        {block news/block}
    </div>
</section>


{include /templates/includes/contacts.html}

{include /templates/includes/block.form.html}
