<section class="page-info">
    <div class="inner">
        <h1>{if!empty $h1}{$h1}{else}О заводе{/if}</h1>
        <div class="annotation" style="margin: -30px auto 60px auto">
            <b>Производство сварных металлических конструкций для строительства зданий и сооружений металлоемкостью от 200 тонн.</b>
        </div>
        <div class="navigation">
            <a href="#assortment">Популярный ассортимент</a>
            <a href="#workshops">Цеха</a>
            <a href="#digits">Цифры</a>
            <a href="#preferences">Преимущества</a>
            <a href="#objects">Объекты</a>
        </div>
        
        <div class="annotation to-left">
            <p>Завод металлоконструкций - ключевое предприятие Группы компаний "Союз производителей металлоконструкций".</p>
            <p>Технологические мощности завода и профессионализм персонала позволяют брать в работу сложные, трудоемкие проекты, выпускать металлические конструкции в требуемые Заказчиком сроки. Надежность и безопасность будущих объектов металлокаркасного строительства обеспечивает неукоснительное следование требованиям СНиПов и ГОСТов, а так же собственная лаборатория УЗК. Ассортимент продукции завода металлических конструкций ГК "СПМК" (г. Рязань) закрывает основную часть потребностей строительной отрасли. Предлагаем металлоконструкции для промышленных, гражданских, коммерческих объектов и других на заказ. Запросите расчет на изготовление металлоконструкций сейчас и получите предложение, от которого невозможно отказаться.</p>
        </div>        
    </div>
</section>

<section class="production flicky" id="assortment">
    <div class="inner">
        <h2>Популярный ассортимент</h2>
    </div>
    <div class="inner">{block assortment/block}</div>
</section>

<section class="application-lead ">
    <div class="inner">
        <span class="button popup" data-url="/applications/popup/?application_type=zavod_price" data-goal="zavod_price">Запросить расчет</span>
        <b>Оперативный расчет стоимости поставки металлоконструкций по запросу</b>
        Запрос обрабатывается значительно быстрее при наличии в обращении рабочей документации проекта - чертежей стадии КМ, спецификации металлопроката.<br>
        Проекты с металлоемкостью от 200 тонн запускаются в обработку первыми.
    </div>
</section>

<section class="workshops bg-cover carousel-vertical main-color dark-bg" id="workshops" style="background-image:url(/img/workshops-bg.jpg)">
    <div class="inner">
        <h2 class="invert">Цеха. Производственные участки</h1>
        <ul class="filter flex">
            <li data-pos="1">Линия дробейструйной<br/> обработки</li>
            <li class="active" data-pos="2">Заготовительный<br/>цех</li>
            <li data-pos="3">Линия сварного<br/>двутавра</li>
            <li data-pos="4">Сварочно-сборочный<br/>цех</li>
            <li data-pos="5">Малярный<br/>цех</li>
            <li data-pos="6">ОТК<br/> и лаборатория</li>
        </ul>
        
        <div class="content">
        
            <div class="item" data-pos="1">
                <span class="title">Линия дробейструйной обработки</span>
                <span class="annotation">входного металлопроката</span>
                <ul>
                    <li>Обработка профильного и листового проката длиной до 12500 мм,шириной до 2500 мм</li>
                    <li>Повышенная защита от коррозийно-механических и усталостных повреждений</li>
                    <li>Очистка до степени 2 по ГОСТ 9.402-2004</li>
                </ul>
                <!--span class="button big popup main-color" data-url="/applications/popup/?application_type=zavod_ceha_raschet">Получить расчет</span-->
            </div>
            <div class="item active" data-pos="2">
                <span class="title">Заготовительный<br/>цех</span>
                <span class="annotation"></span>
                <ul>
                    <li>Раскрой, сверловка, фрезеровка листового и профильного металлопроката</li>
                    <li>Используются листовые и фасонные ножницы, ленточные пилы, аппараты резки с ЧПУ</li>
                    <li>Резка и сверление отверстий до 9 различных диаметров</li>
                </ul>
                <!--span class="button big popup main-color" data-url="/applications/popup/?application_type=zavod_ceha_raschet">Получить расчет</span-->
            </div>
            <div class="item" data-pos="3">
                <span class="title">Линия сварного<br/>двутавра</span>
                <span class="annotation"></span>
                <ul>
                    <li>Автоматическая газовая резка, сборка и сварка балки под флюсом</li>
                    <li>Основные параметры: длина до 16 000 мм, толщины от 4 до 50 мм, высота стенки от 200 до 2 000 мм, вес до 10 тонн.</li>
                    <li>Удаление деформации полок балки на стане исправления «грибовидности»</li>
                    <li>Стыковые швы выполняются с полным проваром и проходят 100% ультразвуковой контроль</li>
                </ul>
                <!--span class="button big popup main-color" data-url="/applications/popup/?application_type=zavod_ceha_raschet">Получить расчет</span-->
            </div>
            <div class="item" data-pos="4">
                <span class="title">Сварочно-сборочный<br/>цех</span>
                <span class="annotation"></span>
                <ul>
                    <li>Сборка и обварка фасонных элементов длиной до 1 500 мм, шириной до 20 000 мм, высотой до 12 000 мм</li>
                    <li>Материалы, технологии и оборудование сертифицировано НАКС</li>
                    <li>Ультразвуковой контроль сварочного шва</li>
                </ul>
                <!--span class="button big popup main-color" data-url="/applications/popup/?application_type=zavod_ceha_raschet">Получить расчет</span-->
            </div>
            <div class="item" data-pos="5">
                <span class="title">Малярный<br/>цех</span>
                <span class="annotation"></span>
                <ul>
                    <li>Грунтовка и покраска металлоконструкций методами безвоздушной покраски</li>
                    <li>S участка = 5000 м2 позволяет вести малярные работы по 4 проектам одновременно</li>
                    <li>Цветовая палитра ЛКМ по RAL, более 10 вариантов производителей</li>
                </ul>
                <!--span class="button big popup main-color" data-url="/applications/popup/?application_type=zavod_ceha_raschet">Получить расчет</span-->
            </div>
            <div class="item" data-pos="6">
                <span class="title">ОТК<br/> и лаборатория</span>
                <span class="annotation"></span>
                <ul>
                    <li>Визуальный и измерительный контроль оборудования, материалов и металлоконструкций</li>
                </ul>
                <!--span class="button big popup main-color" data-url="/applications/popup/?application_type=zavod_ceha_raschet">Получить расчет</span-->
            </div>
            
        </div>
    </div>
</section>
<section class="tour-form" id="tour-form">
    <div>
        <form class="flex ajaxed" action="/applications/add/tour/">
            <input type="hidden" name="application_type" value="excursion">
            <div class="text">
                <b>ЗАЯВКА НА ЭКСКУРСИЮ ПО ЗАВОДУ</b>
                Хотите увидеть завод своими глазами? Оставьте заявку на экскурсию.<br/>
                Мы вам перезвоним и договоримся о деталях визита.
            </div>
            <div class="row">
                <input type="text" placeholder="Имя" name="name" required="required" />
            </div>
            <div class="row">
                <input type="phone" placeholder="Телефон" name="phone" required="required"  />
            </div>
            <div class="row">
                <i  data-icon="date_range"></i>
                <input type="text" placeholder="Дата визита" name="date" required="required" />
            </div>
            <div class="row">
                <input type="submit" class="button" value="Отправить">
            </div>
            <input type="hidden" name="recaptcha_response" data-public="{php:echo Config::Get('recaptcha/public')}">
        </form> 
    </div>       
</section>

<section class="digits" id="digits">
    <div class="inner">
    <h2>Завод в цифрах</h2>
        <ul class="flex">
            <li>
                <b>10+</b>лет работы
            </li>
            <li>
                <b>24/7</b>бесперебойное производство
            </li>
            <li>
                <b>4+</b>производственные площадки
            </li>
            <li>
                <b>25 000<sup>м2</sup></b>площадь производства
            </li>
            <li>
                <b>500</b>тонн средний вес одного проекта
            </li>
            <li>
                <b>200+</b>сотрудников высокой квалификации
            </li>
            <li>
                <b><sub>от</sub> 14 000</b>руб. за тонну
            </li>
            <li>
                <b>3000+</b>тонн в месяц
            </li>
            <li>
                <b>5 лет</b>гарантии на металлоконструкции
            </li>
        </ul>
    </div>
</section>
 <section class="news flicky" id="news">
    <div class="inner" data-aos="fade">
        <h2>Новости</h2>
        {block news/block/?count=4}
    </div>
</section>

<section class="preferences bg-cover" id="preferences" style="background-image:url(/img/preferences-bg.jpg)">
    <div class="inner">
        <h2 class="invert">Преимущества завода</h2>
        <ul class="flex">
            <li>
                <img src="/img/preferences/1.svg">
                <span>Заводское изготовление всех элементов</span>
            </li>
            <li>
                <img src="/img/preferences/2.svg">
                <span>Продукция сертифицирована</span>
            </li>
            <li>
                <img src="/img/preferences/3.svg">
                <span>Входной и выходной контроль качества</span>
            </li>
            <li>
                <img src="/img/preferences/4.svg">
                <span>Высокие антикоррозийные свойства</span>
            </li>
            <li>
                <img src="/img/preferences/5.svg">
                <span>Точное соблюдение габаритов</span>
            </li>
            <li>
                <img src="/img/preferences/6.svg">
                <span>Оптимальная цена</span>
            </li>
        </ul>
    </div>
</section>

<section class="objects flicky" id="objects">
    <div class="inner" data-aos="fade">
        <h2>Выполненные проекты</h2>
        {block objekty/block/?v=2}
    </div>
</section> 



{include /templates/includes/block.form.html}
