<section class="page-info">
    <div class="inner">
        <h1>{if!empty $h1}{$h1}{else}О заводе{/if}</h1>
        <div class="annotation" style="margin: -30px auto 60px auto">
            <b>Производство сварных металлических конструкций для строительства зданий и сооружений металлоемкостью от 200 тонн.</b>
        </div>
        <div class="navigation">
            <a href="#assortment">Продукция</a>
            <a href="#workshops">Цеха</a>
            <a href="#digits">Цифры</a>
            <a href="#preferences">Преимущества</a>
            <a href="#objects">Объекты</a>
        </div>
        
        <div class="annotation to-left">
            <p>Завод металлоконструкций "СПМК" предлагает Генеральным и Техническим подрядчикам свои компетенции по производству строительных металлоконструкций в соответствии с ГОСТ 23118-2012 и СП 53-101-98 для эффективного решения индивидуальных задач в области металлокаркасного строительства.</p>
            
            <p><strong>Основная продукция.</strong> Это конструктивные элементы несущих стальных каркасов зданий и сооружений промышленного и коммерческого назначения по индивидуальным проектам стадии КМ, представленных Заказчиками. Продукция преимущественно состоит из колонн, опор, балок, ферм, фахверков и связей, изготавливается исключительно из сортового профильного и листового металлопроката. Каждая поставка металлоконструкций сопровождается паспортами качества, сертификатами на используемые материалы.</p>
            
            <p><strong>Процессы производства металлоконструкций.</strong> В производстве металлоконструкций задействовано больше 280 человек, а сам завод располагает мощной выскопроизводительной технической базой на площади почти 30 000 м2. Квалификация сварщиков, оборудование, технология сварки подтверждены сертификатами и аттестатами НАКС. Сегодня завод способен исполнить задачи разного уровня сложности на каждом этапе производственного процесса, который включает: входной контроль и очистку металлопроката, заготовок, полуфабриката; резку, гибку, фрезеровку и сверление сортового металлопроката; сборку-сварку конструкций и их контрольную сборку; ВИК и УЗК продукции, нанесение АКП и прочие процессы. Высокий уровень компетенций и бесперебойное производство позволяет брать в работу сложные, трудоемкие проекты, обеспечивать поставку продукции в удобные заказчикам графики.</p>
            
            <p><strong>Требования к заявкам на расчет.</strong> Для корректного расчета стоимости поставки металлоконструкций на ваш объект потребуется соблюдение двух простых правил: предоставить чертежи марки КМ со спецификаций металлопроката и быть на связи по указанным Вами контактным данным. Заявки с выполненными условиями запускаются в обработку первыми и имеют наивысший приоритет.</p>
            
            <p><strong>Завод нацелен на развитие и увеличение производственного потенциала. Будем рады видеть Вас в числе Заказчиков!</strong></p>
        </div>        
    </div>
</section>

<section class="production flicky" id="assortment">
    <div class="inner">
        <h2>Продукция</h2>
    </div>
    <div class="inner">{block assortment/block}</div>
</section>

<section class="application-lead ">
    <div class="inner">
        <span class="button popup" data-url="/applications/popup/?application_type=zavod_raschet" data-goal="zavod_price">Запросить расчет</span>
        <b>Оперативный расчет стоимости поставки металлоконструкций по запросу</b>
        Запрос обрабатывается значительно быстрее при наличии в обращении рабочей документации проекта: чертежей стадии КМ, спецификации металлопроката.<br>
        Проекты с металлоемкостью от 200 т запускаются в обработку первыми.
    </div>
</section>

<section class="workshops bg-cover carousel-vertical main-color dark-bg" id="workshops" style="background-image:url(/img/workshops/zagotovitelnyi.jpg)">
    <div class="inner">
        <h2 class="invert">Цеха. Производственные участки</h2>
        <ul class="filter flex">
            <li data-pos="1" data-bg="/img/workshops/drobestruynaya-obrabotka.jpg">Линия дробеметной<br/> обработки</li>
            <li class="active" data-pos="2" data-bg="/img/workshops/zagotovitelnyi.jpg">Заготовительный<br/>цех</li>
            <li data-pos="3" data-bg="/img/workshops/svarnoy-dvutavr.jpg">Линия сварного<br/>двутавра</li>
            <li data-pos="4" data-bg="/img/workshops/svarochno-sborochnyi.jpg">Сварочно-сборочный<br/>цех</li>
            <li data-pos="5" data-bg="/img/workshops/malyarnyi.jpg">Малярный<br/>цех</li>
            <li data-pos="6" data-bg="/img/workshops/otk.jpg">ОТК<br/> и лаборатория</li>
        </ul>
        
        <div class="content">
        
            <div class="item" data-pos="1">
                <span class="title">Линия дробеметной обработки</span>
                <ul>
                    <li>Обработка профильного и листового проката длиной до 12500 мм,шириной до 2500 мм</li>
                    <li>Повышенная защита от коррозийно-механических и усталостных повреждений</li>
                    <li>Очистка до степени 2 по ГОСТ 9.402-2004</li>
                </ul>
            </div>
            <div class="item active" data-pos="2">
                <span class="title">Заготовительный<br/>цех</span>
                
                <ul>
                    <li>Раскрой, сверловка, фрезеровка листового и профильного металлопроката при помощи ленточных пил, аппаратов резки с ЧПУ</li>
                    <li>Резка и сверление отверстий любого диаметра</li>
                </ul>
            </div>
            <div class="item" data-pos="3">
                <span class="title">Линия сварного<br/>двутавра</span>
                
                <ul>
                    <li>Автоматическая газовая резка, сборка и сварка листобалки под флюсом</li>
                    <li>Основные параметры: длина — до 16 000 мм, толщина — от 4 до 50 мм, высота стенки — от 350 до 2000 мм, вес — до 10 т.</li>
                    <li>Удаление деформации полок балки на стане исправления «грибовидности»</li>
                    <li>Стыковые швы выполняются с полным проваром и проходят 100%-й ультразвуковой контроль</li>
                </ul>
            </div>
            <div class="item" data-pos="4">
                <span class="title">Сварочно-сборочный<br/>цех</span>
                
                <ul>
                    <li>Сборка и обварка отправочных марок длиной до  500 мм, шириной до 20 000 мм, высотой до 12 000 мм</li>
                    <li>Материалы, технологии и оборудование сертифицированы НАКС</li>
                    <li>Выполняется ультразвуковой контроль сварочного шва</li>
                </ul>
            </div>
            <div class="item" data-pos="5">
                <span class="title">Малярный<br/>цех</span>
                
                <ul>
                    <li>Грунтовка и покраска металлоконструкций безвоздушным методом</li>
                    <li>Площадь участка составляет 5000 кв. м, что позволяет вести малярные работы по 4 проектам одновременно</li>
                    <li>Применяется цветовая палитра ЛКМ по RAL, используются краски более 10 производителей</li>
                    <li>Цветовая палитра ЛКМ определяется по RAL на выбор заказчика </li>
                </ul>
            </div>
            <div class="item" data-pos="6">
                <span class="title">ОТК<br/> и лаборатория</span>
                
                <ul>
                    <li>Визуальный и измерительный контроль оборудования, материалов и металлоконструкций</li>
                    <li>Ультразвуковая дефектоскопия сварного шва</li>
                </ul>
            </div>
            
        </div>
    </div>
</section>
<section class="tour-form" id="tour-form">
    <div>
        <form class="flex ajaxed" action="/applications/add/tour/">
            <input type="hidden" name="application_type" value="excursion">
            <div class="text">
                <b>ЗАЯВКА НА ЭКСКУРСИЮ ПО ЗАВОДУ</b>
                Хотите увидеть завод своими глазами? Оставьте заявку на экскурсию.<br/>
                Мы вам перезвоним и договоримся о деталях визита.
            </div>
            <div class="row">
                <input type="text" placeholder="Имя" name="name" required="required" />
            </div>
            <div class="row">
                <input type="phone" placeholder="Телефон" name="phone" required="required"  />
            </div>
            <div class="row">
                <i  data-icon="date_range"></i>
                <input type="text" placeholder="Дата визита" name="date" required="required" />
            </div>
            <div class="row">
                <input type="submit" class="button" value="Отправить">
            </div>
            <input type="hidden" name="recaptcha_response" data-public="{php:echo Config::Get('recaptcha/public')}">
        </form> 
    </div>       
</section>

<section class="digits" id="digits">
    <div class="inner">
    <h2>Завод в цифрах</h2>
        <ul class="flex">
            <li>
                <b>7</b>производственных участков
            </li>
            <li>
                <b>30 000</b>суммарная площадь цехов, м2
            </li>
            <li>
                <b>24/7</b>бесперебойное производство
            </li>
            <li>
                <b>от 14 000</b>стоимость изготовления, руб./тонна
            </li>
            <li>
                <b>4 000</b>максимальная производительность, тонн/мес
            </li>
            <li>
                <b>от 200</b>металлоемкость проектов в производстве, тонн
            </li>
            <li>
                <b>10+</b>заказов в работе одновременно
            </li>
            <li>
                <b>280+</b>штат сотрудников, чел
            </li>
            <li>
                <b>60</b>гарантия на металлоконструкции, мес
            </li>
        </ul>
    </div>
</section>
 <section class="news flicky" id="news">
    <div class="inner" data-aos="fade">
        <h2>Новости</h2>
        {block news/block/?count=4}
    </div>
</section>

<section class="preferences bg-cover" id="preferences" style="background-image:url(/img/preferences-bg.jpg)">
    <div class="inner">
        <h2 class="invert">Преимущества завода</h2>
        <ul class="flex">
            <li>
                <img loading="lazy" src="/img/preferences/1.svg">
                <span>Заводское изготовление всех элементов</span>
            </li>
            <li>
                <img loading="lazy" src="/img/preferences/2.svg">
                <span>Продукция сертифицирована</span>
            </li>
            <li>
                <img loading="lazy" src="/img/preferences/3.svg">
                <span>Сквозной контроль</span>
            </li>
            <li>
                <img loading="lazy" src="/img/preferences/4.svg">
                <span>Высокие антикоррозийные свойства</span>
            </li>
            <li>
                <img loading="lazy" src="/img/preferences/5.svg">
                <span>Точное соблюдение габаритов</span>
            </li>
            <li>
                <img loading="lazy" src="/img/preferences/6.svg">
                <span>Оптимальная цена на услуги</span>
            </li>
        </ul>
    </div>
</section>

<section class="objects flicky" id="objects">
    <div class="inner" data-aos="fade">
        <h2>Выполненные проекты</h2>
        {block objekty/block/?v=2}
    </div>
</section> 



{include /templates/includes/block.form.html}
