<section class="page-info">
    <div class="inner">
        <h1>О заводе</h1>
        <div class="navigation">
            <a href="#digits">Цифры</a>
            <a href="#workshops">Цеха</a>
            <a href="#assortment">Ассортимент</a>
            <a href="#preferences">Преимущества</a>
        </div>
        
        <div class="annotation">
            Завод ГК «СПМК» — это комплексный промышленный девелопмент, включающий в себя
            весь цикл работ по проектированию и строительству металлокаркасных объектов.
        </div>
    </div>
</section>

<section class="digits" id="digits">
    <div class="inner">
    <h2>Цифры о заводе</h2>
        <ul class="flex">
            <li>
                <b>10+</b>лет работы
            </li>
            <li>
                <b>24/7</b>бесперебойное производство
            </li>
            <li>
                <b>4+</b>производственные площадки
            </li>
            <li>
                <b>25 000<sup>м2</sup></b>производственных мощностей
            </li>
            <li>
                <b>500</b>тонн средний объем одного проекта
            </li>
            <li>
                <b>500+</b>сотрудников высокой квалификации
            </li>
            <li>
                <b>40 000</b>руб. за тонну
            </li>
            <li>
                <b>3500+</b>тонн в месяц
            </li>
            <li>
                <b>5 лет</b>гарантии на металлоконструкции
            </li>
        </ul>
    </div>
</section>

<section class="workshops bg-cover carousel-vertical main-color dark-bg" id="workshops" style="background-image:url(/img/workshops-bg.jpg)">
    <div class="inner">
        <h2 class="invert">Цеха. Производственные участки</h1>
        <ul class="filter flex">
            <li class="active" data-pos="1">Линия дробейструйной<br/> обработки</li>
            <li data-pos="2">Заготовительный<br/>цех</li>
            <li data-pos="3">Линия сварного<br/>двутавра</li>
            <li data-pos="4">Сварочно-сборочный<br/>цех</li>
            <li data-pos="5">Малярный<br/>цех</li>
            <li data-pos="6">ОТК<br/> и лаборатория</li>
        </ul>
        
        <div class="content">
        
            <div class="item active" data-pos="1">
                <span class="title">Линия дробейструйной обработки</span>
                <span class="annotation">входного металлопроката</span>
                <ul>
                    <li>Обработка профильного и листового проката длиной до 12500 мм,шириной до 2500 мм</li>
                    <li>Повышенная защита от коррозийно-механических и усталостных повреждений</li>
                    <li>Очистка до степени 2 по ГОСТ 9.402-2004</li>
                </ul>
                <span class="button big popup main-color" data-url="/applications/popup/">Получить расчет</span>
            </div>
            <div class="item" data-pos="2">
                <span class="title">Заготовительный<br/>цех</span>
                <span class="annotation"></span>
                <ul>
                    <li>Раскрой, сверловка, фрезеровка листового и профильного металлопроката</li>
                    <li>Используются листовые и фасонные ножницы, ленточные пилы, аппараты резки с ЧПУ</li>
                    <li>Резка и сверление отверстий до 9 различных диаметров</li>
                </ul>
                <span class="button big popup main-color" data-url="/applications/popup/">Получить расчет</span>
            </div>
            <div class="item" data-pos="3">
                <span class="title">Линия сварного<br/>двутавра</span>
                <span class="annotation"></span>
                <ul>
                    <li>Автоматическая газовая резка, сборка и сварка балки под флюсом</li>
                    <li>Max длина 16 000 мм, толщины от 4 до 50 мм, высота стенки от 200 до 2000 мм</li>
                    <li>Ультразвуковой контроль сварочного шва</li>
                </ul>
                <span class="button big popup main-color" data-url="/applications/popup/">Получить расчет</span>
            </div>
            <div class="item" data-pos="4">
                <span class="title">Сварочно-сборочный<br/>цех</span>
                <span class="annotation"></span>
                <ul>
                    <li>Сборка и обварка фасонных элементов длиной до 1 500 мм, шириной до 20 000 мм, высотой до 12 000 мм</li>
                    <li>Материалы, технологии и оборудование сертифицировано НАКС</li>
                    <li>Ультразвуковой контроль сварочного шва</li>
                </ul>
                <span class="button big popup main-color" data-url="/applications/popup/">Получить расчет</span>
            </div>
            <div class="item" data-pos="5">
                <span class="title">Малярный<br/>цех</span>
                <span class="annotation"></span>
                <ul>
                    <li>Грунтовка и покраска металлоконструкций методами безвоздушной покраски</li>
                    <li>S участка = 5000 м2 позволяет вести малярные работы по 4 проектам одновременно</li>
                    <li>Цветовая палитра ЛКМ по RAL, более 10 вариантов производителей</li>
                </ul>
                <span class="button big popup main-color" data-url="/applications/popup/">Получить расчет</span>
            </div>
            <div class="item" data-pos="6">
                <span class="title">ОТК<br/> и лаборатория</span>
                <span class="annotation"></span>
                <ul>
                    <li>Визуальный и измерительный контроль оборудования, материалов и металлоконструкций</li>
                </ul>
                <span class="button big popup main-color" data-url="/applications/popup/">Получить расчет</span>
            </div>
            
        </div>
    </div>
</section>

<section class="tour-form">
    <div>
        <form class="flex ajaxed" action="/applications/add/tour/">
        
            <div class="text">
                <b>ЗАЯВКА НА ЭКСКУРСИЮ ПО ЗАВОДУ</b>
                Хотите увидеть завод своими глазами? Оставьте заявку на экскурсию.<br/>
                Мы вам перезвоним и договоримся о деталях визита.
            </div>
            <div class="row">
                <input type="text" placeholder="Имя" name="name" required="required" />
            </div>
            <div class="row">
                <input type="phone" placeholder="Телефон" name="phone" />
            </div>
            <div class="row">
                <i  data-icon="date_range"></i>
                <input type="text" placeholder="Дата визита" name="date"/>
            </div>
            <div class="row">
                <span class="button">Отправить</span>
            </div>
        </form> 
    </div>       
</section>


<section class="production" id="assortment">
    <div class="inner">
        <h2>Ассортимент</h2>
    </div>
    {block assortment/block}
</section>

<section class="application-lead">
    <span class="button popup" data-url="/applications/popup/">Оставить заявку</span>
    <b>Интересует стоимость производства и монтажа?</b>
    Оставьте заявку и наши менеджеры свяжутся с Вами в ближайшие сроки!
</section>


<section class="preferences bg-cover" id="preferences" style="background-image:url(/img/preferences-bg.jpg)">
    <div class="inner">
        <h2 class="invert">Преимущества завода</h2>
        <ul class="flex">
            <li>
                <img src="/img/preferences/1.svg">
                <span>Заводское изготовление всех элементов</span>
            </li>
            <li>
                <img src="/img/preferences/2.svg">
                <span>Продукция сертифицирована</span>
            </li>
            <li>
                <img src="/img/preferences/3.svg">
                <span>Входной и выходной контроль качества</span>
            </li>
            <li>
                <img src="/img/preferences/4.svg">
                <span>Высокие антикоррозийные свойства</span>
            </li>
            <li>
                <img src="/img/preferences/5.svg">
                <span>Точное соблюдение габаритов</span>
            </li>
            <li>
                <img src="/img/preferences/6.svg">
                <span>Оптимальная цена</span>
            </li>
        </ul>
    </div>
</section>

{include /templates/includes/contacts.html}

{include /templates/includes/block.form.html}
