                        </table>  
                    </td>
                </tr>
              
               
                <tr><td colspan="2" height="20"></td></tr>
                
                <tr>
                    <td colspan="3" align="left" valign="top" style="font-size: 14px;color: #B9B9B9;text-align: left;"> 
                        © {php:echo date('Y')} СПМК. Все права защищены.
                    </td>
                </tr>
                
                <tr style="background: #F8F8F8;"><td colspan="2" height="40"></td></tr>
            </table>  
        </td>
    </tr>
</table>

</center>
</body>
</html>