<!DOCTYPE html>
<html lang="ru" itemscope itemtype="http://webmaster.yandex.ru/vocabularies/term-def.xml">
<head itemscope itemtype="http://schema.org/WebSite">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{if!empty $mailer_title}<title>{$mailer_title}</title>{/if}
{literal}
<style>
div, td { font-family: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif; text-align:left; font-size:16px; color:#000;}
body {width:100%!important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; color:#000; margin:0; padding:0;font-family: 'Roboto', Arial, Helvetica, sans-serif; color:#333;font-size:16px;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
</style>
{/literal}
</head>
<body>
<center style="background: #F8F8F8;">

<table class="wrapper" width="580" border="0" cellspacing="0" cellpadding="0" style="background: #fff;padding:0;margin:0;font-family: 'Roboto', Arial, Helvetica, sans-serif; ">
    <tbody><tr>
        <td>
            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="background: #F8F8F8; padding: 0; margin:0;">
                <tbody><tr><td colspan="2" height="40" style="background: #F8F8F8;"></td></tr>
               
                <tr>
                    <td colspan="2">
                        <table width="580" border="0" cellspacing="0" cellpadding="40" align="center" style="background: #fff; padding: 40px; margin:0; border-radius: 3px;">

                        <tr>
                            <td colspan="2" align="left" style="text-align:left;background: #fff; padding: 0 0 40px 0;" valign="middle">
                                <img class="fiximg" src="{$full_host}/img/logo.png" width="47" height="49" border="0" style="display:block;" align="left">
                            </td>
                        </tr>
 