<div id="modal-enter" class="modal modal-enter">
    <a href="#" class="modal-close-btn closebutton"></a>
    <div class="modal-title">Восстановление пароля</div>
    <form action="/lostpassword/sent/" class="modal-form">
        <div class="form-block">
            <div class="form-block-title">Логин</div>
            <label class="input-block">
                <input type="text" id="login" name="login" class="input" required="required" placeholder="Введите ваш логин">
            </label>
        </div> 
        <div class="submit-wrapp">
            <button type="submit" class="btn btn-big btn-block submit">Отправить</button>
        </div>
    </form>
</div>
