<section class="hero-container blured transition">
    <div class="central-container clearfix">
        <h1>Смена пароля</h1>
    </div>
</section>
<section class="narrow-container">
{if!empty $wrong_email_code}
    <h2 style="width: 500px; margin: 100px auto; line-height: 30px; text-align: center;">
        Неверные параметры для восстановления.<br />Попробуйте восстановить ваш пароль еще раз
    </h2>
{else}

    <form class="standart small-shadow br3" method="POST" action="">
        <input type="hidden" name="submit" value="1"/>
        <input type="hidden" name="email" value="{$get_parameters['email']}" autocomplete="off" disabled="disabled"/>
        <input type="hidden" name="code" value="{$get_parameters['code']}" autocomplete="off" disabled="disabled"/>
        
        <div class="row">
            <span class="title">Новый пароль</span>
            <input type="password" name="newpass1" id="reg_newpass1" value="{$fields['newpass1']}"{if!empty $errors['newpass1']} class="red-border" title="{$errors['newpass1']}"{/if} autocomplete="off" placeholder="" autofocus/>
            {if!empty $errors['newpass1']}<div class="error">{$errors['newpass1']}</div>{/if}
        </div>
        
        <div class="row">
            <span class="title">Повторите пароль</span>
            <input type="password" name="newpass2" id="reg_newpass2" value="{$fields['newpass2']}"{if!empty $errors['newpass2']} class="red-border" title="{$errors['newpass2']}"{/if} autocomplete="off" placeholder=""/>
            {if!empty $errors['newpass2']}<div class="error">{$errors['newpass2']}</div>{/if}
        </div>

        <div class="row button-container">
            <button type="submit" value="commit" name="submit" class=" send ">Сменить пароль</button>
        </div>
    </form>
{/if}
</section>